<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=2.0">
    <meta name="theme-color" content="#db5945">
    <title>Кредит онлайн на карту в Украине. Взять деньги в займы быстро через интернет - Mycredit</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Взять кредит онлайн на карточку в Украине. Можете срочно взять деньги в кредит. Предлагаем быстро оформить займ на любую банковскую карту. Получить моментальный займ онлайн на банковский счет до 10000 грн. Экспресс одобрение заявки за 20 минут" />
    <meta name="yandex-verification" content="e9b6a2ccdf1c2a26" />
    <meta name="google-site-verification" content="DHkY6ywkpSEqaHBG1aQTBj651kRzAPjpSFXRPSrsERE" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="css/content-page.min.css">
</head>

<body class="home-page">
    <div class="bat">
        <svg version="1.1" id="bat" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 227 222.9470673" style="enable-background:new 0 0 227 222.9470673;" xml:space="preserve">
            <style type="text/css">
            .st0 {
                fill: #0E2929;
            }

            .st1 {
                fill: #0C2121;
            }

            .st2 {
                fill: #1C4F4F;
            }

            .st3 {
                fill: #226161;
            }

            .st4 {
                fill: #2E8282;
            }

            .st5 {
                fill: #081717;
            }

            .st6 {
                fill: #0B1F1F;
            }

            .st7 {
                fill: #133636;
            }

            .st8 {
                fill: #0F2B2B;
            }

            .st9 {
                fill: url(#SVGID_1_);
            }

            .st10 {
                fill: url(#SVGID_2_);
            }

            .st11 {
                fill: #1E5454;
            }

            .st12 {
                fill: url(#SVGID_3_);
            }

            .st13 {
                fill: #102C2C;
            }

            .st14 {
                fill: #071313;
            }

            .st15 {
                fill: #0C2323;
            }

            .st16 {
                fill: #174141;
            }

            .st17 {
                fill: url(#SVGID_4_);
            }

            .st18 {
                fill: #FFFFFF;
            }

            .st19 {
                fill: url(#SVGID_5_);
            }

            .st20 {
                fill: url(#SVGID_6_);
            }

            .st21 {
                fill: #D14343;
            }

            .st22 {
                fill: #071414;
            }

            .st23 {
                fill: #1F5959;
            }

            .st24 {
                fill: #381808;
            }

            .st25 {
                fill: url(#SVGID_7_);
            }

            .st26 {
                fill: #F38322;
            }

            .st27 {
                fill: #372411;
            }

            .st28 {
                fill: url(#SVGID_8_);
            }

            .st29 {
                fill: url(#SVGID_9_);
            }

            .st30 {
                fill: url(#SVGID_10_);
            }
            </style>
            <g id="animation_x5F_wing_x5F_R" class="right-wing">
                <path class="st0" d="M83.2999954,118.1041718c0,0-3.9000015,27.6999969-15.8000031,42.6999969l-3.7999992,6.8000031
            c0,0-0.7999992,47.6000061,36.0999947,49.3999939c0,0,13.3000031-2.8999939,20-7.6999969
            c0,0,2.5999985-11.1000061-1.3000031-14.8000031c-3.9000015-3.8000031-14.5,0.8000031-12.6999969,7.8000031
            c0,0,4.0999985,4.1000061,9.0999985,3.3999939c0,0-2.6999969,0.5-1-3.3999939
            c1.6999969-3.8000031,4.3000031,2.6999969,2.8000031,5.1999969c0,0-10.5999985,2.6999969-17.7000046,1
            c0,0-12.5-33.1000061-9.8000031-88.5999985L83.2999954,118.1041718z" />
                <path class="st1" d="M80.0999985,179.7041779c0,0,6.1999969,28,18.7999954,31.8999939l6-1.3999939
            c0,0-5.5999985,0.1999969-6.5-1.3999939c-2.0999985-3.6000061-7.4000015-30.3000031-7.4000015-30.3000031
            S78.7999954,175.3041687,80.0999985,179.7041779z" />
                <path class="st2" d="M81.7999954,126.5041733c0,0-2,23.2999954-12.8000031,36.7000046l-2.5999985-1.1000061
            C66.3999939,162.1041718,75.7999954,153.5041656,81.7999954,126.5041733z" />
                <path class="st3" d="M66.8999939,143.6041718c0,0-9.4999962,9.3000031-3.0999947,25.3000031c0,0,2.0999947,0.1999969,4.3999977-2.5
            c1.8000031-2.1999969,0.6999969-4.6999969,0.6999969-4.6999969S61.6000023,155.1041718,66.8999939,143.6041718z" />
                <path class="st4" d="M64.5,148.5041656c0,0-5.3999977,11,0.3000031,18.5
            C64.7999954,167.0041656,62.2000008,157.4041748,64.5,148.5041656z" />
                <path class="st5" d="M69.1999969,160.1041718c0,0,2.6999969,6.8999939-5.5999947,9.1000061
            C63.6000023,169.2041779,69.8999939,166.7041779,69.1999969,160.1041718z" />
            </g>
            <g id="body">
                <path class="st5" d="M87.5999985,124.2041702c-0.3000031,0.8000031-11,26.0999985-15,40.5999985
            c-3.9000015,14.5,8.0999985,22.1000061,41,13.1999969c0,0,8.6999969-1.8999939,5.8000031-15.3000031
            c-2.9000015-13.3999939-4.1999969-44.4000015-4.1999969-44.4000015S92.8999939,112.4041748,87.5999985,124.2041702z" />
                <path class="st6" d="M96.1999969,167.1041718c0.1999969,5.6999969-4.9000015,10.5-11.5,10.8000031
            s-12.0999985-4.1000061-12.4000015-9.8000031c-0.1999969-5.6999969,4.9000015-10.5,11.5-10.8000031
            C90.5,157.0041656,96,161.4041748,96.1999969,167.1041718z" />
            </g>
            <g id="animation_x5F_wing_x5F_L" class="left-wing">
                <path class="st7" d="M109,118.1041718c0,0-0.5999985,30.5-12.3000031,48.3999939l-3.4000015,7.8999939
            c0,0,6,51.6000061,49.5999985,48.3999939c0,0,15.1999969-5,22.3000031-11.1000061c0,0,1.3999939-12.3000031-3.6999969-15.8000031
            c-5.1999969-3.5-16.8999939,2.8999939-13.6999969,10.3000031c0,0,5.3999939,3.8000031,11.1999969,2.3000031
            c0,0-3.1999969,0.8999939-1.6999969-3.5c1.3999939-4.3999939,5.3999939,2.3000031,4,5.3000031c0,0-12,4.3999939-20.6000061,3.5
            c0,0-19.5-34-24.3000031-94.4000015L109,118.1041718z" />
                <path class="st8" d="M113.8999939,124.8041687c0,1.3000031-10.8000031,65.0999908,22.6000061,91.6999969
            c0,0,5.8999939,2,13.1000061-1.3000031c0,0-8.5,0.5-10.8000031-1c0,0-18.6999969-26.1999969-23.3000031-89.5999985
            L113.8999939,124.8041687z" />
                <path class="st2" d="M97.6999969,167.8041687c0,0,12.5999985-18.1000061,13-44.1999969l-2,0.5c0,0-1.5,26.8999939-12.8000031,42
            L97.6999969,167.8041687z" />
                <path class="st3" d="M97.1999969,147.8041687c0,0-10.3000031,10.1999969-3.4000015,27.6000061
            c0,0,2.3000031,0.1999969,4.6999969-2.6999969c2-2.3999939,0.8000031-5.1000061,0.8000031-5.1000061
            S91.3999939,160.4041748,97.1999969,147.8041687z" />
                <path class="st4" d="M94.5999985,153.3041687c0,0-5.9000015,12,0.3000031,20.1000061
            C94.8999939,173.4041748,92.0999985,162.9041748,94.5999985,153.3041687z" />
                <path class="st5" d="M99.5999985,166.4041748c0,0,3,7.6000061-6.0999985,9.8999939
            C93.5999985,176.3041687,100.5,173.6041718,99.5999985,166.4041748z" />
            </g>
            <g id="animation_x5F_ear_x5F_R">
                <radialGradient id="SVGID_1_" cx="-535.8490601" cy="508.9748535" r="0.9996156" gradientTransform="matrix(39.3522987 0 0 -40.2705994 21088.6152344 20545.8769531)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#FFDC2E" />
                    <stop offset="1" style="stop-color:#FF7D7D" />
                </radialGradient>
                <path class="st9" d="M0,4.6041698c28.6000004,5.6000004,59.7000008,33.9000015,72.6999969,46
            c0.5999985-0.4000015,0.9000015-0.5999985,0.9000015-0.5999985c2.6999969-2,5.9000015-3.5999985,9.4000015-5
            C75.5999985,39.3041687,31.7999992,5.40417,0,4.6041698z M0,4.6041698c0,0,8,24.3999996,20.2000008,46
            c0-0.0999985,0-0.2000008,0.1000004-0.2999992c0.1000004-0.5,0.2999992-1,0.5-1.5
            c0.6000004-1.2000008,1.8999996-1.9000015,3.2000008-1.9000015l0,0c1.3999996,0,2.3999996,0.7000008,3.1000004,1.9000015
            c0.5,0.7000008,0.5,1.7000008,0.5,2.5999985c0,1.0999985-0.5,2-1.2000008,2.7000008
            c-0.1000004,0.0999985-0.2000008,0.2000008-0.2999992,0.4000015c-0.5,0.7000008-1.6000004,1.0999985-2.6000004,1.0999985
            c-0.2000008,0-0.3999996,0-0.5,0c0.5,0.7999992,1,1.5,1.3999996,2.2999992c0.8999996-0.5999985,1.7999992-1.0999985,2.7999992-1.5
            C28,56.1041679,28.7000008,56.0041656,29.5,56.0041656c2.5999985,0,4.9000015,1.5999985,5.5999985,4.4000015
            c0.7000008,2.5,0.2000008,5.5000076-0.7000008,7.9000015c-0.2999992,0.6999969-0.5999985,1.4000015-0.9000015,2.0999985
            c5.5,6.3000031,19.4000015,22,25.5,23.2999954c1.0999985-3.5999985,2.2000008-6.9000015,3.2999992-9.9000015
            C53.9000015,47.9041672,1.7,5.3041697,1.7,5.3041697L0,4.6041698z" />
                <radialGradient id="SVGID_2_" cx="-535.8490601" cy="508.9749146" r="1" gradientTransform="matrix(39.3522987 0 0 -40.2705994 21088.6152344 20545.8769531)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#E0C128" />
                    <stop offset="1" style="stop-color:#E06E6E" />
                </radialGradient>
                <path class="st10" d="M0,4.6041698l1.7,0.6999998c0,0,51.9000015,43.9000015,60.5,79.8000031
            C68.7999954,67.5041733,74.7999954,61.7041664,77,60.0041695C64,48.0041695,28.6000004,10.2041702,0,4.6041698z" />
                <path class="st11" d="M0.2,4.6041698c0,0,40.9000015,19.5,69.8000031,63.5999985c0,0,20.0999985-10.4000053,16.6999969-20.6000023
            C86.6999969,47.6041679,34.9000015,3.5041697,0.2,4.6041698z" />
            </g>
            <g id="head">
                <radialGradient id="SVGID_3_" cx="-538.4248657" cy="512.9689941" r="0.8995534" gradientTransform="matrix(47.6138992 0 0 -48.7248993 25710.171875 25056.1015625)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#1A4A4A" />
                    <stop offset="1" style="stop-color:#133636" />
                </radialGradient>
                <path class="st12" d="M122.0999985,38.6041679c1.3000031,0.2999992,2.5,0.7000008,3.8000031,1.2000008
            c0.0999985,0,0.0999985-0.0999985,0.1999969-0.0999985C124.7999954,39.3041687,123.5,38.9041672,122.0999985,38.6041679z
             M101.5,37.3041687c-7.5999985,0.5-15.1999969,2.0999985-21.9000015,4.7000008c-3.5,1.4000015-6.6999969,3-9.4000015,5
            c0,0-0.3000031,0.0999985-0.9000015,0.5999985c-2.0999985,1.5999985-8.0999947,7.5-14.6999931,25.1000023
            c-1.0999985,2.9000015-2.2000008,6.1999969-3.2999992,9.9000015c-1.5999985,5.1999969-3.2000008,11-4.7000008,17.8000031
            c0,0-2.0999985,9.4000015-1.0999985,13.6999969c0,0,9.5,12.3000031,40.7999992,13.1000061c1.0999985,0,2.1999969,0,3.3000031,0
            c2.4000015,0,4.8000031-0.1000061,7.4000015-0.1999969c2.1999969-1.8000031,13.8000031-12,18.2999954-31
            C114.5,96.5041809,113.5,96.804184,112.5,97.1041794c-2.6999969,0.6999969-5,1-7.0999985,1
            c-9.3000031,0-13.0999985-6.1999969-12.8000031-13.9000015c0.3000031-9.4000015,6-13.1999969,6.8000031-13.1999969
            l3.6999969-0.8000031c1-0.0999985,2-0.1999969,3-0.1999969c4.6999969,0,8.3000031,1.5,10.9000015,3.9000015
            c-0.0999985-1.9000015-0.4000015-3.8000031-0.6999969-5.8000031c-4-26.9000053-15.5-29.8000031-20.1999969-29.8000031
            c-1.0999985,0-1.8000031,0.2000008-2,0.2000008h-0.0999985c0,0,0,0,0.0999985,0
            C94.5,38.4041672,97.2999954,37.8041687,101.5,37.3041687z" />
                <path class="st13" d="M113.8999939,125.3041687c-1.0999985,0.1999969-2.1999969,0.3000031-3.3000031,0.5v0.0999985
            c1.0999985-0.0999985,2.1999969-0.3000031,3.3000031-0.4000015
            C113.8999939,125.4041748,113.8999939,125.3041687,113.8999939,125.3041687z M116.6999969,124.8041687
            c-0.4000015,0.0999985-0.6999969,0.0999985-1.0999985,0.1999969c0,0.0999985,0,0.0999985,0,0.1999969
            c0.4000015,0,0.6999969-0.0999985,1.0999985-0.0999985C116.6999969,125.0041733,116.6999969,124.9041748,116.6999969,124.8041687z" />
                <path class="st14" d="M108.5,126.0041733c-4.0999985,0.5-7.9000015,0.8000031-11.4000015,1
            c-0.1999969,0.2000046-0.4000015,0.2999954-0.4000015,0.2999954S102,126.8041687,108.5,126.0041733L108.5,126.0041733z" />
                <path class="st13" d="M108.5,126.0041733L108.5,126.0041733L108.5,126.0041733
            C108.5,126.1041718,108.5,126.1041718,108.5,126.0041733L108.5,126.0041733z" />
                <path class="st15" d="M115.5999985,125.0041733C115,125.1041718,114.5,125.2041702,113.9000015,125.3041763
            c0,0.0999985,0,0.0999985,0,0.1999969C114.5,125.4041748,115,125.4041748,115.5999985,125.3041763
            C115.5999985,125.1041718,115.5999985,125.1041718,115.5999985,125.0041733z" />
                <path class="st16" d="M110.5999985,125.7041702c-0.6999969,0.0999985-1.4000015,0.1999969-2,0.3000031v0.0999985
            c0.6999969-0.0999985,1.4000015-0.1999969,2-0.1999969C110.5999985,125.8041687,110.5999985,125.7041702,110.5999985,125.7041702z" />
                <radialGradient id="SVGID_4_" cx="-538.2697754" cy="512.9689941" r="1" gradientTransform="matrix(47.6138992 0 0 -48.7248993 25710.171875 25056.1015625)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#153D3D" />
                    <stop offset="1" style="stop-color:#102C2C" />
                </radialGradient>
                <path class="st17" d="M107.3999939,37.1041679c-1.9000015,0-3.9000015,0.0999985-5.9000015,0.2000008
            c-4.1999969,0.4000015-7.0999985,1.0999985-7.5,1.2000008c0.1999969,0,0.9000015-0.2000008,2-0.2000008
            c4.6999969,0,16.2000046,2.9000015,20.2000046,29.8000031c0.3000031,2,0.5,3.9000015,0.6999969,5.8000031
            c6.6999969,6.1999969,6.0999985,17.9000015-1.5999985,22.0999985c-4.5,19-16.0999985,29.2000046-18.2999954,31
            c3.5999985-0.1999969,7.4000015-0.5,11.4000015-1l0,0c0.6999969-0.0999985,1.4000015-0.1999969,2-0.3000031
            c1.0999985-0.0999985,2.1999969-0.3000031,3.3000031-0.5c0.5999985-0.0999985,1.0999985-0.1999969,1.6999969-0.3000031
            c0.4000015-0.0999985,0.6999969-0.0999985,1.0999985-0.1999969c4.8000031-0.8000031,9.9000015-1.8000031,15.3999939-3
            c0,0,0.8999939-0.3000031,2.1999969-1c3.5-2.0999985,5.6000061-5.1999969,9.3999939-10.5
            c0.1999969-0.3000031,0.3999939-0.5,0.5-0.9000015c0.1999969-0.4000015,0.3000031-0.6999969,0.5-1.0999985
            c1-2.5999985,1.8000031-6.5999985,2.3999939-11.5c0.1999969-4-0.3000031-8.5-0.3000031-13.3000031
            c0-11,0-23.0000038-2.1000061-27.5000038c-5.6000061-10.5-4.1999969-12.2000008-16.5-16
            c-1.1999969-0.5-4.8000031-1.0999985-6.0999985-1.5C117.6999969,37.6041679,112.5999985,37.1041679,107.3999939,37.1041679z" />
                <path class="st8" d="M59.5,100.9041748c0,0,33.5999908,17.4000015,63.6999969-1.6999969
            C123.1999969,99.2041702,92.5999985,122.7041702,59.5,100.9041748z" />
                <path class="st18" d="M71.7999954,107.6041718c0.1999969-0.5,1.5-5,3.6999969-3.6999969
            c0.9000015,0.5,1.4000015,6.5999985-0.8000031,4.3000031L71.7999954,107.6041718z" />
                <path class="st18" d="M97.0999985,110.0041733c-0.5-1.5-0.5999985-5.6999969,1.1999969-6.5
            c2-0.8000031,3.6999969,3.6999969,3.4000015,5.4000015c-0.9000015,0.1999969-1.6999969,0.4000015-2.5999985,0.5999985
            L97.0999985,110.0041733z" />
                <radialGradient id="SVGID_5_" cx="-538.2697754" cy="512.9689941" r="1" gradientTransform="matrix(47.6138992 0 0 -48.7248993 25710.171875 25056.1015625)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#8F4646" />
                    <stop offset="1" style="stop-color:#8C3E3E" />
                </radialGradient>
                <path class="st19" d="M106.0999985,70.0041733c-1,0-1.9000015,0.0999985-3,0.1999969l-3.6999969,0.8000031
            c-0.8000031,0-6.5999985,3.8000031-6.8000031,13.1999969c-0.2000046,7.5999985,3.5999985,13.9000015,12.7999954,13.9000015
            c2.0999985,0,4.5-0.3000031,7.0999985-1c1-0.3000031,1.9000015-0.5999985,2.8000031-1.0999985
            c1.5-6.4000015,2.1999969-13.6999969,1.5999985-22.0999985C114.3999939,71.5041733,110.7999954,70.0041733,106.0999985,70.0041733z
            " />
                <radialGradient id="SVGID_6_" cx="-538.2697754" cy="512.9689941" r="1" gradientTransform="matrix(47.6138992 0 0 -48.7248993 25710.171875 25056.1015625)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#8D4141" />
                    <stop offset="1" style="stop-color:#8B3B3B" />
                </radialGradient>
                <path class="st20" d="M116.8999939,73.9041748c0.6999969,8.4000015-0.0999985,15.6999969-1.5999985,22.0999985
            C123,91.7041702,123.5999985,80.0041733,116.8999939,73.9041748z" />
                <path class="st21" d="M74.5,70.2041702c0,0,8.6999969,7.5,2.9000015,20.4000015
            c-4.4000015,9.9000015-17.9999962,10.5-18.8999977-5.4000015C57.6000023,71.8041687,69.5,65.6041718,74.5,70.2041702z" />
                <path class="st22" d="M133,95.3041687c1.5-3,0.1000061-8.6999969,1-10.5s3.5-2.5,3-4.5
            c-0.3999939-1.3000031-5.6000061-1.4000015-5.5,6.1999969c0,2.1999969,0.8999939,6.0999985-0.6999969,8
            c-9.5,6-19.5,11.0999985-30.3000031,13.5c-16.5,3.5999985-32.5999985-0.6999969-46.0999947-11.1999969
            c-0.2000008-0.1999969-0.5,0.0999985-0.2999992,0.3000031C64.5,110.4041748,83.2000046,113.2041702,98.1999969,111.0041733
            C109.5,109.5041733,131.3999939,98.2041702,133,95.3041687z" />
                <path class="st23" d="M90.1999969,94.2041702c0,0-6-16,10.3000031-21.4000015
            c16.5-5.5,23.5999985,13.3000031,20.9000015,18.6999969c0,0-1.3000031,12.0999985-18,11.5999985
            C93.1999969,102.7041702,90.1999969,94.2041702,90.1999969,94.2041702z" />
                <path class="st24" d="M89.1999969,91.9041748c0,0-6.3000031-18.1999969,11.4000015-23
            c16.5-4.4000015,23.7000046,10.3000031,20.9000015,20.0999985c0,0-1.9000015,12.8000031-18.0999985,12.1999969
            C92.3999939,100.8041687,89.1999969,91.9041748,89.1999969,91.9041748z" />
                <radialGradient id="SVGID_7_" cx="-505.550415" cy="458.9813538" r="1" gradientTransform="matrix(12.4069004 0 0 -12.6963997 6372.027832 5916.0283203)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#FFDC2E" />
                    <stop offset="1" style="stop-color:#F1BA1F" />
                </radialGradient>
                <path class="st25" d="M89.7999954,92.8041687c0,0-6-16,10.3000031-21.4000015
            c16.5-5.5,23.5999985,13.3000031,20.9000015,18.7000046c0,0-1.3000031,12.0999985-18,11.5999985
            C92.7999954,101.3041687,89.7999954,92.8041687,89.7999954,92.8041687z" />
                <path class="st26" d="M89.8999939,80.3041687c0,0,23.8000031-7.4000015,30.9000015,11.6999969
            c0,0,4.5-15.4000015-11.5999985-21.1999969C104.5999985,69.1041718,92.1999969,71.1041718,89.8999939,80.3041687z" />
                <path class="st27" d="M103.5999985,86.5041733c0,5.8000031,0.5999985,10.4000015-0.1999969,10.4000015
            c-0.9000015,0-2.6999969-3.4000015-2.9000015-10.4000015c-0.1999969-7.5,2-10.4000015,2.9000015-10.4000015
            C104.1999969,76.1041718,103.5999985,80.8041687,103.5999985,86.5041733z" />
                <path class="st18" d="M103,86.9041748c0,0.9000015-2.4000015,1.6999969-5.4000015,1.6999969
            s-5.4000015-0.8000031-5.4000015-1.6999969c0-0.9000015,2.4000015-1.6999969,5.4000015-1.6999969
            C100.5,85.2041702,103,85.9041748,103,86.9041748z" />
                <path class="st23" d="M83.0999985,92.0041733c0-0.6999969,1.8000031-14.0999985-4.9000015-19.2999954
            c-6.5999985-5.1999969-21.4999962-5-22.1999969,14.0999985c0,0,1.0999985,13,16.1999969,13.4000015
            C82.1999969,100.4041748,83.0999985,92.0041733,83.0999985,92.0041733z" />
                <path class="st24" d="M83.0999985,89.0041733c0-0.6999969,1.8000031-14.0999985-4.9000015-19.2999954
            c-6.5999985-5.1999969-21.4999962-5-22.1999969,14.0999985c0,0,1.0999985,13,16.1999969,13.4000015
            C82.1999969,97.4041748,83.0999985,89.0041733,83.0999985,89.0041733z" />
                <radialGradient id="SVGID_8_" cx="-495.9410706" cy="424.4500427" r="1" gradientTransform="matrix(10.1933002 0 0 -8.6197004 5120.7773438 3743.9594727)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#FFDC2E" />
                    <stop offset="1" style="stop-color:#F1BA1F" />
                </radialGradient>
                <path class="st28" d="M83.0999985,91.1041718c0-0.6999969,1.8000031-14.0999985-4.9000015-19.3000031
            c-6.5999985-5.1999969-21.4999962-5-22.1999969,14.0999985c0,0,1.0999985,13,16.1999969,13.4000015
            C82.1999969,99.5041733,83.0999985,91.1041718,83.0999985,91.1041718z" />
                <path class="st26" d="M57.6000023,77.5041733c0,0,19.7000008-6.4000015,25.2999916,11.0999985c0,0,3-15.5999985-9-19.3000031
            C72.3999939,68.8041687,61.7000008,66.7041702,57.6000023,77.5041733z" />
                <path class="st27" d="M76.6999969,85.4041748c0,5.4000015-0.0999985,10-0.6999969,10s-2-3.1999969-2.0999985-9.8000031
            c-0.1999969-7,1.5-9.8000031,2.0999985-9.8000031C76.5999985,75.9041748,76.6999969,80.0041733,76.6999969,85.4041748z" />
                <path class="st18" d="M75.5999985,86.2041702C75.5,87.1041718,73,88.4041672,70,88.1041718
            c-3-0.3000031-5.3000031-1.9000015-5.1999969-2.9000015c0.0999985-0.9000015,2.5-0.8000031,5.5-0.5
            C73.2999954,85.0041733,75.6999969,85.3041687,75.5999985,86.2041702z" />
                <path class="st8" d="M75.1999969,99.9041748c1.3000031-12,14.6999969-3.9000015,16.5999985,2.9000015
            c-5.0999985,2.3000031-13.9000015,1.5999985-16.5999985-1.8000031V99.9041748z" />
                <path class="st22" d="M75.5,98.3041687c-0.9000015,1.3000031,4.9000015-16.6999969,16.5999985,4.3000031
            C92.0999985,102.6041718,81.1999969,90.0041733,75.5,98.3041687z" />
                <path class="st22" d="M83.5,98.4041748c0,0,2.6999969,2.3000031,3.0999985,4.6999969c0,0-2.1999969-1.0999985-3.1999969-2.3000031
            C83.3999939,100.9041748,81,98.3041687,83.5,98.4041748z" />
                <path class="st22" d="M78.8999939,98.0041733c0,0,2.0999985,2.1999969,2.1999969,4.5c0,0-1.6999969-1-2.5-2.0999985
            C78.6999969,100.3041687,76.8999939,97.9041748,78.8999939,98.0041733z" />
            </g>
            <g id="animation_x5F_ear_x5F_L">
                <radialGradient id="SVGID_9_" cx="-538.3638916" cy="513.0842285" r="0.9898816" gradientTransform="matrix(47.926899 0 0 -49.0452003 26018.9453125 25208.9628906)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#FFDC2E" />
                    <stop offset="1" style="stop-color:#FF7D7D" />
                </radialGradient>
                <path class="st29" d="M226.9999847,0.0041712c-56,5.8000002-92.5999756,32.8999977-100.8999863,39.6999969
            c-0.0999985,0-0.0999985,0.0999985-0.1999969,0.0999985c-1.0999985,0.9000015-1.5999985,1.2999992-1.5999985,1.2999992
            c-4.0000076,16.3000031,18.3999939,41.0000076,18.3999939,41.0000076c0.8000031,0.5999985,0.5891266-0.1357803,0.4891205-0.7357788
            c-13.8999939-16.5999985,4.0108795-39.464222,23.1108704-53.6642227
            C192.9999847,8.0041714,226.9999847,0.0041712,226.9999847,0.0041712
            c-56.6000061,25.7999992-82.1000061,77.5-84.1999969,82.1999969c0.8999939,0.5,2,1.5,2.8999939,1.9000015
            c0.3000031,0.1999969,1.6999969,0.9000015,2,1c5.5,1.5,10.3000031,2.6999969,15.1000061,2.6999969
            c9,0,17.1000061-4.0999985,24.3000031-10.5999985c-0.3000031-0.1999969-0.5-0.3000031-0.6999969-0.5
            c-1.3000031-0.5999985-2.3000031-1.6999969-2.3000031-3.0999985v-1.5c0-1.4000015,1.1000061-3,2.6999969-3.3000031
            c0.5-0.0999985,1.1000061-0.1999969,1.6000061-0.1999969c1,0,2,0.1999969,2.8999939,0.6999969
            c0.5,0.3000031,0.8999939,0.5999985,1.3999939,0.9000015c0.3000031,0.0999985,0.5,0.3000031,0.6999969,0.5
            c1.3999939-1.5999985,2.6999969-3.1999969,4-4.9000015c-0.1999969,0-0.3000031,0-0.5,0
            c-0.8000031,0-1.6000061-0.0999985-2.5-0.3000031c-0.1999969,0-0.3999939-0.0999985-0.5-0.0999985
            c-1-0.3000031-2.1000061-0.6999969-3-1.1999969c-1.6999969-0.9000053-3.1999969-2.3000031-4.1999969-3.9000053
            c-1.8999939-3.2000008-2-7.2000008,0-10.4000015c0.8999939-1.4000015,2.3999939-3,3.8999939-3.7000008
            c0.8000031-0.4000015,1.6999969-0.7999992,2.6000061-1c1.3000031-0.2000008,1.8999939-0.2999992,2.6000061-0.2999992
            c0.6000061,0,1.1999969,0.0999985,2.6000061,0.2999992c1.8999939,0.2999992,3.8000031,1.5999985,5.1999969,2.7000008
            c0.3000031,0.2000008,0.5,0.5,0.8000031,0.7999992c0.6999969,0.7999992,1.3999939,1.5999985,2,2.5999985
            C206.5,51.4041595,206.5,51.6041603,206.5999908,51.7041626C220.5,27.2041702,226.9999847,0.0041712,226.9999847,0.0041712z" />
                <radialGradient id="SVGID_10_" cx="-538.3487549" cy="513.0824585" r="1.0096419" gradientTransform="matrix(47.926899 0 0 -49.0452003 26018.9453125 25208.9628906)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#E0C128" />
                    <stop offset="1" style="stop-color:#E06E6E" />
                </radialGradient>
                <path class="st30" d="M227,0.0041712c0,0-33.9000092,7.8999987-60.6000061,27.5999985
            c-19.1000061,14.0999966-38.0761261,37.1912308-24.1761322,53.8912354c0.3291931,0.5587616,1.2255859,1.2058182,1.525589,1.4058151
            C145.8494568,78.3012238,170.4000092,25.8041725,227,0.0041712z" />
                <path class="st7" d="M146.1999969,84.5041733C124.5,74.4041748,158,19.9041729,227,0.0041712c0,0-52.4000092-1.3-104.5999985,42
            C122.5,42.0041695,119.5999985,68.0041733,146.1999969,84.5041733z" />
            </g>
        </svg>
    </div>
    <div class="wrapper">
        <!-- Header -->
        <header class="header" id="header">
            <div class="header-container d-f align-center justify-between">
                <a href="#" class="header-logo">
            <img src="/images/logo-img.svg" alt="">
            <span>онлайн кредиты на карту</span>
        </a>
                <div class="header-nav">
                    <span class="icon-close close-nav js-close-nav"></span>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li class="js-parent">
                            <span>Как получить</span><span class="triangle"></span>
                            <ul class="dropdown js-dropdown">
                                <li><a href="#">Как получить</a></li>
                                <li><a href="#">Как это работает?</a></li>
                                <li><a href="#">Как продлить</a></li>
                                <li><a href="#">Как погасить</a></li>
                            </ul>
                        </li>
                        <li class="custom">
                            <a href="#">Акции</a>
                        </li>
                        <li class="js-parent nav-dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <ul class="dropdown js-dropdown">
                                <li><a href="#">Почему мы</a></li>
                                <li><a href="#">Вопрос-ответ</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Почему мы?</a></li>
                        <li><a href="#">Вопрос-ответ</a></li>
                    </ul>
                    <div class="mobile-language">
                        <span id="language" class="hidden">ru</span>
                        <div>Сменить язык:
                            <a href="#" class="lang-link">
                        <span class="lang-ukr">Украинский</span>
                        <span class="lang-rus">Русский</span>
                    </a>
                        </div>
                        <span id="lang" class="hidden">ru</span>
                    </div>
                </div>
                <div class="header-btn">
                    <button class="btn btn-authorize" data-toggle="modal" data-target="#modal_auth">Мой кабинет</button>
                    <button type="button" class="btn navbar-toggle js-toggle">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </div>
                <a href="#" class="header-language text-center">Ру</a>
            </div>
        </header>
        <div class="content-page">
            <div class="container">
                <span class="B_crumbBox"><span class="B_firstCrumb"><a class="B_homeCrumb" href="/ru/" title="Главная">Главная</a></span> &nbsp; <a class="B_crumb" href="http://dev.mycredit.ua/ru/akcii/" title="Акции">Акции</a> &nbsp; <span class="B_lastCrumb"><span class="B_currentCrumb">Результаты программы кэшбэк (05.07.18)</span></span>
                </span>
                <div class="heading-h1">Вопросы и ответы</div>
                <div class="content-wrapper">
                    <div class="content-sidebar">
                        <ul class="menu-sidebar">
                            <li>
                                <span class="active">Правовая информация</span>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/kreditnyj-dogovor1/">Договор займа</a>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/finansovaya-otchetnost/">Финансовая отчетность</a>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/politika-konfidencialnosti/">Политика конфиденциальности</a>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/partners/">Партнерам</a>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/otzyvy/">Отзывы</a>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/contacts/">Контакты</a>
                            </li>
                        </ul>
                        <div class="calculator">
                            <!--  <div class="calculator-heading calculator-heading__blue">
                                <div class="calculator-labe">
                                    <img src="/images/personalization/1YearCredit.svg" alt="">
                                </div>
                                <strong>1 год как погашен 1-й кредит! Вас ждет подарок</strong>
                                <a href="ru/lichnyj-kabinet/moi-kredity/">Посмотреть</a>
                            </div> -->
                            <div class="calculator-heading">
                                <div class="calculator-labe">
                                    <img src="/images/0.svg" alt="">
                                </div>
                                    <span class="icon-clock-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                                    <strong>Решение за 20 минут!</strong> Вы получите деньги уже в <strong id="span_get_money_large_">10:22</strong>
                                </div>
                                <form name="form_slider_large_main" action="/" method="POST" onSubmit="return false;" onclick="onClickFormSlider('large_main');">
                                    <input type='hidden' name='CSRFName' value='CSRFGuard_496208770' />
                                    <input type='hidden' name='CSRFToken' value='bZDGGNF9n74k9BA8ss8aSdy2fiffGDR8syY2ATTDYriaFfdkn3ZGBaDFBS9KAHQT' />
                                    <div class="calculator-row ">
                                        <div class="calculator-left ">
                                            <div class="slider-money">
                                                <div class="slider-money-share">Первый займ - 0%</div>
                                                <div class="slider-holder d-f align-center justify-between">
                                                    <span class="nameSlider hidden">large_main</span>
                                                    <span class="isPlay hidden" id="isPlay_large_main"></span>
                                                    <span class="hidden" id="ChildProducts_large_main">[{"MinAmount":100,"MaxAmount":500,"MinTerm":1,"MaxTerm":31,"InterestRate":"0.0400"}]</span>
                                                    <span class="hidden" id="ChildProductsNormal_large_main"></span>
                                                    <label for="money-value_large" class="slider-money--label">Сумма</label>
                                                    <input type="hidden" name="orderCredit[pageId]" id="pageId_main" value="1">
                                                    <input type="hidden" name="orderCredit[flagClickFromPlay]" id="flagClickFromPlay_large_main" value="">
                                                    <input type="hidden" name="orderCredit[percent]" id="percent-value_large_main" value="0.4000">
                                                    <input type="hidden" name="orderCredit[percentNormal]" id="percent-valueNormal_large_main" value="-1">
                                                    <input type="hidden" name="orderCredit[maxday]" id="maxDay_large_main" value="31">
                                                    <input type="hidden" name="orderCredit[minDay]" id="minDay_large_main" value="1">
                                                    <input type="hidden" name="orderCredit[maxSum]" id="maxSum_large_main" value="3000">
                                                    <input type="hidden" name="orderCredit[minSum]" id="minSum_large_main" value="100">
                                                    <input type="hidden" name="orderCredit[step]" id="step_large_main" value="50">
                                                    <input type="hidden" name="orderCredit[resolution]" id="resolution_large_main" value="20">
                                                    <input type="hidden" name="orderCredit[intervalStopSlider]" id="intervalStopSlider_large_main" value="0">
                                                    <div class="slider-control--wr">
                                                        <input name="orderCredit[money-value]" id="money-value_large_main" value="1000" class="slider-money--control format-number" onkeyup="onkeyUpSlider(event, 'large_main')" onchange="reloadCred('large_main');" pattern="\d+">
                                                        <label for="money-value_large_main">грн</label>
                                                    </div>
                                                </div>
                                                <div class="slider-wrapper">
                                                    <input id="js-money_large_main" data-slider-id='ex1Slider' type="text" data-slider-min="100" data-slider-max="3000" data-slider-step="50" data-slider-value="1000" onchange="reloadCred('large_main');">
                                                </div>
                                            </div>
                                            <div class="slider-days">
                                                <div class="slider-holder d-f align-center justify-between">
                                                    <label for="day-value_large_main" class="slider-money--label">На какой срок?</label>
                                                    <div class="slider-control--wr">
                                                        <input id="day-value_large_main" name="orderCredit[day-value]" value="14" class="slider-money--control format-number" onkeyup="onkeyUpSlider(event, 'large_main')" onchange="reloadCred('large_main');" pattern="\d+">
                                                        <label><span id="daySelectDay_large_main">дней</span></label>
                                                    </div>
                                                </div>
                                                <div class="slider-wrapper">
                                                    <input id="js-days_large_main" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="31" data-slider-step="1" data-slider-value="14" onchange="reloadCred('large_main');">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="calculator-right">
                                            <div class="slider-money--label">Информация о кредите:</div>
                                            <div class="calculator-start">
                                                <div class="calculator-holder d-f">
                                                    <div class="calculator-col">Вы берете:</div>
                                                    <div class="calculator-col brand-color">
                                                        <span id="span_amount_large_main"></span> 1000 грн
                                                    </div>
                                                </div>
                                                <div class="calculator-holder m-b d-f">
                                                    <div class="calculator-col">Ваша комиссия:</div>
                                                    <div class="calculator-col brand-color">
                                                        20
                                                        <span class="calculator-formula hidden"><span id="span_commission_old_large_main"></span> грн</span>
                                                    </div>
                                                </div>
                                                <div class="calculator-holder d-f">
                                                    <div class="calculator-col">К возврату:</div>
                                                    <div class="calculator-col inverse-color">
                                                        <span id="span_amount_all_large_main" class="loan-info--sum format-number"></span> 1020 грн
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="calculator-holder calculator-holder__wide d-f">
                                                <div class="calculator-col">До:</div>
                                                <div class="calculator-col inverse-color">
                                                    <span class="loan-days" id="span_amount_all_end_large_main"></span>
                                                </div>
                                            </div>
                                            <div class="calculator-btn">
                                                <button class="btn btn-block" type="button" onclick="onClickSubmitSlider('large_main');">
                                                    <span>Получить деньги</span><span class="icon-arrow-animate"></span>
                                                </button>
                                            </div>
                                            <div class="calculator-img d-f align-center justify-between">
                                                <img src="images/calculator/visa-calc.png" alt="">
                                                <img src="images/calculator/master-calc.png" alt="">
                                                <img src="images/calculator/privat-calc.png" alt="">
                                                <img src="images/calculator/pci_calc.png" alt="">
                                        </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                            <div class="blog-social">
                                <div class="blog-social-text">
                                    Ищите уникальные промокоды на скидку в социальных сетях
                                </div>
                                <div class="blog-social-wrapper">
                                    <div class="blog-social-item">
                                        <a href="https://t.me/joinchat/AAAAAEQioSB3Uk-xYfyemQ" target="_blank" rel="noopener">
                                        <img src="assets/images/telegram.svg" alt="">
                                        <span>Telegram</span>
                                    </a>
                                    </div>
                                    <div class="blog-social-item">
                                        <a href="https://www.facebook.com/Mycredit-1024366047631998/" target="_blank" rel="noopener">
                                        <img src="assets/images/facebook.svg" alt="">
                                        <span>Facebook</span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-holder">
                            <div class="content-inner">
                                <div class="content">
                                    <div class="faq-search">
                                        <input type="text" id="search_faq" class="form-control" placeholder="Ключевое слово или вопрос">
                                        <button class="search-icon">
                                            <img src="assets/images/search-icon.png" alt="">
                                    </button>
                                    </div>
                                    <ul class="faq-list js-accordion">
                                        <li>
                                            <a class="accordion-button">Что такое личный кабинет и как мне зарегистрироваться в нем?</a>
                                            <ul class="faq-inner-list">
                                                <li>
                                                    Уважаемый клиент, личный кабинет пользователя MyCredit - это персональная страница клиента в сервисе. В нем вы сможете отслеживать информацию по активному кредиту, изучить условия программы лояльности «Любимый клиент», подавать заявки на кредиты, редактировать личную информацию. Для регистрации личного кабинета необходимо иметь под рукой мобильный телефон, паспорт и ИНН. Также вам понадобится ваша именная банковская карта VISA или MASTERCARD.
                                                    <a href="http://dev.mycredit.ua/ru/faq/lichnyj-kabinet1/lichnyj-kabinet2/">
                                                    Подробнее
                                                </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="accordion-button">Почему мне отказали?</a>
                                            <ul class="faq-inner-list">
                                                <li>
                                                    Уважаемый клиент, причину отказа конкретному клиенту верификаторы не сообщают, но согласно правилам MyCredit при выдаче кредита мы в первую очередь анализируем вашу кредитную историю и тщательно проверяем честность ответов в кредитной заявке.
                                                    <a href="http://dev.mycredit.ua/ru/faq/obshhie-voprosy/pochemu-mne-otkazali/">
                                                    Подробнее
                                                </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="footer" id="footer">
                <div class="container">
                    <div class="footer-top">
                        <div class="footer-left">
                            <div class="footer-menu">
                                <div class="footer-heading">О нас</div>
                                <ul>
                                    <li><a href="">Правовая информация</a></li>
                                    <li><a href="">Договор займа</a></li>
                                    <li><a href="">Финансовая отчетность</a></li>
                                    <li><a href="">Политика конфиденциальности</a></li>
                                    <li><a href="">Партнерам</a></li>
                                    <li><a href="">Отзывы</a></li>
                                    <li><a href="">Контакты</a></li>
                                </ul>
                            </div>
                            <div class="footer-menu">
                                <div class="footer-heading">Часто задаваемые вопросы</div>
                                <ul>
                                    <li><a href="">Как получить кредит?</a></li>
                                    <li><a href="">Как погасить / продлить кредит</a></li>
                                    <li><a href="">Почему мне отказали в выдаче кредита</a></li>
                                    <li><a href="">Блог</a></li>
                                    <li><a href="">Новости</a></li>
                                </ul>
                            </div>
                            <div class="footer-menu">
                                <div class="footer-heading">Как вернуть кредит</div>
                                <ul>
                                    <li><a href="">В интернете</a></li>
                                    <li><a href="">Оплата кредита через терминал</a></li>
                                    <li><a href="">В кассе банка</a></li>
                                </ul>
                            </div>
                            <div class="footer-menu footer-menu__wide">
                                <div class="footer-heading">Услуги кредитования</div>
                                <div class="footer-menu__wrapper">
                                    <ul>
                                        <li><a href="">Деньги до зарплаты онлайн за 20 минут</a></li>
                                        <li><a href="">Кредит от 18 лет без справок и поручителей </a></li>
                                        <li><a href="">Кредиты без залога в Киеве, Харькове и всей Украине</a></li>
                                        <li><a href="">Потребительский кредит онлайн в Украине</a></li>
                                        <li><a href="">Кредит для пенсионеров в Украине</a></li>
                                        <li><a href="">Микрокредит и микрозайм онлайн на карту</a></li>
                                        <li><a href="">Кредит онлайн с плохой кредитной историей в Украине</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="">Взять кредит онлайн без справки о доходах в Украине</a></li>
                                        <li><a href="">Деньги в долг на карту</a></li>
                                        <li><a href="">Краткосрочный кредит на 1 месяц</a></li>
                                        <li><a href="">Беспроцентный кредит под 0% без переплат</a></li>
                                        <li><a href="">Кредит 365 дней в году</a></li>
                                        <li><a href="">Кредитный калькулятор онлайн в Украине</a></li>
                                        <li><a href="">Пролонгация кредита от Mycredit</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="footer-right text-center">
                            <ul>
                                <li>
                                    <a href="tel:0733694141"><span class="icon-lifecell-1"></span><span>073 369 41 41</span></a>
                                </li>
                                <li>
                                    <a href="tel:0733694141"><span class="icon-lifecell-12"></span><span>073 369 41 41</span></a>
                                </li>
                                <li>
                                    <a href="tel:0733694141"><span class="icon-mts"></span><span>073 369 41 41</span></a>
                                </li>
                                <li>
                                    <a href="tel:0733694141"><span class="icon-viber"></span><span>073 369 41 41</span></a>
                                </li>
                            </ul>
                            <div class="main-phone">
                                <a href="tel:0800214111">0 800 214 111</a>
                                <span>Бесплатно по Украине со стационарных телефонов</span>
                                <button class="btn btn-phone js-callback-show" onclick="onClickSendMe();">Написать нам</button>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <a href="#" class="footer-logo">
                        <img src="images/logo_last_white.svg" alt="">
                    </a>
                        <div class="footer-text">
                            <p>Первый в Украине сервис кредитования через интернет. Мы предоставляем быстрые и удобные кредиты для всех граждан Украины.
                                <br>© 2015 - 2018 MyCredit - Кредит онлайн на банковскую карту за 20 минут </p>
                            <p>Разработка и поддержка сайта — <a href="#">Artjoker</a></p>
                        </div>
                        <ul class="footer-social">
                            <li><a href=""><span class="icon-telegram-1"></span></a></li>
                            <li><a href=""><span class="icon-vk-social-network-logo"></span></a></li>
                            <li><a href=""><span class="icon-facebook-logo"></span></a></li>
                            <li><a href=""><span class="icon-instagram-logo"></span></a></li>
                            <li><a href=""><span class="icon-youtube-logo"></span></a></li>
                            <li><a href=""><span class="icon-google-plus-logo"></span></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
            <div class="bottom-callback js-callback" id="div_SendEmail">
                <span class="icon-close js-callback-close" onclick="onClickCloseEmail();"></span>
                <div class="callback-holder d-f">
                    <div class="callback-left">
                        <figure class="call-img">
                            <img alt="" class="lazy" src="images/operator.png">
                    </figure>
                            <div class="call-img--name">
                                Ирина Кондрашова <span>специалист по кредитованию</span>
                            </div>
                            <div class="call-text">
                                <img src="images/quot.png" alt=""> У вас есть вопрос по оформлению займа в MyCredit? <strong>Напишите нам, мы поможем его решить!</strong>
                            </div>
                    </div>
                    <div class="callback-form">
                        <form name="sendMail" id="sendMail" action="http://dev.mycredit.ua/ru/contacts/" method="POST" class="form js_validate" onclick="onClickFormSendMail();">
                            <input type="hidden" name="CSRFName" value="CSRFGuard_755083114">
                            <input type="hidden" name="CSRFToken" value="FR8Thd7a2Ta49A8e3iB4kaYH5R8Df9ERdkbkyTB7Sy8frRT8EHAfAedSETrQ9Atn">
                            <div class="form-group">
                                <div class="form-control--wr">
                                    <label for="send_sername" class="form-label">ФИО</label>
                                    <input type="text" class="form-control" id="send_sername" name="sendMail[sername]" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-control--wr">
                                    <label for="send_email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="send_email" name="sendMail[email]" required="" data-validate="email" onkeyup="onKeyUpToEnter('email', event);">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-control--wr">
                                    <label for="message" class="form-label">Сообщение</label>
                                    <textarea name="sendMail[message]" id="message" class="write-us form-control" required=""></textarea>
                                </div>
                            </div>
                            <button type="button" class="btn btn-callback js-callback" onclick="if (validate($(this).parents('.js_validate'))) onClickSendEmail();">
                                Отправить
                            </button>
                        </form>
                    </div>
                </div>
                <div id="div_resultEmail" class="form-group hidden callback-result bottom-call-hidden">
                    <span id="span_resultEmail">Сообщение отправлено</span>
                </div>
            </div>
        </div>
        <script src="js/content-home.min.js"></script>
</body>

</html>