<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=2.0">
    <meta name="theme-color" content="#db5945">
    <title>Кредит онлайн на карту в Украине. Взять деньги в займы быстро через интернет - Mycredit</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Взять кредит онлайн на карточку в Украине. Можете срочно взять деньги в кредит. Предлагаем быстро оформить займ на любую банковскую карту. Получить моментальный займ онлайн на банковский счет до 10000 грн. Экспресс одобрение заявки за 20 минут" />
    <meta name="yandex-verification" content="e9b6a2ccdf1c2a26" />
    <meta name="google-site-verification" content="DHkY6ywkpSEqaHBG1aQTBj651kRzAPjpSFXRPSrsERE" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="css/content-page.min.css">
</head>

<body class="home-page">
    <div class="wrapper">
        <!-- Header -->
        <header class="header" id="header">
            <div class="header-container d-f align-center justify-between">
                <a href="#" class="header-logo">
            <img src="/images/logo-img.svg" alt="">
            <span>онлайн кредиты на карту</span>
        </a>
                <div class="header-nav">
                    <span class="icon-close close-nav js-close-nav"></span>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li class="js-parent">
                            <span>Как получить</span><span class="triangle"></span>
                            <ul class="dropdown js-dropdown">
                                <li><a href="#">Как получить</a></li>
                                <li><a href="#">Как это работает?</a></li>
                                <li><a href="#">Как продлить</a></li>
                                <li><a href="#">Как погасить</a></li>
                            </ul>
                        </li>
                        <li class="custom">
                            <a href="#">Акции</a>
                        </li>
                        <li class="js-parent nav-dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <ul class="dropdown js-dropdown">
                                <li><a href="#">Почему мы</a></li>
                                <li><a href="#">Вопрос-ответ</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Почему мы?</a></li>
                        <li><a href="#">Вопрос-ответ</a></li>
                    </ul>
                    <div class="mobile-language">
                        <span id="language" class="hidden">ru</span>
                        <div>Сменить язык:
                            <a href="#" class="lang-link">
                        <span class="lang-ukr">Украинский</span>
                        <span class="lang-rus">Русский</span>
                    </a>
                        </div>
                        <span id="lang" class="hidden">ru</span>
                    </div>
                </div>
                <div class="header-btn">
                    <button class="btn btn-authorize" data-toggle="modal" data-target="#modal_auth">Мой кабинет</button>
                    <button type="button" class="btn navbar-toggle js-toggle">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </div>
                <a href="#" class="header-language text-center">Ру</a>
            </div>
        </header>
        <div class="content-page">
            <div class="container">
                <span class="B_crumbBox"><span class="B_firstCrumb"><a class="B_homeCrumb" href="/ru/" title="Главная">Главная</a></span> &nbsp; <a class="B_crumb" href="http://dev.mycredit.ua/ru/akcii/" title="Акции">Акции</a> &nbsp; <span class="B_lastCrumb"><span class="B_currentCrumb">Результаты программы кэшбэк (05.07.18)</span></span>
                </span>
                <div class="heading-h1">Вопросы и ответы</div>
                <div class="content-wrapper">
                    <div class="content-sidebar">
                        <ul class="menu-sidebar">
                            <li>
                                <span class="active">Правовая информация</span>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/kreditnyj-dogovor1/">Договор займа</a>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/finansovaya-otchetnost/">Финансовая отчетность</a>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/politika-konfidencialnosti/">Политика конфиденциальности</a>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/partners/">Партнерам</a>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/otzyvy/">Отзывы</a>
                            </li>
                            <li>
                                <a href="http://dev.mycredit.ua/ru/contacts/">Контакты</a>
                            </li>
                        </ul>
                        <div class="calculator">
                            <!--  <div class="calculator-heading calculator-heading__blue">
                                <div class="calculator-labe">
                                    <img src="/images/personalization/1YearCredit.svg" alt="">
                                </div>
                                <strong>1 год как погашен 1-й кредит! Вас ждет подарок</strong>
                                <a href="ru/lichnyj-kabinet/moi-kredity/">Посмотреть</a>
                            </div> -->
                            <div class="calculator-heading">
                                <div class="calculator-labe">
                                    <img src="/images/0.svg" alt="">
                                </div>
                                <span class="icon-clock-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                                <strong>Решение за 20 минут!</strong> Вы получите деньги уже в <strong id="span_get_money_large_">10:22</strong>
                            </div>
                            <form name="form_slider_large_main" action="/" method="POST" onSubmit="return false;" onclick="onClickFormSlider('large_main');">
                                <input type='hidden' name='CSRFName' value='CSRFGuard_496208770' />
                                <input type='hidden' name='CSRFToken' value='bZDGGNF9n74k9BA8ss8aSdy2fiffGDR8syY2ATTDYriaFfdkn3ZGBaDFBS9KAHQT' />
                                <div class="calculator-row ">
                                    <div class="calculator-left ">
                                        <div class="slider-money">
                                            <div class="slider-money-share">Первый займ - 0%</div>
                                            <div class="slider-holder d-f align-center justify-between">
                                                <span class="nameSlider hidden">large_main</span>
                                                <span class="isPlay hidden" id="isPlay_large_main"></span>
                                                <span class="hidden" id="ChildProducts_large_main">[{"MinAmount":100,"MaxAmount":500,"MinTerm":1,"MaxTerm":31,"InterestRate":"0.0400"}]</span>
                                                <span class="hidden" id="ChildProductsNormal_large_main"></span>
                                                <label for="money-value_large" class="slider-money--label">Сумма</label>
                                                <input type="hidden" name="orderCredit[pageId]" id="pageId_main" value="1">
                                                <input type="hidden" name="orderCredit[flagClickFromPlay]" id="flagClickFromPlay_large_main" value="">
                                                <input type="hidden" name="orderCredit[percent]" id="percent-value_large_main" value="0.4000">
                                                <input type="hidden" name="orderCredit[percentNormal]" id="percent-valueNormal_large_main" value="-1">
                                                <input type="hidden" name="orderCredit[maxday]" id="maxDay_large_main" value="31">
                                                <input type="hidden" name="orderCredit[minDay]" id="minDay_large_main" value="1">
                                                <input type="hidden" name="orderCredit[maxSum]" id="maxSum_large_main" value="3000">
                                                <input type="hidden" name="orderCredit[minSum]" id="minSum_large_main" value="100">
                                                <input type="hidden" name="orderCredit[step]" id="step_large_main" value="50">
                                                <input type="hidden" name="orderCredit[resolution]" id="resolution_large_main" value="20">
                                                <input type="hidden" name="orderCredit[intervalStopSlider]" id="intervalStopSlider_large_main" value="0">
                                                <div class="slider-control--wr">
                                                    <input name="orderCredit[money-value]" id="money-value_large_main" value="1000" class="slider-money--control format-number" onkeyup="onkeyUpSlider(event, 'large_main')" onchange="reloadCred('large_main');" pattern="\d+">
                                                    <label for="money-value_large_main">грн</label>
                                                </div>
                                            </div>
                                            <div class="slider-wrapper">
                                                <input id="js-money_large_main" data-slider-id='ex1Slider' type="text" data-slider-min="100" data-slider-max="3000" data-slider-step="50" data-slider-value="1000" onchange="reloadCred('large_main');">
                                            </div>
                                        </div>
                                        <div class="slider-days">
                                            <div class="slider-holder d-f align-center justify-between">
                                                <label for="day-value_large_main" class="slider-money--label">На какой срок?</label>
                                                <div class="slider-control--wr">
                                                    <input id="day-value_large_main" name="orderCredit[day-value]" value="14" class="slider-money--control format-number" onkeyup="onkeyUpSlider(event, 'large_main')" onchange="reloadCred('large_main');" pattern="\d+">
                                                    <label><span id="daySelectDay_large_main">дней</span></label>
                                                </div>
                                            </div>
                                            <div class="slider-wrapper">
                                                <input id="js-days_large_main" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="31" data-slider-step="1" data-slider-value="14" onchange="reloadCred('large_main');">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="calculator-right">
                                        <div class="slider-money--label">Информация о кредите:</div>
                                        <div class="calculator-start">
                                            <div class="calculator-holder d-f">
                                                <div class="calculator-col">Вы берете:</div>
                                                <div class="calculator-col brand-color">
                                                    <span id="span_amount_large_main"></span> 1000 грн
                                                </div>
                                            </div>
                                            <div class="calculator-holder m-b d-f">
                                                <div class="calculator-col">Ваша комиссия:</div>
                                                <div class="calculator-col brand-color">
                                                    20
                                                    <span class="calculator-formula hidden"><span id="span_commission_old_large_main"></span> грн</span>
                                                </div>
                                            </div>
                                            <div class="calculator-holder d-f">
                                                <div class="calculator-col">К возврату:</div>
                                                <div class="calculator-col inverse-color">
                                                    <span id="span_amount_all_large_main" class="loan-info--sum format-number"></span> 1020 грн
                                                </div>
                                            </div>
                                        </div>
                                        <div class="calculator-holder calculator-holder__wide d-f">
                                            <div class="calculator-col">До:</div>
                                            <div class="calculator-col inverse-color">
                                                <span class="loan-days" id="span_amount_all_end_large_main"></span>
                                            </div>
                                        </div>
                                        <div class="calculator-btn">
                                            <button class="btn btn-block" type="button" onclick="onClickSubmitSlider('large_main');">
                                                <span>Получить деньги</span><span class="icon-arrow-animate"></span>
                                            </button>
                                        </div>
                                        <div class="calculator-img d-f align-center justify-between">
                                            <img src="images/calculator/visa-calc.png" alt="">
                                            <img src="images/calculator/master-calc.png" alt="">
                                            <img src="images/calculator/privat-calc.png" alt="">
                                            <img src="images/calculator/pci_calc.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="blog-social">
                            <div class="blog-social-text">
                                Ищите уникальные промокоды на скидку в социальных сетях
                            </div>
                            <div class="blog-social-wrapper">
                                <div class="blog-social-item">
                                    <a href="https://t.me/joinchat/AAAAAEQioSB3Uk-xYfyemQ" target="_blank" rel="noopener">
                                        <img src="assets/images/telegram.svg" alt="">
                                        <span>Telegram</span>
                                    </a>
                                </div>
                                <div class="blog-social-item">
                                    <a href="https://www.facebook.com/Mycredit-1024366047631998/" target="_blank" rel="noopener">
                                        <img src="assets/images/facebook.svg" alt="">
                                        <span>Facebook</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-holder">
                        <div class="content-inner">
                            <div class="content">
                                <div class="heading-h2">Что такое личный кабинет и как мне зарегистрироваться в нем?</div>
                                <div class="iframe-relative js-frame">
                                    <div class="pumpkin">
                                        <svg version="1.1" class="pumpkin-pers" id="pumpkin_x5F_head" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
     y="0px" viewBox="0 0 196 286" style="enable-background:new 0 0 196 286;" xml:space="preserve">
<style type="text/css">
    .st0{fill:#168729;}
    .st1{fill:#1FBD39;}
    .st2{fill:#804F22;}
    .st3{fill:#613C1A;}
    .st4{fill:#7FA3B8;}
    .st5{fill:#608091;}
    .st6{fill:#374731;}
    .st7{fill:#945C28;}
    .st8{fill:#66855C;}
    .st9{fill:#526B4A;}
    .st10{fill:#506948;}
    .st11{fill:#41543B;}
    .st12{fill:#2D3B42;}
    .st13{fill:#1A9E30;}
    .st14{fill:#158027;}
    .st15{fill:#7196AB;}
    .st16{fill:#1C2429;}
    .st17{fill:url(#SVGID_1_);}
    .st18{fill:url(#SVGID_2_);}
    .st19{fill:url(#SVGID_3_);}
    .st20{fill:url(#SVGID_4_);}
    .st21{fill:#BCBCBC;}
    .st22{fill:url(#SVGID_5_);}
    .st23{fill:#418E62;}
    .st24{fill:url(#SVGID_6_);}
    .st25{fill:url(#SVGID_7_);}
    .st26{fill:url(#SVGID_8_);}
    .st27{fill:url(#SVGID_9_);}
    .st28{fill:#DBDBDB;}
    .st29{fill:#6D8C9E;}
    .st30{fill:#465C40;}
    .st31{fill:#455A3E;}
    .st32{fill:url(#SVGID_10_);}
    .st33{fill:#F8A260;}
    .st34{fill:#FFDE5C;}
    .st35{fill:url(#SVGID_11_);}
    .st36{fill:url(#SVGID_12_);}
    .st37{fill:url(#SVGID_13_);}
    .st38{fill:url(#SVGID_14_);}
    .st39{fill:#FFC27D;}
    .st40{fill:#DE341D;}
    .st41{fill:url(#SVGID_15_);}
    .st42{fill:url(#SVGID_16_);}
    .st43{fill:url(#SVGID_17_);}
    .st44{fill:url(#SVGID_18_);}
</style>
<g id="leaves2">
    <path class="st0" d="M103.6,285.5c0.1-3.6,3.2-16.6-12.9-24.5c0,0,3.5,6.8,4.2,12.1C95.5,278.4,103.6,285.5,103.6,285.5z"/>
    <path class="st1" d="M104.5,281.3c0,0,4.7-12.8,14.1-16.1C118.7,265.2,119.3,273.9,104.5,281.3z"/>
</g>
<g id="animation_x5F_hand_x5F_R">
    <path class="st2" d="M20.9,176.2c-2.8,3.2-0.7,8-3.6,10.2c0,0-1-3.1-1.8-5c-3.2-2.5-7.3,2.1-9.8,5.8c0.3-2.9,1.6-6.3,4.6-8.9
        c-2.5,0-7.2,3.3-9.5,4.7c2-4.5,4.3-5.8,7-8.2c0.2,0,0.2,0,0,0c-2.7,0.2-4.4,1.1-6.6,2.7c3.5-5.8,7.9-8.6,12.1-9.9
        C20.7,165.4,23.1,171.4,20.9,176.2C20.9,176.3,21,176.1,20.9,176.2z"/>
    <path class="st3" d="M18.4,173.1c12.5-7.4,22.3-4.2,22.3-4.2l-1.7-4.6l-20.9,4.2C18.1,168.5,14.6,170.7,18.4,173.1z"/>
    <path class="st4" d="M87.7,158.5c-0.2-1.5-20.3-1.5-38.4-1.5c-6.8,0-13.3,0-18.4-0.1c-16.4,13.5,4,30.6,4,30.6s30.2-7.1,50.4-16.8
        C85.4,170.8,88.5,164.1,87.7,158.5z"/>
    <path class="st5" d="M25.1,173.8c0,0,26.2-0.2,53.2-7.9l-2.8,9.7c0,0-32.8,12.2-40.5,11.9C34.9,187.6,27.1,182.9,25.1,173.8z"/>
</g>
<g id="body">
    <path class="st6" d="M70.5,219.3l4.1,14.7l17.1-10.5l11.4,9.3l9.5-9.9l13.2,7.6l11.4-4.8L125,205.1l-44.5-7.9l-14.2,11.6
        L70.5,219.3z"/>
    <path class="st7" d="M94.1,208.2c0,0,7.6,49.3,4.5,71.9c0,0,2.5,4.1,11.1-0.5c0,0-10.1-62.1-11.1-83.2L94.1,208.2z"/>
    <path class="st2" d="M100.4,218.1l-3.5-3.5l8.1,67c2.3-0.6,4.8-1.9,4.8-1.9s-6.9-44.8-9.6-65.1L100.4,218.1z"/>
    <path class="st8" d="M79.5,150.7c0,0-16.4,39.5-25.2,86.1c0,0,8.2-10.2,24.1-18.5c0,0,2.9,10.8,12.9,19.1c0,0,4.7-14.3,12.3-20.9
        c0,0,7,14.9,12.9,19.7c0,0,6.5-8.4,8.8-14.3c0,0,9.4,9,14.1,12.6c0,0,0-11.4-0.6-14.9c-0.6-3.6-19.1-46.5-30.5-67L79.5,150.7z"/>
    <path class="st9" d="M74,165c0,0,14.2,8.4,40.2-1.8l-2-11.4l-34.9,1.8L74,165z"/>
    <path class="st10" d="M99,158.1c0,0,7.2,14.4,17.5,78.1c0,0,6.1-8.3,8.8-14.3l14.1,12.6l-0.6-14.9c0,0-17.3-42.3-24.6-56.4
        L99,158.1z"/>
    <path class="st11" d="M109.3,168.3l13,39.7l-10.2-40.5L109.3,168.3z"/>
    <path class="st11" d="M109.5,179c0,0,3.9-1.7,8.3,1C117.9,180,115.8,180.7,109.5,179z"/>
    <path class="st11" d="M112.1,186.8c0,0,3-3,8.1-2.2C120.3,184.6,118.6,186,112.1,186.8z"/>
    <path class="st11" d="M113.3,189.5c0,0,2.4-2.2,6.1-0.1C119.4,189.4,118,190.3,113.3,189.5z"/>
    <path class="st11" d="M115.7,197c0,0,2.4-2.2,6.1-0.1C121.8,196.8,120.5,197.7,115.7,197z"/>
    <path class="st9" d="M54.3,236.1c0,0,11.4-15.3,24.2-19.8l-0.2,2.1C78.3,218.3,65.1,224.1,54.3,236.1z"/>
    <path class="st12" d="M111,154.1c0,0,11.3,19.1,4,19.1c0,0-15.3-1.8-9-19.6L111,154.1z"/>
</g>
<g id="leaves1">
    <path class="st13" d="M103.6,285.5c0,0-8.6-14.6-19.1-15.2C84.5,270.3,86.5,281.7,103.6,285.5z"/>
    <path class="st13" d="M102.6,283.4c0,0,11.1-14,24.8-14.6C127.4,268.8,124.9,279.8,102.6,283.4z"/>
    <path class="st13" d="M102.4,282.5c0,0,3.1-18.4,15.6-19.6c0,0-10.9,10.1-13,20.7C105,283.7,102.4,287.9,102.4,282.5z"/>
    <path class="st14" d="M130.8,275.7c0,0-19.8-1.4-27.6,8.6C103.2,284.4,115.5,290.2,130.8,275.7z"/>
</g>
<g id="animation_x5F_hand_x5F_L">
    <path class="st15" d="M106.4,155.4c0.2-1.1,9.5-1,20.7-0.8c12.5,0.2,27.3,0.3,34.6-1.2c0,0,7.7,2.1,8.1,17.8
        c0.4,15.7-6.4,20.1-6.4,20.1S113.8,176.4,109,169C109,169,104.9,164.1,106.4,155.4z"/>
    <path class="st5" d="M106.3,162.7c0,0,10.2,7.6,47.1,10.3c0,0,0,16.5,10,18.3c0,0-36.6-9.8-50.8-19.3
        C112.6,172,106.9,168.1,106.3,162.7z"/>
    <path class="st12" d="M161.7,155.2c-0.3,0-0.7,0.1-1,0.2c1.3,3.1,2.1,7.5,2.1,12.4c0,8.4-2.3,15.3-5.4,16.5
        c1.1,2.7,2.6,4.3,4.3,4.3c3.5,0,6.4-7.5,6.4-16.7C168.1,162.7,165.2,155.2,161.7,155.2z"/>
    <path class="st16" d="M162.8,167.8c0-4.9-0.8-9.3-2.1-12.4c-3.1,1.2-5.4,8.2-5.4,16.5c0,4.9,0.8,9.3,2.1,12.4
        C160.5,183.1,162.8,176.2,162.8,167.8z"/>
    <path class="st16" d="M157.4,161.7l-10.4,0.8l9.3,3.3L157.4,161.7z"/>
    <path class="st3" d="M181.6,164l-23.8-4.2l-1.9,4.6c0,0,11.1-3.2,25.4,4.2L181.6,164z"/>
    <path class="st2" d="M175.3,171.3c3.3,3.1,1,8.2,3.9,10.6c0,0,1-3.1,1.8-5c3.2-2.5,7.3,2.1,9.8,5.8c-0.3-2.9-1.6-6.3-4.6-8.9
        c2.5,0,7.2,3.3,9.5,4.7c-2-4.5-4.3-5.8-7-8.2c-0.2,0-0.2,0,0,0c2.7,0.2,4.4,1.1,6.6,2.7c-3.5-5.8-7.9-8.6-12.1-9.9
        c-7.7-2.3-7.3,0.8-9.8,6c0.5,1.2,1.4,2.4,2.5,3.1L175.3,171.3z"/>
</g>
<g id="animation_x5F_head">
    
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="95.5257" y1="259.7563" x2="38.6706" y2="273.7572" gradientTransform="matrix(1 0 0 -1 0 285.89)">
        <stop  offset="0" style="stop-color:#32B068"/>
        <stop  offset="6.060600e-03" style="stop-color:#32B068"/>
        <stop  offset="1" style="stop-color:#4CF087"/>
    </linearGradient>
    <path class="st17" d="M71.6,24.4c-0.7,0-1.3-0.3-1.7-1.2c-2-3.7,2.3-6.5,6.2-7.4l0.1,0.1c0.7,1.3,1.2,2.8,0.4,4.4
        C76,21.6,73.5,24.4,71.6,24.4z M44.1,0c-0.7,0-1.6,0.3-2.4,0.6c-0.2,0.1-0.1,0.3,0,0.3c0,0,0,0,0.1,0c0.6-0.2,1.4-0.6,2.1-0.6
        c0.4,0,0.8,0.1,1.1,0.4c1,0.9,0.3,2.5-0.1,3.6c0,0.1,0,0.1,0.1,0.1c0,0,0.1,0,0.1,0c1.8-1.5,4.4-3.3,6.9-3.3c0.7,0,1.3,0.1,2,0.4
        c1.9,0.9,3,2.6,3.4,4.5C57.2,6,57.2,6,57.1,6c-0.2,0-0.5,0.2-0.4,0.5c0.1,0.2,0.1,1.6,0.4,1.8c0.3,0.3,0.8,0.4,1.2,0.7
        c0.3,0.2,0.8,0.3,1.4,0.3c1.1,0,2.4-0.3,3.2-0.3c0.6,0,1.3-0.1,2-0.1c0.3,0,0.6,0,0.8,0.1c1.8,0.5,0.7,1.6-0.1,2.4
        c-0.9,0.3-1.7,0.6-2.6,1c-0.2,0.1-0.3,0.3-0.3,0.4c-0.1,0.6,0.2,0.8,0.6,0.8c0.7,0,1.8-0.6,2.7-1.4c0.4-0.1,0.8-0.2,1.2-0.2
        c0.3,0,0.5,0,0.8,0c2.8,0,5.4,0.9,7.1,2.7c-2.7,0.7-5.4,2-6.7,4.3c-1.3,2.5-0.8,7.1,2.7,7.1c0.3,0,0.6,0,0.9-0.1
        c3.4-0.6,6.9-4.2,6.8-7.3c0-1.1-0.4-2.1-0.9-3l0.1,0c0.3,0,0.6,0,0.9,0c4.4,0,7.8,2.3,9.7,5.5c2,3.3,3.1,7.2,3.1,11.2
        c0,2.3,0.1,4.9-0.9,7.2c0.4,0.1,0.8,0.2,1.1,0.4c0.3-1.4,0.7-2.9,1.2-4.5c0.1-0.9,0.1-1.8,0.1-2.6c0.1-4.6-0.9-9.4-3.5-13.1
        c-2.2-3.1-5.7-5.7-10.2-5.7c-0.3,0-0.5,0-0.8,0c-0.6,0-1.2,0.1-1.9,0.2c-1-1.1-2.3-2-3.8-2.7c-1.3-0.6-2.6-0.8-4-0.8
        c-0.6,0-1.3,0.1-1.9,0.2c0.3-0.4,0.5-0.7,0.5-0.9c0.2-1.4-1.2-2-2.6-2c-0.1,0-0.3,0-0.4,0c-1.5,0.1-3.1,0.5-4.5,0.5
        c-0.1,0-0.2,0-0.2,0c-1.1,0-1.6-0.2-1.8-0.6c0.1-0.1,0.2-0.1,0.2-0.3C58.1,4,55.7,1.1,52,1.1c-1,0-2.1,0.2-3.2,0.7
        c-1,0.4-2.1,1.1-2.9,1.7c-0.2,0.2-0.4,0.2-0.5,0.2c-0.4,0,0.5-1.6,0.4-2.1C45.6,0.4,44.9,0,44.1,0z"/>
    
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="97.0828" y1="235.6385" x2="103.7179" y2="262.5653" gradientTransform="matrix(1 0 0 -1 0 285.89)">
        <stop  offset="0" style="stop-color:#32B068"/>
        <stop  offset="6.060600e-03" style="stop-color:#32B068"/>
        <stop  offset="1" style="stop-color:#4CF087"/>
    </linearGradient>
    <path class="st18" d="M106,24c0,0-6.9,16.1-6.3,26.4l-5.1-0.7C94.6,49.7,98.4,35.4,106,24z"/>
    
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="114.7837" y1="226.376" x2="123.2177" y2="285.5294" gradientTransform="matrix(1 0 0 -1 0 285.89)">
        <stop  offset="0" style="stop-color:#32B068"/>
        <stop  offset="6.060600e-03" style="stop-color:#32B068"/>
        <stop  offset="1" style="stop-color:#4CF087"/>
    </linearGradient>
    <path class="st19" d="M144.6,30.4c-0.5,0.5-2.7,1.7-3.7,2.3C142.3,32.1,143.8,31.6,144.6,30.4z M96.8,26.5
        c-1.5,3.3-2.9,6.6-3.5,8.5c0,0.1-0.1,0.2-0.1,0.4c-0.5,1.6-0.9,3.1-1.2,4.5c0.1,0,0.1,0.1,0.2,0.1C93.1,36.7,94.7,31.6,96.8,26.5z
         M102.7,14.7c-0.1,0.1-0.2,0.2-0.3,0.4C102.5,15,102.6,14.8,102.7,14.7z M144.2,3.1c-11.2,0.1-39.3,10-41.5,11.6
        C102.7,14.7,127.7,4.1,144.2,3.1z M144.2,3.1c0,0-22.9,6.8-33.1,17.6c0,0-4,11.1-4.4,20.4c1.7-0.4,3.5-0.5,5.4-0.5
        c0.3,0,0.5,0,0.8,0c0.6-3.9,1.5-8.1,2.9-12.1c0,0-0.8,5.5-0.9,12.1c1.3,0,3,0.4,4.7,0.8c-1.2-5.2-1.6-10.9,0.6-15.2
        c1.1-2.2,10.1-13.6,12.2-13.9c1.9-1.4,3.6-2.1,5-2.1c2.6,0,4.1,2.4,3.3,7.6c-0.7,4.2-3.6,5.2-6.2,5.2c-2.3,0-4.4-0.8-4.4-0.8
        s0.6,0.1,1.4,0.1c2.6,0,7.7-0.5,6.8-5c-1-3.2-3.1-4.3-4.5-4.7c2.1,0.8,4.6,3.6,4.6,5.8c-0.3,3.1-5.5,3.8-8.3,3.8
        c-3.2,4.9,2.7,16.4,7.7,16.5c0.5-1.9,0-3.4,1.3-4.7c0.1-0.1,0.3-0.3,0.5-0.4l-1.1,0.6c-3-1.7-5.3-7.1-5.3-7.1
        c3.3,3.3,6.4,4.1,8.5,4.1c1.9,0,3-0.6,3-0.6c-1.2-2.3-3.1-3.1-4.4-5.2C145.5,20.6,145.7,12.5,144.2,3.1z"/>
    
        <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="111.2833" y1="226.8751" x2="119.7173" y2="286.0285" gradientTransform="matrix(1 0 0 -1 0 285.89)">
        <stop  offset="0" style="stop-color:#2CA45B"/>
        <stop  offset="6.060600e-03" style="stop-color:#2CA45B"/>
        <stop  offset="1" style="stop-color:#43DB75"/>
    </linearGradient>
    <path class="st20" d="M115.8,28.4c-1.3,4-2.2,8.2-2.9,12.1c0.3,0,0.7,0,1,0c0.3,0,0.5-0.1,0.9-0.1c0,0,0.1,0,0.1,0
        C115,33.9,115.8,28.4,115.8,28.4z"/>
    <path class="st21" d="M132.6,12.2c-0.1,0-0.2,0-0.3,0c0,0,0,0,0,0c0.1,0,0.6,0,1.3,0.2C133.3,12.2,132.9,12.2,132.6,12.2z"/>
    
        <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="129.3791" y1="224.2952" x2="137.8131" y2="283.4486" gradientTransform="matrix(1 0 0 -1 0 285.89)">
        <stop  offset="0" style="stop-color:#2B9759"/>
        <stop  offset="6.060600e-03" style="stop-color:#2B9759"/>
        <stop  offset="1" style="stop-color:#41CE74"/>
    </linearGradient>
    <path class="st22" d="M137.3,10.1c-1.4,0-3.2,0.7-5,2.1c0.1,0,0.2,0,0.3,0c0.3,0,0.7,0.1,1.1,0.2c1.4,0.4,3.6,1.5,4.5,4.7
        c0.9,4.4-4.2,5-6.8,5c-0.8,0-1.4-0.1-1.4-0.1s2.1,0.8,4.4,0.8c2.6,0,5.5-1,6.2-5.2C141.5,12.5,139.9,10.1,137.3,10.1z"/>
    <path class="st23" d="M104.7,15.5c-0.1,0.1-0.3,0.1-0.4,0.2C104.4,15.7,104.5,15.6,104.7,15.5L104.7,15.5z M102.4,15.1
        c-2.1,3.2-4,7.3-5.6,11.4C99,21.6,101.5,16.6,102.4,15.1z"/>
    
        <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="112.7763" y1="226.6623" x2="121.2093" y2="285.8158" gradientTransform="matrix(1 0 0 -1 0 285.89)">
        <stop  offset="0" style="stop-color:#2D9057"/>
        <stop  offset="6.060600e-03" style="stop-color:#2D9057"/>
        <stop  offset="1" style="stop-color:#35A561"/>
    </linearGradient>
    <path class="st24" d="M104.2,15.7c0.1-0.1,0.3-0.1,0.4-0.2l0,0C104.5,15.6,104.4,15.7,104.2,15.7z M144.2,3.1
        c-16.5,1-41.5,11.6-41.5,11.6c-0.1,0.1-0.2,0.3-0.3,0.4c-0.9,1.5-3.4,6.5-5.6,11.4c-2.1,5.2-3.7,10.3-4.7,13.4
        c2.2,0.8,3.7,2.1,4.6,3.1c1.9-5.2,5-12.6,9.2-19c0,0-4.4,10.3-5.9,19.7c1.9-1.2,4.2-2.1,6.6-2.6c0.4-9.3,4.4-20.4,4.4-20.4
        C121.3,9.9,144.2,3.1,144.2,3.1z"/>
    
        <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="97.2376" y1="235.6004" x2="103.8729" y2="262.5269" gradientTransform="matrix(1 0 0 -1 0 285.89)">
        <stop  offset="0" style="stop-color:#32B068"/>
        <stop  offset="6.060600e-03" style="stop-color:#32B068"/>
        <stop  offset="1" style="stop-color:#4CF087"/>
    </linearGradient>
    <path class="st25" d="M106,24c-4.3,6.5-7.4,13.8-9.2,19c1,1.1,1.5,2.1,1.5,2.1c0.6-0.5,1.2-1,1.9-1.4C101.6,34.3,106,24,106,24z"/>
    <path class="st21" d="M140.9,32.7c-0.5,0.2-1,0.5-1.4,0.8l0.8-0.4C140.3,33,140.6,32.9,140.9,32.7z"/>
    
        <linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="134.0672" y1="223.6268" x2="142.5012" y2="282.7802" gradientTransform="matrix(1 0 0 -1 0 285.89)">
        <stop  offset="0" style="stop-color:#2B9759"/>
        <stop  offset="6.060600e-03" style="stop-color:#2B9759"/>
        <stop  offset="1" style="stop-color:#41CE74"/>
    </linearGradient>
    <path class="st26" d="M133.1,27c0,0,2.2,5.4,5.3,7.1l1.1-0.6c0.4-0.3,0.9-0.5,1.4-0.8c1.1-0.6,3.2-1.7,3.7-2.3c0,0-1.2,0.6-3,0.6
        C139.5,31,136.4,30.2,133.1,27z"/>
    
        <radialGradient id="SVGID_9_" cx="-195.9364" cy="559.6862" r="1" gradientTransform="matrix(64.9558 0 0 -66.1296 12819.3525 37111.7383)" gradientUnits="userSpaceOnUse">
        <stop  offset="0" style="stop-color:#FF6536"/>
        <stop  offset="6.060600e-03" style="stop-color:#FF6536"/>
        <stop  offset="0.9939" style="stop-color:#DE341D"/>
        <stop  offset="1" style="stop-color:#DE341D"/>
    </radialGradient>
    <path class="st27" d="M44.6,155.6c1.5,0.5,3,1,4.6,1.5c5.9,1.7,12.8,2.9,20.6,3.6C61.5,159.8,53,158.2,44.6,155.6z M144.3,149.8
        c-9.4,3.8-24.7,8.5-42.8,10.5c1-0.1,2-0.2,3-0.3c0.4,0,0.7-0.1,1.1-0.1c0.1,0,0.2,0,0.4,0c9.9-1.2,18.4-3,25.5-5.2
        C136.4,153.2,140.7,151.5,144.3,149.8z M160.5,137c-0.2,0.3-0.4,0.8-0.8,1.5C160.1,137.9,160.3,137.5,160.5,137z M152.5,92.3
        c-1.3,0-3-2.5-3.8-6.2c-1-4.2-0.7-8.3,0.8-9.2c0.2-0.1,0.4-0.2,0.6-0.2c1.4,0,3,2.5,3.8,6.2c1,4.2,0.7,8.3-0.8,9.2
        C152.9,92.2,152.7,92.3,152.5,92.3z M146,81.3c-0.6,0-1.4-1-1.9-2.5c-0.6-1.8-0.7-3.7,0-4.2c0.1-0.1,0.2-0.1,0.4-0.1
        c0.6,0,1.4,1,1.9,2.5c0.6,1.8,0.7,3.7,0,4.2C146.2,81.3,146.1,81.3,146,81.3z M148,73.7c-0.9,0-2-0.7-3-2.1c-1.5-2-2.1-4.5-1.4-5.6
        c0.2-0.4,0.6-0.5,1-0.5c0.9,0,2,0.8,3,2.1c1.5,2,2.1,4.5,1.4,5.6C148.8,73.6,148.4,73.7,148,73.7z M60.1,66.3
        c-1.6,0-2.7-0.5-3.4-1.7c-2.1-3.8,2.6-13.4,13.4-18.7c5.3-2.6,11-3.7,15.7-3.7c4.9,0,8.7,1.2,9.8,3.1c2.1,3.8-7.7,9.2-18.4,14.5
        C69.7,63.6,63.7,66.3,60.1,66.3z M94.9,65.7c0,0,1.1-13.4,3.5-20.7c0,0,4.2-3.2,8-3.4C106.3,41.7,96.6,52.7,94.9,65.7z M86.2,38.9
        c-7,0-17.7,3.6-33.7,16.2c-28.2,25.1-31.7,70.5-28.8,83.1c1.5,6.2,8,12.5,19.5,16.9c5.1,1.5,17.4,4.4,34.4,4.4
        c10.6,0,22.9-1.1,36.6-4.4c36.7-8.9,45.8-29,47.7-34.8c-0.2-16.6-3.2-40.9-11.2-55.7c-6.5-12.1-18.8-20.2-30.4-23
        c2.4,0.7,4.3,1.4,4.3,1.4c10.7,7.8,12.7,19.5,12.7,19.5c-9-17.4-24.4-21.6-24.4-21.6c0.2-0.2,0.6-0.3,1-0.4c-0.3,0-0.7,0-1,0
        c-0.3,0-0.5,0-0.8,0c-1.9,0-3.7,0.2-5.4,0.5c-2.4,0.5-4.7,1.4-6.6,2.6c-0.7,0.4-1.3,0.9-1.9,1.4c0,0-0.4-0.9-1.5-2.1
        c-1-1.1-2.5-2.3-4.6-3.1c-0.1,0-0.1-0.1-0.2-0.1c-0.4-0.1-0.7-0.3-1.1-0.4C89.5,39.1,87.9,38.9,86.2,38.9z"/>
    <path class="st28" d="M40.8,154.3c1.3,0.4,2.5,0.9,3.8,1.3c-0.5-0.2-0.9-0.3-1.4-0.5C42,154.7,41.2,154.4,40.8,154.3z M40.6,154.2
        c0,0,0.1,0,0.2,0.1C40.7,154.3,40.6,154.2,40.6,154.2z M159.7,138.5c-2.1,3.2-7.1,7.4-15.4,11.3c2-0.8,3.7-1.5,5.1-2.2
        C156.1,144.4,158.6,140.6,159.7,138.5z M162.4,118.7c0,0-0.1,0.6-0.4,1.6c0.1,8.1-0.4,14.4-1.4,16.8
        C163.3,133,162.4,118.7,162.4,118.7z"/>
    <path class="st29" d="M69.8,160.7c1.8,0.2,3.5,0.3,5.3,0.4l0-0.1C73.3,160.9,71.5,160.8,69.8,160.7z"/>
    <path class="st30" d="M99.9,160.5c-2.1,0.2-4.2,0.3-6.3,0.4c-3.6,0.2-7.1,0.3-10.5,0.3c-2.8,0-5.4-0.1-8-0.2l0,0.1
        c2.9,0.2,5.8,0.3,8.7,0.3C89.3,161.3,94.7,161,99.9,160.5C99.9,160.5,99.9,160.5,99.9,160.5z"/>
    <path class="st31" d="M101.5,160.3c-0.5,0.1-1.1,0.1-1.6,0.1c0,0,0,0,0,0C100.5,160.4,101,160.4,101.5,160.3z"/>
    
        <radialGradient id="SVGID_10_" cx="-195.9379" cy="559.6882" r="1" gradientTransform="matrix(64.9886 0 0 -66.1631 12825.8789 37130.6289)" gradientUnits="userSpaceOnUse">
        <stop  offset="0" style="stop-color:#DB572E"/>
        <stop  offset="6.060600e-03" style="stop-color:#DB572E"/>
        <stop  offset="0.9939" style="stop-color:#BF2D19"/>
        <stop  offset="1" style="stop-color:#BF2D19"/>
    </radialGradient>
    <path class="st32" d="M161.9,120.2c-1.9,5.8-11.1,25.9-47.7,34.8c-13.6,3.3-26,4.4-36.6,4.4c-17,0-29.3-2.9-34.4-4.4
        c0.4,0.2,0.9,0.3,1.4,0.5c8.4,2.7,16.9,4.3,25.2,5.1c1.7,0.1,3.5,0.3,5.3,0.4c2.6,0.1,5.2,0.2,8,0.2c3.3,0,6.8-0.1,10.5-0.3
        c2.2-0.1,4.3-0.3,6.3-0.4c0.5,0,1.1-0.1,1.6-0.1c18.1-2,33.4-6.8,42.8-10.5c8.3-3.9,13.3-8.1,15.4-11.3c0.4-0.7,0.6-1.2,0.8-1.5
        C161.5,134.6,162,128.4,161.9,120.2z"/>
    <path class="st33" d="M82.1,128.2c-5-0.9-8.2-0.3-10.1,0.4l-2.3,4.2c0,0,3.9-3.8,15-1.1C84.6,131.6,83.6,130.1,82.1,128.2z"/>
    <path class="st33" d="M82.1,128.2c-2.6-3.3-6.4-7.4-7.2-4.8l-2.9,5.2C73.9,127.9,77.1,127.4,82.1,128.2z"/>
    <path class="st34" d="M82.3,128.4c-1.5-3.1-3-3.7-4.9-5.1l-2.2,5.3C76.5,127.8,79.2,127.8,82.3,128.4z"/>
    
        <radialGradient id="SVGID_11_" cx="-195.9379" cy="559.6882" r="1" gradientTransform="matrix(64.9886 0 0 -66.1631 12825.8789 37130.6289)" gradientUnits="userSpaceOnUse">
        <stop  offset="0" style="stop-color:#DB572E"/>
        <stop  offset="6.060600e-03" style="stop-color:#DB572E"/>
        <stop  offset="0.9939" style="stop-color:#BF2D19"/>
        <stop  offset="1" style="stop-color:#BF2D19"/>
    </radialGradient>
    <path class="st35" d="M150,76.7c-0.2,0-0.4,0.1-0.6,0.2c-1.4,0.9-1.8,5-0.8,9.2c0.9,3.7,2.5,6.2,3.8,6.2c0.2,0,0.4-0.1,0.6-0.2
        c1.4-0.9,1.8-5,0.8-9.2C152.9,79.2,151.3,76.7,150,76.7z"/>
    
        <radialGradient id="SVGID_12_" cx="-195.9379" cy="559.6882" r="1" gradientTransform="matrix(64.9886 0 0 -66.1631 12825.8789 37130.6289)" gradientUnits="userSpaceOnUse">
        <stop  offset="0" style="stop-color:#DB572E"/>
        <stop  offset="6.060600e-03" style="stop-color:#DB572E"/>
        <stop  offset="0.9939" style="stop-color:#BF2D19"/>
        <stop  offset="1" style="stop-color:#BF2D19"/>
    </radialGradient>
    <path class="st36" d="M144.7,65.6c-0.4,0-0.7,0.2-1,0.5c-0.7,1.1-0.1,3.6,1.4,5.6c1,1.3,2.1,2.1,3,2.1c0.4,0,0.7-0.2,1-0.5
        c0.7-1.1,0.1-3.6-1.4-5.6C146.6,66.3,145.5,65.6,144.7,65.6z"/>
    
        <radialGradient id="SVGID_13_" cx="-195.9379" cy="559.6882" r="1" gradientTransform="matrix(64.9888 0 0 -66.1631 12825.9189 37130.6289)" gradientUnits="userSpaceOnUse">
        <stop  offset="0" style="stop-color:#DB572E"/>
        <stop  offset="6.060600e-03" style="stop-color:#DB572E"/>
        <stop  offset="0.9939" style="stop-color:#BF2D19"/>
        <stop  offset="1" style="stop-color:#BF2D19"/>
    </radialGradient>
    <path class="st37" d="M144.4,74.5c-0.1,0-0.3,0-0.4,0.1c-0.6,0.5-0.6,2.4,0,4.2c0.5,1.5,1.3,2.5,1.9,2.5c0.1,0,0.3,0,0.4-0.1
        c0.6-0.5,0.6-2.4,0-4.2C145.8,75.5,145,74.5,144.4,74.5z"/>
    
        <radialGradient id="SVGID_14_" cx="-195.9379" cy="559.6882" r="1" gradientTransform="matrix(64.9886 0 0 -66.1631 12825.8789 37130.6289)" gradientUnits="userSpaceOnUse">
        <stop  offset="0" style="stop-color:#FF7648"/>
        <stop  offset="6.060600e-03" style="stop-color:#FF7648"/>
        <stop  offset="0.9939" style="stop-color:#E54E34"/>
        <stop  offset="1" style="stop-color:#E54E34"/>
    </radialGradient>
    <path class="st38" d="M85.8,42.3c-4.7,0-10.4,1.1-15.7,3.7c-10.7,5.3-15.5,14.9-13.4,18.7c0.6,1.1,1.8,1.7,3.4,1.7
        c3.6,0,9.6-2.7,17.1-6.4c10.7-5.3,20.5-10.7,18.4-14.5C94.5,43.5,90.7,42.3,85.8,42.3z"/>
    <path class="st34" d="M116.9,105.7c1.3-2.1,2.7-4.2,4.1-6.2c-6.5,2.1-11.8,3.4-16.1,4.1c3.7,1.4,7.5,2.5,11.4,3.4
        C116.4,106.6,116.6,106.2,116.9,105.7z"/>
    <path class="st39" d="M126.1,113c-1.1,1.4-2.9,1.9-4.6,1.7v0c-0.9,3.2-4.1,4.9-7.2,4.2c-8.9-2.1-18-4.9-25.1-10.7
        c3.8,13.8,15.8,25.3,33.2,21.6c18.3-3.9,13.5-22.6,11.8-27.8C131.5,105.6,128.9,109.3,126.1,113z"/>
    <path class="st33" d="M87.8,97.6l3.4,5.8c0,0,13.9,3.2,46.8-11.3l-4.4,7.6c0,0,10.1,24.7-11.3,29.2C101,133.4,87.8,115,87.8,97.6z"
        />
    <path class="st33" d="M69.9,98.5c0,0,3.9,23.9-10.1,29.2c-15.4,5.9-27.6-7.5-21.5-27.1l-1.9-6.7c0,0,13.4,12.7,30.8,14.2
        C70.9,106.3,69.9,98.5,69.9,98.5z"/>
    <path class="st34" d="M101,104.2c0,0,14.2-1.4,31.1-8.9l0.1,4.9c0,0,6,21.7-10,23.6C103.9,126,101,104.2,101,104.2z"/>
    <path class="st34" d="M47.2,102.1c0,0-3.2,20.8,10.9,22.6c10.2,1.3,10.6-17,10.6-17S60.6,108.9,47.2,102.1z"/>
    <path class="st40" d="M56.8,139.1c-2.2-1-5,1.8-4.5,4c2.3,0.8,4.9,1.6,7.8,2.3C59.4,143.4,58.3,139.8,56.8,139.1z"/>
    <path class="st40" d="M77.1,143.3c-1.9-1-4.6,1.9-4.4,4.2c2.1,0.2,6.1,0.6,8.4,0.7C80.7,145.4,79.2,144.3,77.1,143.3z"/>
    <path class="st34" d="M143.2,104.4c1.2,16.1-7.3,36.2-64,35c-54-1.2-46.7-23.9-46.4-24.8c0,0-7.3,18.9,19.5,28.5
        c-0.5-2.1,2.3-5,4.5-4c1.4,0.6,2.6,4.2,3.3,6.2c1.7,0.4,3.6,0.8,5.6,1.1c2.9,0.1,5.7,0.3,8.5,0.6c-1.2-2.6,1.4-4.2,3.6-3
        c2,1,2.1,3,3.4,4.1c1.2,0.1,2.4,0.1,3.6,0.2c3.2,0.1,6.3,0.1,9.2,0.1c1-0.1,2-0.1,3-0.1c1.1-0.1,2.2-0.1,3.3-0.2
        c-0.1-2.2,0.1-4.7,2.8-6.1c2.2-1.1,5.8-1.5,7.9,0c1.8,1.3,2.1,3.1,3.2,4.1c3.7-0.9,7-1.9,9.9-3.1c0.3-1.6-0.1-3.5,2.2-4.5
        c1.8-0.8,3.8-0.3,4.4,1.1C150.4,126.7,143.2,104.4,143.2,104.4z"/>
    <path class="st40" d="M126.2,138.5c-2.2,1-1.9,2.9-2.2,4.5c2.4-1,4.6-2.2,6.5-3.4C130,138.1,128,137.6,126.2,138.5z"/>
    <path class="st40" d="M63.1,141.2c2.4,0.7,3.7-1.3,5-2.4c-2.8-0.5-4.2-0.3-7.6-1.3C59.9,138.9,61.2,140.7,63.1,141.2z"/>
    <path class="st40" d="M110.9,142.1c-2.1-1.5-5.7-1.1-7.9,0c-2.6,1.3-2.9,3.9-2.8,6.1c5.2-0.4,9.8-1.1,13.9-2
        C113,145.2,112.7,143.3,110.9,142.1z"/>
    <path class="st40" d="M86.2,143.8c1.4,1.8,4.4,2,6.4,1.3c2.4-0.9,3.8-3.9,4.1-6.1c-5.7,0.4-7.9,0.3-12.4,0.3
        C85.1,140.3,85,142.2,86.2,143.8z"/>
    <path d="M94,148.4c1,0,2-0.1,3-0.1C96,148.3,95,148.3,94,148.4z"/>
    <path class="st28" d="M119.6,41.3C119.6,41.3,119.6,41.4,119.6,41.3c0.3,0.1,0.5,0.2,0.8,0.2C120.1,41.5,119.8,41.4,119.6,41.3z"/>
    
        <linearGradient id="SVGID_15_" gradientUnits="userSpaceOnUse" x1="114.6065" y1="226.4012" x2="123.0405" y2="285.5547" gradientTransform="matrix(1 0 0 -1 0 285.89)">
        <stop  offset="0" style="stop-color:#2B9759"/>
        <stop  offset="6.060600e-03" style="stop-color:#2B9759"/>
        <stop  offset="1" style="stop-color:#41CE74"/>
    </linearGradient>
    <path class="st41" d="M114.9,40.5c0,0,0,0.1,0,0.1c1.5,0.1,3.1,0.4,4.7,0.7c0,0,0,0,0,0C118,40.9,116.2,40.6,114.9,40.5z"/>
    
        <linearGradient id="SVGID_16_" gradientUnits="userSpaceOnUse" x1="111.8052" y1="226.8011" x2="120.2382" y2="285.9534" gradientTransform="matrix(1 0 0 -1 0 285.89)">
        <stop  offset="0" style="stop-color:#268D4E"/>
        <stop  offset="6.060600e-03" style="stop-color:#268D4E"/>
        <stop  offset="1" style="stop-color:#3ABC64"/>
    </linearGradient>
    <path class="st42" d="M114.8,40.5c-0.3,0-0.6,0-0.9,0.1c0.3,0,0.6,0,1,0.1c0,0,0-0.1,0-0.1C114.9,40.5,114.8,40.5,114.8,40.5z"/>
    
        <radialGradient id="SVGID_17_" cx="-195.9379" cy="559.6882" r="1" gradientTransform="matrix(64.9887 0 0 -66.163 12825.8984 37130.5742)" gradientUnits="userSpaceOnUse">
        <stop  offset="0" style="stop-color:#DB572E"/>
        <stop  offset="6.060600e-03" style="stop-color:#DB572E"/>
        <stop  offset="0.9939" style="stop-color:#BF2D19"/>
        <stop  offset="1" style="stop-color:#BF2D19"/>
    </radialGradient>
    <path class="st43" d="M114,40.6c-0.4,0.1-0.7,0.2-1,0.4c0,0,15.4,4.1,24.4,21.6c0,0-2-11.8-12.7-19.5c0,0-2-0.8-4.3-1.4
        c-0.3-0.1-0.5-0.1-0.8-0.2c-1.6-0.3-3.1-0.6-4.7-0.7C114.6,40.6,114.3,40.6,114,40.6z"/>
    
        <radialGradient id="SVGID_18_" cx="-195.9379" cy="559.6882" r="1" gradientTransform="matrix(64.9886 0 0 -66.1631 12825.8789 37130.6289)" gradientUnits="userSpaceOnUse">
        <stop  offset="0" style="stop-color:#ED562B"/>
        <stop  offset="6.060600e-03" style="stop-color:#ED562B"/>
        <stop  offset="0.9939" style="stop-color:#D33017"/>
        <stop  offset="1" style="stop-color:#D33017"/>
    </radialGradient>
    <path class="st44" d="M106.3,41.7c-3.8,0.2-8,3.4-8,3.4c-2.4,7.2-3.5,20.7-3.5,20.7C96.6,52.7,106.3,41.7,106.3,41.7z"/>
</g>
</svg>

                                    </div>
    <img src="images/registration/kakpoluchitodobrenie.jpg" alt="myCredit-video" class="numbers-gif">
    <div class="numbers-play text-center" id="numbers-play">
        <div class="numbers-play--holder js-play">
            <img src="images/play.svg" width="98" height="98" alt="">
            <p>Как получить одобрение по заявке на кредит в MyCredit</p>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <video width="320" height="240" preload="none" class="js-video embed-responsive-item" controls="">
            <source src="/assets/video/video-content-1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
                                <p>Детально рассмотрим вид личного кабинета.</p>
                                <p>Обратите внимание на меню вкладок вверху страницы, тут вы можете переключаться между разными разделами личного кабинета:</p>
                                <ol class="faq-ol">
                                    <li>
                                        <p>Вкладка «Мой Кредит» - показывает всю подробную информацию по вашему кредиту, дату погашения, сумму и проценты.</p>
                                        <a href="/images/test/faq/Р1.В1.1(rus).jpg" data-lightbox="roadtrip"><img src="/images/test/faq/Р1.В1.1(rus).jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <p>Вкладка «Мои данные» показывает заполненные вами личные данные: контактную информацию, личные данные, занятость. Нажав на один из пунктов в главном окне вы можете исправить некорректные данные, либо внести изменения.</p>
                                        <p>Окно редактирования личных данных выглядит следующим образом.</p>
                                        <a href="/images/test/faq/Р1.В1.3(rus).jpg" data-lightbox="roadtrip"><img src="/images/test/faq/Р1.В1.3(rus).jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <p>Во вкладке «Мои бонусы» содержится информация о скидках, доступной сумме займа, активности, статусе и достижениях клиента.</p>
                                        <a href="/images/test/faq/P1.B1.bonus(rus).jpg" data-lightbox="roadtrip"><img src="/images/test/faq/P1.B1.bonus(rus).jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <p>Вкладка «Мои карты» показывает банковские карты, которые вы привязали, а также требования к банковским картам.</p>
                                        <a href="/images/test/faq/lkabinet_rus12.jpg" data-lightbox="roadtrip"><img src="/images/test/faq/lkabinet_rus12.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <p>Вкладка «История кредитов» показывает все кредиты взятые вами, а также историю их погашения.</p>
                                        <a href="/images/test/faq/Р1.В1.6(rus).jpg" data-lightbox="roadtrip"><img src="/images/test/faq/Р1.В1.6(rus).jpg" alt=""></a>
                                    </li>
                                </ol>
                                <p>Чтобы зарегистрироваться и <a href="ru/">получить кредит</a> в компании MyCredit зайдите на официальный сайт MyCredit, где вы можете сразу перейти к регистрации личного кабинета и непосредственно к оформлению кредита.</p>
                                <ul>
                                    <li>Выберите нужную вам сумму и нажмите кнопку «Оформить кредит».</li>
                                    <li>Заполните контактные данные. Введите код из сообщения, которое придет на указанный вами номер мобильного телефона. После придумайте пароль, содержащий не менее 6 знаков, включая цифры и буквы верхнего и нижнего регистра. Далее заполните личные данные - введите ваши паспортные данные, ИНН, дату рождения и адрес проживания.</li>
                                    <li>Вы попадаете на страницу, где нужно указать информацию о вашей занятости и дополнительном доходе. Вводите только достоверную информацию и рабочие номера телефонов.</li>
                                    <li>Далее укажите данные вашей личной банковской карты и пройдите ее верификацию – подтверждение того, что карта находится в ваших руках. Процесс верификации проходит максимально просто. На указанной вами карте будет временно заблокирована одна гривна. На ваш номер телефона поступит SMS-сообщение с кодом для проверки, который нужно будет ввести в специальное поле. Это позволит убедиться, что оформить займ на карту пытаетесь именно вы.
                                        <blockquot>Мы не симаем деньги с карты клиента, а лишь временно блокируем определенную сумму. В течение суток эта сумма станет доступна.</blockquot>
                                    </li>
                                    <li>Система автоматически определяет достоверность заполненных вами данных, и в случае корректного заполнения вы попадете в личный кабинет пользователя.</li>
                                    <li>Войдите в личный кабинет на сайте, используя ваш номер телефона и придуманный вами пароль.</li>
                                    <li>Ознакомьтесь с текстом договора и поставьте галочку в пункте «Согласен с условиями договора». После подтверждения согласия с условиями договора на ваш телефонный номер будет выслано SMS-сообщение с кодом для подписания заявки. Введите код на сайте и ожидайте окончательного решения.</li>
                                </ul>
                                <div class="faq-heading">Был ли этот ответ вам полезен?</div>
                                <div class="faq-like  d-f align-center">
                                    <div class="faq-like-buttons">
                                        <button class="btn btn-like" id="btn_like_positive">Да</button>
                                        <button class="btn btn-like" id="btn_like_negative">Нет</button>
                                        <span id="span_page_rating" class="hidden">70</span>
                                    </div>
                                    <div class="faq-like-values">
                                        <div>
                                            <img src="assets/images/like.svg" alt="">
                                            <span id="span_like_positive">0</span>
                                        </div>
                                        <div>
                                            <img src="assets/images/dislike.svg" alt="">
                                            <span id="span_like_negative">0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-contacts">
                                    <span>Всё еще остались вопросы? Тогда звоните нам:</span>
                                    <div class="faq-phones">
                                        <a href="tel:0733694111" class="lifecell">073 369 41 11</a>
                                        <a href="tel:0673694111" class="kyivstar">067 369 41 11</a>
                                        <a href="tel:0503694111" class="mts">050 369 41 11</a>
                                    </div>
                                    <div class="faq-person">
                                        <img src="assets/images/personal/review-person.png" alt="">
                                        <span>
										<strong>Роман</strong>
										Кредитный эксперт MyCredit
									</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer" id="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="footer-left">
                        <div class="footer-menu">
                            <div class="footer-heading">О нас</div>
                            <ul>
                                <li><a href="">Правовая информация</a></li>
                                <li><a href="">Договор займа</a></li>
                                <li><a href="">Финансовая отчетность</a></li>
                                <li><a href="">Политика конфиденциальности</a></li>
                                <li><a href="">Партнерам</a></li>
                                <li><a href="">Отзывы</a></li>
                                <li><a href="">Контакты</a></li>
                            </ul>
                        </div>
                        <div class="footer-menu">
                            <div class="footer-heading">Часто задаваемые вопросы</div>
                            <ul>
                                <li><a href="">Как получить кредит?</a></li>
                                <li><a href="">Как погасить / продлить кредит</a></li>
                                <li><a href="">Почему мне отказали в выдаче кредита</a></li>
                                <li><a href="">Блог</a></li>
                                <li><a href="">Новости</a></li>
                            </ul>
                        </div>
                        <div class="footer-menu">
                            <div class="footer-heading">Как вернуть кредит</div>
                            <ul>
                                <li><a href="">В интернете</a></li>
                                <li><a href="">Оплата кредита через терминал</a></li>
                                <li><a href="">В кассе банка</a></li>
                            </ul>
                        </div>
                        <div class="footer-menu footer-menu__wide">
                            <div class="footer-heading">Услуги кредитования</div>
                            <div class="footer-menu__wrapper">
                                <ul>
                                    <li><a href="">Деньги до зарплаты онлайн за 20 минут</a></li>
                                    <li><a href="">Кредит от 18 лет без справок и поручителей </a></li>
                                    <li><a href="">Кредиты без залога в Киеве, Харькове и всей Украине</a></li>
                                    <li><a href="">Потребительский кредит онлайн в Украине</a></li>
                                    <li><a href="">Кредит для пенсионеров в Украине</a></li>
                                    <li><a href="">Микрокредит и микрозайм онлайн на карту</a></li>
                                    <li><a href="">Кредит онлайн с плохой кредитной историей в Украине</a></li>
                                </ul>
                                <ul>
                                    <li><a href="">Взять кредит онлайн без справки о доходах в Украине</a></li>
                                    <li><a href="">Деньги в долг на карту</a></li>
                                    <li><a href="">Краткосрочный кредит на 1 месяц</a></li>
                                    <li><a href="">Беспроцентный кредит под 0% без переплат</a></li>
                                    <li><a href="">Кредит 365 дней в году</a></li>
                                    <li><a href="">Кредитный калькулятор онлайн в Украине</a></li>
                                    <li><a href="">Пролонгация кредита от Mycredit</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-right text-center">
                        <ul>
                            <li>
                                <a href="tel:0733694141"><span class="icon-lifecell-1"></span><span>073 369 41 41</span></a>
                            </li>
                            <li>
                                <a href="tel:0733694141"><span class="icon-lifecell-12"></span><span>073 369 41 41</span></a>
                            </li>
                            <li>
                                <a href="tel:0733694141"><span class="icon-mts"></span><span>073 369 41 41</span></a>
                            </li>
                            <li>
                                <a href="tel:0733694141"><span class="icon-viber"></span><span>073 369 41 41</span></a>
                            </li>
                        </ul>
                        <div class="main-phone">
                            <a href="tel:0800214111">0 800 214 111</a>
                            <span>Бесплатно по Украине со стационарных телефонов</span>
                            <button class="btn btn-phone js-callback-show" onclick="onClickSendMe();">Написать нам</button>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <a href="#" class="footer-logo">
                        <img src="images/logo_last_white.svg" alt="">
                    </a>
                    <div class="footer-text">
                        <p>Первый в Украине сервис кредитования через интернет. Мы предоставляем быстрые и удобные кредиты для всех граждан Украины.
                            <br>© 2015 - 2018 MyCredit - Кредит онлайн на банковскую карту за 20 минут </p>
                        <p>Разработка и поддержка сайта — <a href="#">Artjoker</a></p>
                    </div>
                    <ul class="footer-social">
                        <li><a href=""><span class="icon-telegram-1"></span></a></li>
                        <li><a href=""><span class="icon-vk-social-network-logo"></span></a></li>
                        <li><a href=""><span class="icon-facebook-logo"></span></a></li>
                        <li><a href=""><span class="icon-instagram-logo"></span></a></li>
                        <li><a href=""><span class="icon-youtube-logo"></span></a></li>
                        <li><a href=""><span class="icon-google-plus-logo"></span></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="bottom-callback js-callback" id="div_SendEmail">
            <span class="icon-close js-callback-close" onclick="onClickCloseEmail();"></span>
            <div class="callback-holder d-f">
                <div class="callback-left">
                    <figure class="call-img">
                        <img alt="" class="lazy" src="images/operator.png">
                    </figure>
                    <div class="call-img--name">
                        Ирина Кондрашова <span>специалист по кредитованию</span>
                    </div>
                    <div class="call-text">
                        <img src="images/quot.png" alt=""> У вас есть вопрос по оформлению займа в MyCredit? <strong>Напишите нам, мы поможем его решить!</strong>
                    </div>
                </div>
                <div class="callback-form">
                    <form name="sendMail" id="sendMail" action="http://dev.mycredit.ua/ru/contacts/" method="POST" class="form js_validate" onclick="onClickFormSendMail();">
                        <input type="hidden" name="CSRFName" value="CSRFGuard_755083114">
                        <input type="hidden" name="CSRFToken" value="FR8Thd7a2Ta49A8e3iB4kaYH5R8Df9ERdkbkyTB7Sy8frRT8EHAfAedSETrQ9Atn">
                        <div class="form-group">
                            <div class="form-control--wr">
                                <label for="send_sername" class="form-label">ФИО</label>
                                <input type="text" class="form-control" id="send_sername" name="sendMail[sername]" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control--wr">
                                <label for="send_email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="send_email" name="sendMail[email]" required="" data-validate="email" onkeyup="onKeyUpToEnter('email', event);">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control--wr">
                                <label for="message" class="form-label">Сообщение</label>
                                <textarea name="sendMail[message]" id="message" class="write-us form-control" required=""></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-callback js-callback" onclick="if (validate($(this).parents('.js_validate'))) onClickSendEmail();">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>
            <div id="div_resultEmail" class="form-group hidden callback-result bottom-call-hidden">
                <span id="span_resultEmail">Сообщение отправлено</span>
            </div>
        </div>
    </div>
    <script src="js/content-home.min.js"></script>
</body>

</html>