<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=2.0">
    <meta name="theme-color" content="#db5945">
    <title></title>
    <!--<meta name="robots" content="index, follow" />-->
    <meta name="description" content="" />
    <meta name="yandex-verification" content="" />
    <meta name="google-site-verification" content="" />
    <!--<link rel="shortcut icon" href="/images/test/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">-->
    <link rel="stylesheet" href="css/lending1-page.min.css">
    <!-- <link rel="stylesheet" href="css/main-page-mobile.min.css" media="screen and (max-width: 767px)"> -->
</head>

<body class="home-page">
    <div class="wrapper">
        <header class="header" id="">
            <div class="header-container d-f align-center justify-between">
                <a class="header_phone d-f align-center" href="tel:0800214111">
                    <svg version="1.1" id="Шар_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="33px" height="33.048px" viewBox="0 0 33 33.048" enable-background="new 0 0 33 33.048" xml:space="preserve">
                        <g>
                            <g>
                                <path style="fill:#fff;" d="M26.094,20.473c-0.677-0.705-1.493-1.082-2.358-1.082c-0.857,0-1.68,0.37-2.385,1.074l-2.204,2.197
            c-0.182-0.098-0.363-0.188-0.537-0.279c-0.251-0.125-0.488-0.244-0.69-0.369c-2.064-1.312-3.941-3.021-5.741-5.231
            c-0.871-1.102-1.457-2.03-1.883-2.971c0.572-0.523,1.102-1.067,1.618-1.591c0.195-0.195,0.391-0.397,0.586-0.593
            c1.465-1.464,1.465-3.362,0-4.827l-1.904-1.904c-0.216-0.216-0.439-0.439-0.648-0.663C9.529,3.802,9.089,3.355,8.635,2.937
            C7.958,2.267,7.15,1.912,6.299,1.912c-0.852,0-1.675,0.355-2.372,1.025C3.92,2.943,3.92,2.943,3.914,2.951L1.542,5.343
            C0.649,6.236,0.14,7.324,0.029,8.586c-0.168,2.037,0.432,3.934,0.893,5.176c1.13,3.048,2.817,5.873,5.336,8.9
            c3.055,3.648,6.73,6.529,10.93,8.559c1.604,0.76,3.745,1.66,6.138,1.812c0.146,0.008,0.3,0.015,0.439,0.015
            c1.611,0,2.964-0.579,4.024-1.729c0.007-0.014,0.021-0.021,0.028-0.035c0.362-0.439,0.781-0.837,1.221-1.262
            c0.3-0.287,0.606-0.586,0.907-0.9c0.689-0.719,1.053-1.556,1.053-2.414c0-0.864-0.37-1.694-1.074-2.392L26.094,20.473z
             M28.591,27.816C28.584,27.816,28.584,27.824,28.591,27.816c-0.272,0.293-0.551,0.559-0.852,0.852
            c-0.453,0.432-0.913,0.886-1.346,1.395c-0.705,0.754-1.534,1.109-2.623,1.109c-0.104,0-0.216,0-0.32-0.008
            c-2.071-0.132-3.997-0.941-5.441-1.631c-3.947-1.912-7.414-4.625-10.294-8.064c-2.379-2.866-3.97-5.517-5.022-8.363
            C2.044,11.37,1.807,10.017,1.912,8.74c0.069-0.816,0.384-1.492,0.963-2.071L5.252,4.29c0.342-0.321,0.704-0.496,1.061-0.496
            c0.439,0,0.795,0.265,1.019,0.488C7.338,4.29,7.345,4.297,7.352,4.304c0.426,0.398,0.83,0.809,1.255,1.249
            c0.217,0.223,0.44,0.446,0.663,0.676l1.904,1.904c0.739,0.739,0.739,1.422,0,2.162c-0.202,0.203-0.397,0.404-0.6,0.6
            c-0.586,0.6-1.144,1.158-1.751,1.702c-0.014,0.014-0.028,0.021-0.035,0.035c-0.6,0.6-0.488,1.186-0.362,1.583
            c0.007,0.021,0.014,0.042,0.021,0.062c0.496,1.2,1.193,2.33,2.253,3.676l0.008,0.007c1.925,2.371,3.955,4.22,6.193,5.636
            c0.286,0.181,0.579,0.328,0.858,0.468c0.25,0.125,0.487,0.244,0.689,0.369c0.028,0.014,0.057,0.035,0.084,0.049
            c0.237,0.119,0.461,0.175,0.691,0.175c0.578,0,0.941-0.362,1.06-0.481l2.386-2.386c0.237-0.237,0.614-0.522,1.054-0.522
            c0.432,0,0.787,0.271,1.004,0.508c0.007,0.008,0.007,0.008,0.014,0.015l3.844,3.843C29.302,26.345,29.302,27.077,28.591,27.816z" />
                                <path class="trill" style="fill:#fff;" d="M17.835,7.861c1.828,0.308,3.487,1.172,4.812,2.497c1.325,1.326,2.184,2.985,2.497,4.813
            c0.077,0.46,0.475,0.781,0.928,0.781c0.056,0,0.104-0.007,0.16-0.014c0.517-0.084,0.858-0.572,0.774-1.088
            c-0.376-2.211-1.423-4.227-3.02-5.824c-1.598-1.597-3.613-2.644-5.824-3.02c-0.517-0.084-0.997,0.258-1.088,0.767
            C16.985,7.282,17.32,7.777,17.835,7.861z" />
                                <path class="trill" style="fill:#fff;" d="M32.986,14.578c-0.621-3.641-2.337-6.954-4.974-9.591c-2.637-2.636-5.95-4.352-9.591-4.973
            c-0.509-0.091-0.99,0.258-1.081,0.767c-0.084,0.517,0.258,0.998,0.774,1.088c3.25,0.551,6.215,2.092,8.572,4.443
            c2.357,2.357,3.892,5.322,4.442,8.573c0.077,0.46,0.475,0.781,0.929,0.781c0.055,0,0.104-0.007,0.16-0.014
            C32.727,15.576,33.076,15.087,32.986,14.578z" />
                            </g>
                        </g>
                    </svg>
                    <span>
                        <span class="phone-city">0 800 214 111</span>
                    <br> бесплатные звонки по Украине
                    </span>
                </a>
                <div class="header-nav">
                    <span class="icon-close close-nav js-close-nav"></span>
                    <ul>
                        <li><a href="#">Преимущества</a></li>
                        <li><a href="#">Как оформить / погасить</a></li>
                        <li><a href="#">Условия</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="aboutUs d-f">
                <div class="aboutUs_leftBlock"></div>
                <div class="aboutUs_rightBlock">
                    <div class="heading-1">Деньги на вашей карте<br>уже в
                        <span class="js-timeTakeCredit timeTakeCredit">
                            11:45
                        </span>
                    </div>
                    <ul>
                        <li>Беспроцентный займ до 500 грн. под 0,01%</li>
                        <li>Выбор суммы и срока займа при регистрации</li>
                        <li>Досрочное погашение в любой день</li>
                        <li>Оплата только за дни пользования кредитом</li>
                        <li>Круглосуточная клиентская поддержка</li>
                    </ul>
                    <div class="aboutUs_btn">
                        <button class="btn btn-programm btn-arrow-animate" type="button">Подать заявку</button>
                        <span>Решение за 20минут!</span>
                    </div>
                    <div class="aboutUs_footer align-center d-f">
                        <img src="images/lending1/logo-visa.svg" alt="">
                        <img src="images/lending1/logo-mastercard.svg" alt="">
                        <img src="images/lending1/logo-privat.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="whyWe section">
                <div class="container">
                    <div class="heading-1">Почему у нас выгодно брать кредит</div>
                    <ul class="d-f justify-between">
                        <li>
                            <div class="justify-center align-right d-f"><img src="images/lending1/hand.jpg" alt=""></div>
                            <p>Предоставим вам<span class="text-bold"> 1 день бесплатного</span> пользования кредитом</p>
                        </li>
                        <li>
                            <div class="justify-center align-right d-f"><img src="images/lending1/econom.jpg" alt=""></div>
                            <p>Экономьте свое время: мы выдаем кредит в <span class="text-bold">80% случаев</span></p>
                        </li>
                        <li>
                            <div class="justify-center align-right d-f"><img src="images/lending1/pay.jpg" alt=""></div>
                            <p>Вам <span class="text-bold">не нужно будет платить</span> проценты за уже погашенную часть кредита</p>
                        </li>
                        <li>
                            <div class="justify-center align-right d-f"><img src="images/lending1/days.jpg" alt=""></div>
                            <p>По окончанию срока кредита у вас есть <span class="text-bold">3 дня без штрафов</span> на его погашение</p>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-programm btn-arrow-animate">Oформить кредит</button>
                </div>
            </div>
            <div class="howTake section">
                <div class="container">
                    <div class="heading-1">Как оформить кредит?</div>
                    <div class="stepNumber">1 шаг</div>
                    <div class="howTake_block d-f">
                        <div class="howTake_block_items justify-center align-center d-f">
                            <div>
                                <div class="heading-2">Выбор срока и суммы кредита</div>
                                <p>На первом этапе вам потребуется при помощи калькулятора выбрать сумму займа и срок, на который вы хотите взять кредит. Для этого передвиньте ползунки калькулятора на необходимое вам значение. При перемещении ползунков вы сможете увидеть полную сумму с процентами к погашению.</p>
                                <button type="button" class="btn btn-programm btn-arrow-animate">Начать оформление</button>
                            </div>
                        </div>
                        <div class="howTake_block_items justify-center align-center d-f item-img">
                            <img src="images/lending1/CALC.png" alt="">
                        </div>
                    </div>
                    <div class="stepNumber">2 шаг</div>
                    <div class="howTake_block d-f">
                        <div class="howTake_block_items justify-center align-center d-f item-img">
                            <img src="images/lending1/Macbook.png" alt="">
                        </div>
                        <div class="howTake_block_items justify-center align-center d-f">
                            <div>
                                <div class="heading-2">Заполнение анкеты</div>
                                <p>На втором этапе вам будет предложена анкета. Для того, чтобы получить одобрение на выдачу по кредиту заполните актуальные контактные данные, укажите корректные номер паспорта и ИНН, а также честно ответьте на вопросы касательно вашего образования и уровня дохода</p>
                            </div>
                        </div>
                    </div>
                    <div class="stepNumber">3 шаг</div>
                    <div class="howTake_block d-f">
                        <div class="howTake_block_items justify-center align-center d-f">
                            <div>
                                <div class="heading-2">Регистрация карты и подписание договора</div>
                                <p>На последнем этапе вам необходимо будет указать реквизиты своей банковской карты (на нее будут зачислены деньги). После получения одобрения по кредиту в вашем личном кабинете появится договор. Ознакомьтесь с текстом договора и подпишите его электронной подписью. В качестве подписи договора онлайн используется цифровой код. После подписания договора деньги на вашу карту поступят автоматически.</p>
                                <button type="button" class="btn btn-programm btn-arrow-animate">Оформить кредит</button>
                            </div>
                        </div>
                        <div class="howTake_block_items last-item justify-center align-center d-f item-img">
                            <img src="images/lending1/Macbook2.png" alt="">
                        </div>
                    </div>
                    <div class="stepNumber finish"><img src="images/lending1/ico-finish.svg" alt=""></div>
                </div>
            </div>
            <div class="PayCredit section">
                <div class="container">
                    <div class="heading-1">Погасить кредит быстро и без комиссии!</div>
                    <p>Погасить кредит проще простого! Оплатить его частично или полностью вы можете:</p>
                    <div class="PayCredit_img d-f justify-center align-center">
                        <div>
                            <img src="images/lending1/bank.jpg" alt="">
                            <p>в кассе любого банка украины</p>
                        </div>
                        <div>
                            <img src="images/lending1/LK.jpg" alt="">
                            <p>в личном кабинете</p>
                        </div>
                    </div>
                    <p>Вы в любой момент можете зайти в личный кабинет, чтобы сверить график погашения займа. Если вы испытываете финансовые трудности и не можете вовремя вернуть кредит - продлите срок действия займа! Для этого просто перенесите дату возврата кредита с оплатой комиссии за продление. В случае погашения займа раньше установленного времени, вы оплачиваете только проценты за фактическое пользование кредитом.</p>
                </div>
            </div>
            <div class="Conditions section">
                <div class="container">
                    <div class="heading-1">Условия получения займа</div>
                    <p>У каждого из нас хоть раз в жизни была такая ситуация, когда деньги нужны прямо здесь и сейчас. И, как назло, именно в это время на работе задерживают зарплату! Сервис онлайн-кредитования MyCredit поможет вам оставаться при деньгах в любой ситуации. Где бы вы ни находились – дома, в пути, на учебе или на работе, наш сервис всегда будет под рукой!</p>
                    <div class="heading-2">Особенности получения займа в MyCredit:</div>
                    <ul>
                        <li>Деньги перечисляются на карту любого банка Украины;</li>
                        <li>Для оформления кредита не требуются документы и информация от поручителей, только номер паспорта и ИНН (без фотографий и скан-копий)</li>
                        <li>Вам должно быть не меньше 18 лет;</li>
                        <li>Рассмотрение заявки осуществляется за 5 минут;</li>
                        <li>Вы заранее знаете процентную ставку по своему займу.</li>
                    </ul>
                    <p>Наши услуги доступны в любое время суток, в любой точке страны. Мы предлагаем онлайн кредиты в размере от 100 грн до 3000 грн на срок от 61 до 90 дней с возможностью досрочного погашения в любое время и без дополнительных комиссий. Кредитная ставка для новых клиентов - 0,99% в день.</p>
                    <p>Комиссионные сборы при оформлении и погашении кредита не взимаются и составляют 0 гривен. Максимальная годовая процентная ставка за год равна 547,5%.</p>
                    <div class="example">
                        <div class="heading-3">Пример расчета процентной ставки</div>
                        <p>При размере кредита 1000 гривен на срок 61 день вам необходимо будет суммарно погасить 1603 гривны. Мы прекращаем начисление процентов спустя 90 дней после просрочки по кредиту. Поэтому вам в любом случае не придется возвращать в разы больше, чем вы заняли.</p>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer section">
            <div class="container justify-between d-f">
                <div class="footer_block">
                    <div class="footer_heading">Время работы информационной поддержки</div>
                    <span>В будние дни: с 9:00 до 21:00</span><br>
                    <span>В выходные дни: с 9:00 до 18:00</span>
                    <div class="footer_heading notice">Оформить заявку на кредит можно круглосуточно без выходных!</div>
                </div>
                <div class="footer_block">
                    <div class="footer_heading">Контактная информация</div>
                    <span>&copy 2016 ЕГРПОУ 39861924<br>
                    Адрес: 01004, г. Киев, бул. Тараса Шевченко, дом 11, помещение 51а</span>
                    <span class="registration">Свидетельство о регистрации финансового учреждения серия IK №146, регистрационный номер №16103223, выданное Национальной комиссией по государственному регулированию в сфере рынков финансовых услуг 20.10.2015 года.</span>
                    <a href="">Политика конфеденциальности</a>
                </div>
            </div>
        </footer>
    </div>
    <script>
        
    </script>
</body>

</html>