<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=2.0">
    <meta name="theme-color" content="#db5945">
    <title>Кредит онлайн на карту в Украине. Взять деньги в займы быстро через интернет - Mycredit</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Взять кредит онлайн на карточку в Украине. Можете срочно взять деньги в кредит. Предлагаем быстро оформить займ на любую банковскую карту. Получить моментальный займ онлайн на банковский счет до 10000 грн. Экспресс одобрение заявки за 20 минут" />
    <meta name="yandex-verification" content="e9b6a2ccdf1c2a26" />
    <meta name="google-site-verification" content="DHkY6ywkpSEqaHBG1aQTBj651kRzAPjpSFXRPSrsERE" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="css/personal-page.min.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="css/personal-page-mobile.min.css" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="css/credit-history.min.css">
</head>

<body>
    <div class="container">
        <div class="heading-h2">История погашений</div>
        <div class="history--data-block">
            <div class="history--data-table history--credit">
                <table>
                    <thead class="history__thead">
                        <tr>
                            <th colspan="9">
                                <table>
                                    <tr>
                                        <th class="credit-Data">Дата</th>
                                        <th>Поступило погашение, грн</th>
                                        <th>Погашено тело</th>
                                        <th>Погашено стандартные проценты</th>
                                        <th>Погашено повышенные проценты</th>
                                        <th>Остаток тело</th>
                                        <th>Остаток стандартные проценты</th>
                                        <th>Остаток повышенные проценты</th>
                                        <th>Итого остаток, грн</th>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="history__tbody">
                        <tr>
                            <td colspan="9">
                                <table width="100%">
                                    <tr>
                                        <td data-label="Дата" class="credit-Data">12.09.2018</td>
                                        <td data-label="Поступило погашение, грн">-</td>
                                        <td data-label="Погашено тело">-</td>
                                        <td data-label="Погашено стандартные проценты">-</td>
                                        <td data-label="Погашено повышенные проценты">-</td>
                                        <td data-label="Остаток тело">1 000</td>
                                        <td data-label="Остаток стандартные проценты">-</td>
                                        <td data-label="Остаток повышенные проценты">-</td>
                                        <td data-label="Итого остаток, грн">1 000</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <table width="100%">
                                    <tr>
                                        <td data-label="Дата" class="credit-Data">14.09.2018</td>
                                        <td data-label="Поступило погашение, грн">500</td>
                                        <td data-label="Погашено тело">450</td>
                                        <td data-label="Погашено стандартные проценты">50</td>
                                        <td data-label="Погашено повышенные проценты">-</td>
                                        <td data-label="Остаток тело">550</td>
                                        <td data-label="Остаток стандартные проценты">-</td>
                                        <td data-label="Остаток повышенные проценты">-</td>
                                        <td data-label="Итого остаток, грн">550</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <table width="100%">
                                    <tr>
                                        <td data-label="Дата" class="credit-Data">14.10.2018</td>
                                        <td data-label="Поступило погашение, грн">500</td>
                                        <td data-label="Погашено тело">100</td>
                                        <td data-label="Погашено стандартные проценты">100</td>
                                        <td data-label="Погашено повышенные проценты">300</td>
                                        <td data-label="Остаток тело">450</td>
                                        <td data-label="Остаток стандартные проценты">-</td>
                                        <td data-label="Остаток повышенные проценты">-</td>
                                        <td data-label="Итого остаток, грн">450</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <table width="100%">
                                    <tr>
                                        <td data-label="Дата" class="credit-Data">15.10.2018</td>
                                        <td data-label="Поступило погашение, грн">460</td>
                                        <td data-label="Погашено тело">450</td>
                                        <td data-label="Погашено стандартные проценты">10</td>
                                        <td data-label="Погашено повышенные проценты">-</td>
                                        <td data-label="Остаток тело">-</td>
                                        <td data-label="Остаток стандартные проценты">-</td>
                                        <td data-label="Остаток повышенные проценты">-</td>
                                        <td data-label="Итого остаток, грн">0</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>

    <script src="js/all-home.min.js"></script>
</body>

</html>
history_Credit_Table