<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=2.0">
    <title>Подтверждение карты</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="css/registration-page.min.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="css/registration-page-mobile.min.css" media="screen and (max-width: 767px)">
</head>

<body id="body">
    <div class="ghost">
        <svg version="1.1" id="ghost" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 146 209" style="enable-background:new 0 0 146 209;" xml:space="preserve">
            <style type="text/css">
            .st0 {
                fill: url(#SVGID_1_);
            }

            .st1 {
                fill: url(#SVGID_2_);
            }

            .st2 {
                fill: url(#SVGID_3_);
            }

            .st3 {
                fill: url(#SVGID_4_);
            }

            .st4 {
                fill: url(#SVGID_5_);
            }

            .st5 {
                fill: url(#SVGID_6_);
            }

            .st6 {
                fill: url(#SVGID_7_);
            }

            .st7 {
                fill: url(#SVGID_8_);
            }

            .st8 {
                fill: url(#SVGID_9_);
            }

            .st9 {
                fill: #878787;
            }

            .st10 {
                fill: #A8A8A8;
            }

            .st11 {
                fill: #FFC6A4;
            }

            .st12 {
                fill: #FFDBC9;
            }

            .st13 {
                fill: #381808;
            }

            .st14 {
                fill: url(#SVGID_10_);
            }

            .st15 {
                fill: #F38322;
            }

            .st16 {
                fill: #372411;
            }

            .st17 {
                fill: #FFFFFF;
            }

            .st18 {
                fill: url(#SVGID_11_);
            }

            .st19 {
                fill: url(#animation_x5F_shadow_1_);
            }

            .st20 {
                fill: #8F1E1E;
            }

            .st21 {
                fill: #FCFF8C;
            }

            .st22 {
                fill: #A69E96;
            }

            .st23 {
                fill: url(#SVGID_12_);
            }

            .st24 {
                fill: url(#SVGID_13_);
            }

            .st25 {
                fill: url(#SVGID_14_);
            }

            .st26 {
                fill: #BD2F62;
            }

            .st27 {
                fill: url(#SVGID_15_);
            }
            </style>
            <g id="body2">
                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="2.9301" y1="105.39" x2="145.777" y2="105.39" gradientTransform="matrix(1 0 0 -1 0 209.89)">
                    <stop offset="0" style="stop-color:#A8A8A8" />
                    <stop offset="0.5576" style="stop-color:#FFC6A4" />
                    <stop offset="1" style="stop-color:#FFC6A4" />
                </linearGradient>
                <path class="st0" d="M104.9,178.3c-2.2,0-5.2-1.9-7-5.4c-2.3-4.7-1.7-10.3,0.4-12.1c0.4-0.4,0.9-0.5,1.3-0.5c1.8,0,3.8,2.5,5.7,6.2
            c2.3,4.7,3.5,9.4,1.5,11.2C106.3,178.1,105.6,178.3,104.9,178.3z M108.4,162.8c-1.4,0-3.6-2.7-4.6-6.4c-1.1-4.1-0.3-7.9,1.1-8.5
            c0.1,0,0.2-0.1,0.3-0.1c1.2,0,2.5,2.7,3.4,6.5c1.1,4.1,1.5,7.9,0.1,8.5C108.6,162.8,108.5,162.8,108.4,162.8z M99.3,152.5
            c-1.3,0-2.8-1.9-3-4.7c-0.2-3.2,1.3-6.4,2.8-7c0.2-0.1,0.3-0.1,0.5-0.1c1.1,0,1.7,2,1.9,4.8c0.2,3.2-0.2,6.2-1.6,6.8
            C99.6,152.5,99.5,152.5,99.3,152.5z M77.9,12.7c-0.7,0-1.2-0.2-1.4-0.7c-0.4-0.9,0.5-2.2,2-3c0.7-0.4,1.4-0.6,2-0.6
            c0.7,0,1.2,0.2,1.4,0.7c0.4,0.9-0.5,2.2-2,3C79.2,12.5,78.5,12.7,77.9,12.7z M86,8.8c-0.7,0-1.1-0.1-1.3-0.5
            C84.2,7,89.6,3.2,97.1,3c0.2,0,0.5,0,0.7,0c7.2,0,13.6,3.3,14.1,4.6c0.2,0.4-0.3,0.5-1.3,0.5c-1,0-2.6-0.2-4.5-0.3
            c-1.9-0.2-4.1-0.3-6.5-0.3c-0.5,0-1,0-1.5,0C92.5,7.7,88.1,8.8,86,8.8z M99.9,0C70.3,0,32.2,12.5,22.2,35.1
            c-10.9,26.9-2.1,70.3-3.1,97.8c-1,27.5-16.1,51.3-16.1,51.3c3.1-0.5,14-6.3,14-6.3c-1,5.8-4.7,14.8-4.7,14.8
            c-3.2-1.2-5.3-1.7-6.9-1.7c-0.8,0-1.5,0.1-2.2,0.4c0.4,1,1,3.6,1,4.6c0.7,0.1,1.6,0.3,2.4,0.4c2.7,0.5,4.7,5,9.4,5
            c0.6,0,1.3-0.1,2.1-0.3c6.2-1.6,19.8-17.4,19.8-17.4s0,17.4-1,21.7c-0.6,2.4,0.2,2.9,0.9,2.9c0.6,0,1.1-0.3,1.1-0.3
            c9.9-8.5,15.1-31.7,15.1-31.7c6.8,25.4,18.2,26.9,18.2,26.9c1-6.9,5.7-19.6,5.7-19.6C93.9,209,105.4,209,105.4,209
            c-4.2-9-6.8-22.7-6.8-22.7c11.6,10.9,21.3,11.6,23.8,11.6c0.4,0,0.6,0,0.6,0l2.6-8.5c-30.7-80.8-3.2-156.8-3.2-156.8l7.4,2
            c14.6,0,16-17,16-17C145.5,9.5,141,6,137,6c-2.9,0-5.6,1.8-6.4,4.9c-1.9,7.3,7.9,7.4,8.5,7.4c0,0,0,0,0,0c2.9,5,0.4,9.3-2.7,9.3
            c-1.7,0-3.5-1.3-4.6-4.5c-6.3-18.1-19.8-22.2-19.8-22.2C108.3,0.3,104.2,0,99.9,0z" />
                <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="2.9936" y1="128.4277" x2="145.841" y2="128.4277" gradientTransform="matrix(1 0 0 -1 0 209.89)">
                    <stop offset="0" style="stop-color:#949494" />
                    <stop offset="0.5576" style="stop-color:#E0AE90" />
                    <stop offset="1" style="stop-color:#E0AE90" />
                </linearGradient>
                <path class="st1" d="M28.9,76.4c0,0,6.8,4,17.4,6.8c0.1,0.4,0.1,0.9,0.3,1.3c1.8,0.5,3.6,0.9,5.4,1.2c0.2-0.4,0.3-0.8,0.3-1.2
            c0.4,0.1,0.9,0.2,1.3,0.2c0,0.4,0,0.9,0.1,1.3c1.7,0.3,3.4,0.4,5.1,0.5c0.1-0.4,0.2-0.7,0.3-1.1c1.7,0.1,3.5,0.2,5.3,0.3
            c0.1,0.3,0.2,0.6,0.3,1c1.8-0.1,3.5-0.2,5.1-0.4c0.1-0.3,0.2-0.5,0.2-0.8c0.9-0.1,1.7-0.1,2.6-0.2c0,0.2,0.1,0.4,0.1,0.6
            c2-0.3,3.8-0.7,5.6-1.1c0-0.1,0-0.3-0.1-0.4c1.8-0.4,3.7-0.8,5.6-1.4c0,0.1,0,0.1,0.1,0.2c1.5-0.5,2.9-1,4.2-1.4c0-0.1,0-0.1,0-0.2
            c3.1-1.1,6.2-2.5,9.3-4.2c-11.6,5.2-22.8,7-32.6,7C43.8,84.4,28.9,76.4,28.9,76.4z" />
                <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="2.9936" y1="122.3483" x2="145.841" y2="122.3483" gradientTransform="matrix(1 0 0 -1 0 209.89)">
                    <stop offset="0" style="stop-color:#BEBEBE" />
                    <stop offset="0.5576" style="stop-color:#FFD4BB" />
                    <stop offset="1" style="stop-color:#FFD4BB" />
                </linearGradient>
                <path class="st2" d="M72.7,89.9c-0.3,0-0.5,0.1-0.8,0.2c0.5,0.2,0.8,0.4,0.8,0.4c0.2-0.2,0.3-0.3,0.4-0.5
            C73,90,72.8,89.9,72.7,89.9z M64,89.6c0.5,0,1,0.1,1.6,0.4C65,89.7,64.4,89.6,64,89.6z M64,89.6C64,89.6,64,89.6,64,89.6
            C64,89.6,64,89.6,64,89.6z M68.1,88.6c-0.4,0-0.8,0-1.1,0.1c0.2,0,0.3,0.1,0.5,0.1C67.7,88.8,67.9,88.7,68.1,88.6z M77.9,87.3
            c-1.3,0.3-2.6,0.5-3.8,0.7c0.3,0.2,0.6,0.4,1,0.5c0.7-0.4,1.3-0.5,1.9-0.5c0.1,0,0.3,0,0.4,0C77.6,87.8,77.8,87.6,77.9,87.3z
             M49.1,87.1c0.1,0,0.3,0.1,0.4,0.1C49.3,87.2,49.2,87.1,49.1,87.1z M87.4,84.7c-0.6,0.2-1.2,0.4-1.8,0.6c0.1,0,0.2,0,0.3,0
            c0.3,0,0.7-0.1,1-0.3C87.1,85,87.2,84.8,87.4,84.7z M94.1,82c-0.2,0.1-0.4,0.2-0.7,0.3c-0.6,0.6-1.2,1.2-2,1.8
            C93.2,82.8,94.1,82,94.1,82z M31.9,80.2c9.9,11.1,20.5,14.8,30,14.8c0.4,0,0.8,0,1.3,0c0.2-0.5,0.4-0.9,0.6-1.3c-0.7,0-1.3,0-2,0
            c-0.2,0-0.5,0-0.7,0c-0.8,0-1.6,0-2.4-0.1c-0.9,0-1.7-0.1-2.6-0.2c0.1-1.9,0.1-3.8-2.1-4.4c-0.4-0.1-0.7-0.2-1-0.2
            c-1.7,0-2.2,1.6-2.3,3.3c-2.2-0.7-4.2-1.6-6.1-2.6c0.1-1.2,0-2.6-0.4-3.8c-1.4-0.5-2.8-0.9-4-1.4c-0.5,0.5-0.8,1.2-1,1.9
            c-2.6-1.9-4.7-3.8-6.3-5.5C32.2,80.4,31.9,80.2,31.9,80.2z" />
                <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="2.9935" y1="119.6821" x2="145.841" y2="119.6821" gradientTransform="matrix(1 0 0 -1 0 209.89)">
                    <stop offset="0" style="stop-color:#A7A7A7" />
                    <stop offset="0.5576" style="stop-color:#E0BAA4" />
                    <stop offset="1" style="stop-color:#E0BAA4" />
                </linearGradient>
                <path class="st3" d="M82.2,89.8c-0.6,0.2-1.2,0.5-1.8,0.7c0,0,0,0.1,0,0.1C81,90.4,81.6,90.1,82.2,89.8z" />
                <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="2.9935" y1="40.6535" x2="145.841" y2="40.6535" gradientTransform="matrix(1 0 0 -1 0 209.89)">
                    <stop offset="0" style="stop-color:#8F8F8F" />
                    <stop offset="0.5576" style="stop-color:#D9A88C" />
                    <stop offset="1" style="stop-color:#D9A88C" />
                </linearGradient>
                <path class="st4" d="M99.6,160.2c-0.5,0-0.9,0.2-1.3,0.5c-2,1.8-2.7,7.4-0.4,12.1c1.8,3.5,4.7,5.4,7,5.4c0.7,0,1.4-0.2,1.9-0.7
            c2-1.8,0.8-6.5-1.5-11.2C103.4,162.7,101.4,160.2,99.6,160.2z" />
                <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="2.9938" y1="54.561" x2="145.841" y2="54.561" gradientTransform="matrix(1 0 0 -1 0 209.89)">
                    <stop offset="0" style="stop-color:#8F8F8F" />
                    <stop offset="0.5576" style="stop-color:#D9A88C" />
                    <stop offset="1" style="stop-color:#D9A88C" />
                </linearGradient>
                <path class="st5" d="M105.2,147.8c-0.1,0-0.2,0-0.3,0.1c-1.3,0.6-2.2,4.4-1.1,8.5c1,3.7,3.2,6.4,4.6,6.4c0.1,0,0.3,0,0.4-0.1
            c1.3-0.6,1-4.4-0.1-8.5C107.7,150.5,106.4,147.8,105.2,147.8z" />
                <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="2.9935" y1="63.2835" x2="145.841" y2="63.2835" gradientTransform="matrix(1 0 0 -1 0 209.89)">
                    <stop offset="0" style="stop-color:#8F8F8F" />
                    <stop offset="0.5576" style="stop-color:#D9A88C" />
                    <stop offset="1" style="stop-color:#D9A88C" />
                </linearGradient>
                <path class="st6" d="M99.5,140.7c-0.1,0-0.3,0-0.5,0.1c-1.4,0.6-3,3.8-2.8,7c0.2,2.8,1.7,4.7,3,4.7c0.2,0,0.4,0,0.5-0.1
            c1.4-0.6,1.8-3.6,1.6-6.8C101.2,142.7,100.6,140.7,99.5,140.7z" />
                <linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="2.9936" y1="203.9956" x2="145.841" y2="203.9956" gradientTransform="matrix(1 0 0 -1 0 209.89)">
                    <stop offset="0" style="stop-color:#D7D7D7" />
                    <stop offset="0.5576" style="stop-color:#FFE5D5" />
                    <stop offset="1" style="stop-color:#FFE5D5" />
                </linearGradient>
                <path class="st7" d="M97.8,3c-0.2,0-0.5,0-0.7,0c-7.5,0.2-12.9,4-12.3,5.4c0.1,0.3,0.6,0.5,1.3,0.5c2.1,0,6.4-1.1,12-1.3
            c0.5,0,1,0,1.5,0c2.3,0,4.6,0.2,6.5,0.3c1.9,0.2,3.5,0.3,4.5,0.3c1,0,1.5-0.1,1.3-0.5C111.3,6.3,105,3,97.8,3z" />
                <linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="2.9936" y1="199.3064" x2="145.841" y2="199.3064" gradientTransform="matrix(1 0 0 -1 0 209.89)">
                    <stop offset="0" style="stop-color:#D7D7D7" />
                    <stop offset="0.5576" style="stop-color:#FFE5D5" />
                    <stop offset="1" style="stop-color:#FFE5D5" />
                </linearGradient>
                <path class="st8" d="M80.5,8.5c-0.6,0-1.3,0.2-2,0.6c-1.5,0.8-2.4,2.1-2,3c0.2,0.5,0.7,0.7,1.4,0.7c0.6,0,1.3-0.2,2-0.6
            c1.5-0.8,2.4-2.1,2-3C81.7,8.7,81.2,8.5,80.5,8.5z" />
                <path class="st9" d="M8.4,192.6c0,0,7,6.9,8.1,9c0,0-4.9-0.3-7.3-1.6c0,0-3.1-5.8-5.7-5.8L8.4,192.6z" />
                <path class="st10" d="M123,197.9c0,0,2.9-11.1,5.7-14c2.9-2.9,8.6,0.8,8.6,0.8l-1.6,12.9C135.8,197.6,127.7,200,123,197.9z" />
                <path class="st11" d="M128.8,183.9c0,0,10.1,14.5,12.5,15.6c2.3,1.1-3.9-14.8-3.9-14.8S135.5,180.5,128.8,183.9z" />
                <path class="st10" d="M1.6,204c0,0,2.3-7.1,8.6-10.3c0,0-4.2-2.9-7-2.6C3.2,191-1,192.4,1.6,204z" />
                <path class="st12" d="M60.5,69.2c0,0-7.4-21.6,13.4-27.3c19.3-5.3,27.8,12.2,24.5,23.8c0,0-2.2,15.2-21.2,14.5
            C64.2,79.8,60.5,69.2,60.5,69.2z" />
                <path class="st13" d="M60.5,67.3c0,0-7.4-21.2,13.4-26.8c19.3-5.2,27.8,12,24.5,23.4c0,0-2.2,14.9-21.2,14.3
            C64.2,77.7,60.5,67.3,60.5,67.3z" />
                <radialGradient id="SVGID_10_" cx="-208.6078" cy="504.5261" r="1" gradientTransform="matrix(14.5528 0 0 -14.7913 3108.1912 7525.7788)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#FFDC2E" />
                    <stop offset="1" style="stop-color:#F1BA1F" />
                </radialGradient>
                <path class="st14" d="M61.2,68.3c0,0-7-18.6,12.1-25c19.3-6.4,27.7,15.5,24.6,21.8c0,0-1.5,14.1-21.1,13.5
            C64.7,78.2,61.2,68.3,61.2,68.3z" />
                <path class="st15" d="M61.3,53.8c0,0,27.9-8.6,36.3,13.6c0,0,5.3-18-13.6-24.7C78.5,40.8,64,43.1,61.3,53.8z" />
                <path class="st16" d="M78.6,61.6c0,6.7,0.9,12.2-0.3,12.2c-1.2,0-3.6-4-3.9-12.2c-0.3-8.7,2.8-12.2,3.9-12.2
            C79.4,49.4,78.6,54.9,78.6,61.6z" />
                <path class="st17" d="M77.2,61.5c0,1.1-3,2-6.7,2c-3.7,0-6.7-0.9-6.7-2c0-1.1,3-2,6.7-2C74.2,59.5,77.2,60.4,77.2,61.5z" />
                <path class="st13" d="M53.4,63.9c0-0.8,2.1-16.4-5.7-22.5c-7.8-6.1-25.2-5.8-26,16.4c0,0,1.3,15.2,19,15.6
            C52.3,73.7,53.4,63.9,53.4,63.9z" />
                <path class="st12" d="M53.4,67.8c0-0.8,2.1-16.4-5.7-22.5c-7.8-6.1-25.2-5.8-26,16.4c0,0,1.3,15.2,19,15.6
            C52.3,77.6,53.4,67.8,53.4,67.8z" />
                <radialGradient id="SVGID_11_" cx="-205.2643" cy="494.4209" r="1" gradientTransform="matrix(11.9558 0 0 -10.0416 2486.8066 5023.9136)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#FFDC2E" />
                    <stop offset="1" style="stop-color:#F1BA1F" />
                </radialGradient>
                <path class="st18" d="M53.4,66.3c0-0.8,2.1-16.4-5.7-22.5c-7.8-6.1-25.2-5.8-26,16.4c0,0,1.3,15.2,19,15.6
            C52.3,76.1,53.4,66.3,53.4,66.3z" />
                <path class="st15" d="M23.5,50.5c0,0,23.1-7.4,29.7,12.9c0,0,3.5-18.2-10.6-22.5C40.8,40.4,28.3,37.9,23.5,50.5z" />
                <path class="st16" d="M46.8,59.7c0,6.3-0.1,11.6-0.9,11.6c-0.7,0-2.3-3.7-2.5-11.4c-0.2-8.2,1.8-11.4,2.5-11.4
            C46.7,48.6,46.8,53.4,46.8,59.7z" />
                <path class="st17" d="M45.5,60.7c-0.1,1.1-3.1,2.5-6.6,2.2c-3.5-0.3-6.2-2.2-6.1-3.3c0.1-1.1,2.9-0.9,6.4-0.6
            C42.8,59.2,45.6,59.6,45.5,60.7z" />
            </g>
            <linearGradient class="tongue-shadow" id="animation_x5F_shadow_1_" gradientUnits="userSpaceOnUse" x1="2.9936" y1="105.0918" x2="145.841" y2="105.0918" gradientTransform="matrix(1 0 0 -1 0 209.89)">
                <stop offset="0" style="stop-color:#949494" />
                <stop offset="0.5576" style="stop-color:#E0AE90" />
                <stop offset="1" style="stop-color:#E0AE90" />
            </linearGradient>
            <path id="animation_x5F_shadow" class="st19 tongue-shadow" d="M82.8,89.5c-0.2,0.1-0.4,0.2-0.6,0.3c-0.6,0.3-1.2,0.6-1.8,0.9
        c-1.9,8.3,10.5,16.2,4,24.3c-2.7,3.4-5.9,4.9-9,5.1c0.4,0.1,0.8,0.1,1.2,0.1c4.3,0,9.6-3.1,11.3-6.7c2.3-4.8,0.1-10.4-2.3-14.7
        c-0.9-1.7-2.2-3.4-2.6-5.3c-0.2-1.2,0.1-2.5-0.2-3.7C82.9,89.7,82.9,89.6,82.8,89.5z" />
            <g id="body1">
                <path class="st20" d="M97.3,77.4c-3.1,1.7-6.2,3.1-9.3,4.2c0.1,1.4-0.1,2.9-1.2,3.4c-1.8,0.9-2.7-0.6-3-2.1c-1.9,0.5-3.7,1-5.6,1.4
            c0.5,2-0.5,4.6-2.9,4.2c-1.7-0.3-2.5-1.8-2.8-3.3c-0.9,0.1-1.7,0.2-2.6,0.2c-0.5,1.8-1.3,4-3.5,3.1c-1.3-0.5-1.9-1.7-2.1-2.9
            c-1.8,0-3.6-0.1-5.3-0.3c-0.3,1.8-1.1,3.4-3.4,2.7c-1.8-0.5-2-1.9-2.1-3.4c-0.5-0.1-0.9-0.1-1.3-0.2c-0.2,1.6-1.4,3.2-3.2,2.6
            c-1.9-0.6-2.6-2.2-2.8-3.9c-10.6-2.7-17.4-6.8-17.4-6.8s3.7,5.1,10.1,9.8c0.5-2,2.7-4,4.1-2.1c1.1,1.5,1.5,3.6,1.3,5.5
            c1.9,1,3.9,1.9,6.1,2.6c0.2-2,0.8-3.9,3.4-3.2c2.2,0.6,2.2,2.5,2.1,4.4c0.8,0.1,1.7,0.2,2.6,0.2c0.8,0,1.6,0.1,2.4,0.1
            c0.3-2.6,1.4-5,4.7-3.6c1.3,0.6,1.8,1.8,2.2,3c0,0.1,0,0.2,0.1,0.3c0.9-0.1,1.8-0.2,2.7-0.3c-0.1-0.9-0.1-1.8,0.6-2.5
            c1.2-1.1,2.7-0.4,3.5,0.8c0.2,0.3,0.3,0.6,0.4,0.8C91.8,88.1,97.3,77.4,97.3,77.4z" />
                <path class="st21" d="M64.4,85.6c0.3,1.3,0.8,2.4,2.1,2.9c2.2,0.9,3-1.3,3.5-3.1C68.1,85.6,66.2,85.6,64.4,85.6z" />
                <path class="st21" d="M75.3,88.5c2.4,0.4,3.5-2.2,2.9-4.2c-1.9,0.4-3.8,0.7-5.7,0.9C72.9,86.7,73.7,88.2,75.3,88.5z" />
                <path class="st21" d="M86.9,85.1c1.1-0.5,1.2-2,1.2-3.4c-1.4,0.5-2.8,1-4.2,1.4C84.2,84.5,85,85.9,86.9,85.1z" />
                <path class="st21" d="M55.7,88.1c2.3,0.7,3.1-0.9,3.4-2.7c-1.9-0.2-3.7-0.4-5.5-0.7C53.7,86.2,53.9,87.6,55.7,88.1z" />
                <path class="st21" d="M49.1,87.1c1.8,0.6,3-1,3.2-2.6c-2.1-0.4-4.1-0.8-6-1.3C46.5,84.9,47.1,86.5,49.1,87.1z" />
                <path class="st21" d="M43.1,84c-1.4-1.9-3.5,0.1-4.1,2.1c1.6,1.2,3.4,2.3,5.4,3.4C44.6,87.7,44.3,85.6,43.1,84z" />
                <path class="st21" d="M68,93.3c0-0.1,0-0.2-0.1-0.3c-0.4-1.3-0.9-2.5-2.2-3c-3.3-1.4-4.4,1-4.7,3.6C63.5,93.6,65.8,93.5,68,93.3z" />
                <path class="st21" d="M53.9,88.9c-2.6-0.7-3.2,1.2-3.4,3.2c1.7,0.6,3.6,1,5.5,1.2C56.1,91.4,56.1,89.5,53.9,88.9z" />
                <path class="st22" d="M84.7,32.2c-0.4,3.5-5.3,4.2-11.2,3.5c-5.9-0.7-10.5-2.4-10.2-5.9c0.4-3.5,5.6-7.3,11.5-6.7
            C80.8,23.8,85.1,28.7,84.7,32.2z" />
                <path class="st22" d="M51.5,28.9c0.8,3.2-3.3,5.4-8.6,6.7c-5.3,1.3-9.9,1.3-10.7-1.9c-0.8-3.2,2.6-8.3,7.9-9.6
            C45.4,22.8,50.7,25.7,51.5,28.9z" />
            </g>
            <g id="animation_x5F_tongue" class="tongue">
                <radialGradient id="SVGID_12_" cx="-208.1283" cy="503.8607" r="1" gradientTransform="matrix(14.1132 0 0 -14.3445 3008.0979 7326.7891)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#FA3F82" />
                    <stop offset="1" style="stop-color:#CC2963" />
                </radialGradient>
                <path class="st23" d="M73.3,119.2c0,0,10.3-1.7,10.4-15.4c0,0,0,0,0,0C84,103.8,91.5,116.5,73.3,119.2z M65.4,107.1
            C65.4,107.1,65.4,107.1,65.4,107.1c-0.8-0.4-2.5-3.7-2.1-7.3c0.3-3.3,2.4-5.7,3.2-5.7c0.1,0,0.1,0,0.1,0c0.7,0.3-0.5,2.8-0.9,6.3
            C65.4,103.9,66,107.1,65.4,107.1z M67.5,92.9c-0.1,0-0.2,0-0.3-0.1c-0.5-0.2-0.4-1,0-1.6c0.4-0.5,1-0.9,1.4-0.9
            c0.1,0,0.2,0,0.3,0.1c0.5,0.2,0.4,1,0,1.6C68.5,92.5,67.9,92.9,67.5,92.9z M77,87.9c-0.6,0-1.2,0.2-1.9,0.5
            c-0.6,0.3-1.2,0.8-1.9,1.5c-0.1,0.2-0.3,0.3-0.4,0.5c0,0-0.3-0.2-0.8-0.4c-0.6-0.3-1.6-0.5-2.6-0.5c-0.9,0-1.9,0.2-2.9,0.8
            c-0.6,0.4-1.3,1-1.9,1.8c-0.3,0.4-0.6,0.9-0.8,1.4c-0.2,0.4-0.4,0.9-0.6,1.3c-2,5.1-1.7,12.6,1.3,18.5c2,4,6.1,6.7,10.4,6.7
            c0.2,0,0.3,0,0.5,0c3.1-0.2,6.4-1.7,9-5.1c6.5-8.1-6-16-4-24.3c0,0,0-0.1,0-0.1c0-0.1,0.1-0.3,0.1-0.4c0,0-1.2-1.9-3.1-2.1
            C77.3,87.9,77.1,87.9,77,87.9z" />
                <radialGradient id="SVGID_13_" cx="-208.1283" cy="503.8607" r="1" gradientTransform="matrix(14.1132 0 0 -14.3445 3008.0979 7326.7891)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#FDA7C6" />
                    <stop offset="1" style="stop-color:#E89DB7" />
                </radialGradient>
                <path class="st24" d="M66.5,94.1c-0.8,0-2.8,2.3-3.2,5.7c-0.4,3.6,1.3,6.9,2,7.3c0,0,0.1,0,0.1,0c0.6,0,0-3.2,0.3-6.6
            c0.4-3.6,1.6-6,0.9-6.3C66.6,94.1,66.6,94.1,66.5,94.1z" />
                <radialGradient id="SVGID_14_" cx="-208.1283" cy="503.8607" r="1" gradientTransform="matrix(14.1132 0 0 -14.3445 3008.0979 7326.7891)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#FDA7C6" />
                    <stop offset="1" style="stop-color:#E89DB7" />
                </radialGradient>
                <path class="st25" d="M68.6,90.3c-0.4,0-1,0.3-1.4,0.9c-0.5,0.7-0.5,1.4,0,1.6c0.1,0,0.2,0.1,0.3,0.1c0.4,0,1-0.3,1.4-0.9
            c0.5-0.7,0.5-1.4,0-1.6C68.8,90.3,68.7,90.3,68.6,90.3z" />
                <path class="st26" d="M72.7,90.5c0,0-4.8,7-1.2,15.8c0,0-5.4-9.1-0.5-16.4C71,89.9,71.4,89.7,72.7,90.5z" />
                <radialGradient id="SVGID_15_" cx="-208.1283" cy="503.8607" r="1" gradientTransform="matrix(14.1132 0 0 -14.3445 3008.0979 7326.7891)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" style="stop-color:#E33976" />
                    <stop offset="1" style="stop-color:#BA255A" />
                </radialGradient>
                <path class="st27" d="M83.7,103.8C83.7,103.8,83.7,103.8,83.7,103.8c-0.2,13.8-10.4,15.4-10.4,15.4C91.5,116.5,84,103.8,83.7,103.8
            z" />
            </g>
        </svg>
    </div>
    <noscript class="error-js">
        Для полной функциональности этого сайта необходимо включить JavaScript.
    </noscript>
    <div class="wrapper new-main">
        <!-- Header -->
        <header class="header" id="header">
            <div class="header-container d-f align-center justify-between">
                <a href="#" class="header-logo">
                    <img src="/images/logo-img.svg" alt="">
                    <span>онлайн кредиты на карту</span>
                </a>
                <div class="header-nav">
                    <span class="icon-close close-nav js-close-nav"></span>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li class="js-parent">
                            <span>Как получить</span><span class="triangle"></span>
                            <ul class="dropdown js-dropdown">
                                <li><a href="#">Как получить</a></li>
                                <li><a href="#">Как это работает?</a></li>
                                <li><a href="#">Как продлить</a></li>
                                <li><a href="#">Как погасить</a></li>
                            </ul>
                        </li>
                        <li class="custom">
                            <a href="#">Акции</a>
                        </li>
                        <li class="js-parent nav-dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <ul class="dropdown js-dropdown">
                                <li><a href="#">Почему мы</a></li>
                                <li><a href="#">Вопрос-ответ</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Почему мы?</a></li>
                        <li><a href="#">Вопрос-ответ</a></li>
                    </ul>
                    <div class="mobile-language">
                        <span id="language" class="hidden">ru</span>
                        <div>Сменить язык:
                            <a href="#" class="lang-link">
                        <span class="lang-ukr">Украинский</span>
                        <span class="lang-rus">Русский</span>
                    </a>
                        </div>
                        <span id="lang" class="hidden">ru</span>
                    </div>
                </div>
                <div class="header-btn">
                    <button class="btn btn-authorize" data-toggle="modal" data-target="#modal_auth">Мой кабинет</button>
                    <button type="button" class="btn navbar-toggle js-toggle">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </div>
                <a href="#" class="header-language text-center">Ру</a>
            </div>
        </header>
        <div class="text-center hidden">
            <span class="error-text"></span>
        </div>
        <div class="registration">
            <div id="stepsbar-wrap" class="stepsbar">
                <div class="container">
                    <ol class="d-f align-center justify-between">
                        <li role="presentation" class="success">
                            <a class="" href="#home" aria-controls="home" role="tab" data-toggle="tab" id="li_a_1">Контактные данные</a>
                        </li>
                        <li class="success">
                            <a class="disabled" href="#profile" id="li_a_2">Личные данные</a>
                        </li>
                        <li class="success">
                            <a class="disabled" href="#messages" id="li_a_3">Занятость</a>
                        </li>
                        <li class="disabled active">
                            <a class="disabled">Добавление карты</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <div class="card-wrapper d-f">
                        <div class="card-left">
                            <div class="card-box">
                                <div class="heading-h2">Мои карты</div>
                                <p>Для оформления заявки на кредит введите данные своей банковской карты, на которую мы сможем отправить Вам деньги:</p>
                                <form id="cardsForm" name="cardsForm" action="http://dev.mycredit.ua/ru/registraciya-karty/" method="post">
                                    <input type='hidden' name='CSRFName' value='CSRFGuard_1646523518' />
                                    <input type='hidden' name='CSRFToken' value='D3ZrFsQy9b4kEdTNsnnyb558Ezd7sA7HsQ49Gt2iGr5TGGnr38S4Gbhn7399k2DK' />
                                    <div class="card-form--group">
                                        <input name="addCard[card-number]" id="card-number" type="text" value="" class="form-control card-control hidden" placeholder="---- ---- ---- ----" disabled>
                                        <div class="help-tooltip-data help-tooltip-data--hover">Нажмите на кнопку &Prime;Добавить карту&Prime;</div>
                                        <button class="btn btn-personal btn-sm" type="button" onclick="verify_card('[*loanId*]');" title="Проверка карты">Добавить карту</button>
                                    </div>
                                    <input type="hidden" name="addCard[verify-id]" id="verify-id">
                                    <input type="hidden" name="addCard[loanId]" id="loanId" value="[*loanId*]">
                                    <input type="hidden" name="addCard[isRegistration]" value="1">
                                    <input type="hidden" name="addCard[verifyOK]" id="verifyOK">
                                    <div class="card-form--group hidden">
                                        <div class="card-form--holder form-control--wr">
                                            <input name="addCard[card-number]" id="card-number" type="text" value="" class="form-control card-control" placeholder="---- ---- ---- ----">
                                        </div>
                                        <button class="btn btn-personal btn-sm btn-width" type="button" onclick="verify_card('[*loanId*]');">Добавить карту</button>
                                    </div>
                                    <div class="">
                                        <div class="hidden">
                                            <p class="card-warning"><span class="warning-green">!</span>После подтверждения карты нажмите кнопку &Prime;Далее&Prime;</p>
                                            <button type="button" id="btn_next" class="btn btn-success btn-success-arrow" disabled onclick="onClickSubmitReg('cardsForm', 'http://dev.mycredit.ua/ru/mob/moi-kredity/');">
                                                Далее <img src="assets/images/registration-arrow.png" alt="">
                                            </button>
                                        </div>
                                        <div class="card-text">
                                            <hr class="">
                                            <div class="heading-h2">Как подтвердить карту?</div>
                                            <ul>
                                                <li class="d-f align-center">
                                                    <span class="icon-confirm-1"></span>
                                                    <span>На Вашей <strong>банковской карте должно быть не менее 5 грн.</strong> Эта сумма будет временно заблокирована для проверки корректной работы Вашей карты.</span></li>
                                                <li class="d-f align-center">
                                                    <span class="icon-confirm-2"></span>
                                                    <span>В специальное поле Вам необходимо будет <strong>ввести заблокированную сумму через точку</strong> (например: 1.53 грн.). Размер заблокированной суммы Вы можете узнать в сообщении от Вашего банка, в истории операции в интернет-банке или позвонив на горячую линию Вашего банка.</span></li>
                                                <li class="d-f align-center">
                                                    <span class="icon-confirm-3"></span>
                                                    <span>Карта обязательно должна быть выпущена <strong>украинским банком</strong>.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr class="">
                                    <div class="block-sum" id="js-block-sum">
                                        <p class="heading-h2">Как узнать "заблокированную сумму"?</p>
                                        <ul class="d-f justify-between">
                                            <li class="text-center">
                                                <div class="block-or">или</div>
                                                <span class="icon-card-call"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span></span>
                                                <p>Позвонить на гарячую линию Вашего банка <i>(номер указан на карте)</i></p>
                                            </li>
                                            <li class="text-center">
                                                <div class="block-or">или</div>
                                                <span class="icon-card-bank"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
                                                <p>Через Ваш интернет-банкинг</p>
                                            </li>
                                            <li class="text-center">
                                                <span class="icon-card-phone"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span></span>
                                                <p>Из СМС, которое придет от Вашего банка</p>
                                            </li>
                                        </ul>
                                        <div class="block-info text-center">
                                            <div class="block-heading">Вход в онлайн-банкинг</div>
                                            <ul class="d-f justify-between">
                                                <li><a href="https://www.privat24.ua/#login" target="_blank">ПриватБанк</a></li>
                                                <li><a href="https://www.oschadbank.ua/ua/private/web_bank_ng/" target="_blank">ОщадБанк</a></li>
                                                <li><a href="https://online.aval.ua/bfo/channel/web/loginframe.jsp?locale=UK" target="_blank">Райффайзен Банк Аваль</a></li>
                                                <li><a href="https://my.alfabank.com.ua/login" target="_blank">Альфа-Банк</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                                <form action="http://dev.mycredit.ua/ru/registraciya-karty/">
                                    <input type='hidden' name='CSRFName' value='CSRFGuard_2104660022' />
                                    <input type='hidden' name='CSRFToken' value='Y5S3AKH4nHBKi5zD6Dr59F7DdhNzrDTKzAy5F29Ft9r9ZBBF7E6Bi6AzDGzYnNaB' />
                                </form>
                            </div>
                        </div>
                        <div class="card-right">
                            <div class="registration-info">
                                <div class="registration-heading">Гарантия безопасности данных</div>
                                <div class="d-f justify-between align-center">
                                    <div class="bg-3d_secure"></div>
                                    <div class="bg-ssl_secure"></div>
                                </div>
                            </div>
                            <div class="registration-info">
                                <a href="#js-block-sum" class="js-anchor registration-anchor">Как узнать "заблокированную сумму"?
                                		<span class="icon-arrow-jump"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
                                </a>
                            </div>
                            <div class="registration-info">
                                <div class="registration-heading">Юридическая информация</div>
                                <ul>
                                    <li class="d-f align-center">
                                        <span class="icon-credit"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
                                        <a href="">Правила предоставления кредитов</a></li>
                                    <li class="d-f align-center">
                                        <span class="icon-dogovor"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
                                        <a href="">Кредитный договор</a></li>
                                    <li class="d-f align-center">
                                        <span class="icon-politic"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                                        <a href="">Политика конфиденциальности</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer" id="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="footer-left">
                        <div class="footer-menu">
                            <div class="footer-heading">О нас</div>
                            <ul>
                                <li><a href="">Правовая информация</a></li>
                                <li><a href="">Договор займа</a></li>
                                <li><a href="">Финансовая отчетность</a></li>
                                <li><a href="">Политика конфиденциальности</a></li>
                                <li><a href="">Партнерам</a></li>
                                <li><a href="">Отзывы</a></li>
                                <li><a href="">Контакты</a></li>
                            </ul>
                        </div>
                        <div class="footer-menu">
                            <div class="footer-heading">Часто задаваемые вопросы</div>
                            <ul>
                                <li><a href="">Как получить кредит?</a></li>
                                <li><a href="">Как погасить / продлить кредит</a></li>
                                <li><a href="">Почему мне отказали в выдаче кредита</a></li>
                                <li><a href="">Блог</a></li>
                                <li><a href="">Новости</a></li>
                            </ul>
                        </div>
                        <div class="footer-menu">
                            <div class="footer-heading">Как вернуть кредит</div>
                            <ul>
                                <li><a href="">В интернете</a></li>
                                <li><a href="">Оплата кредита через терминал</a></li>
                                <li><a href="">В кассе банка</a></li>
                            </ul>
                        </div>
                        <div class="footer-menu footer-menu__wide">
                            <div class="footer-heading">Услуги кредитования</div>
                            <div class="footer-menu__wrapper">
                                <ul>
                                    <li><a href="">Деньги до зарплаты онлайн за 20 минут</a></li>
                                    <li><a href="">Кредит от 18 лет без справок и поручителей </a></li>
                                    <li><a href="">Кредиты без залога в Киеве, Харькове и всей Украине</a></li>
                                    <li><a href="">Потребительский кредит онлайн в Украине</a></li>
                                    <li><a href="">Кредит для пенсионеров в Украине</a></li>
                                    <li><a href="">Микрокредит и микрозайм онлайн на карту</a></li>
                                    <li><a href="">Кредит онлайн с плохой кредитной историей в Украине</a></li>
                                </ul>
                                <ul>
                                    <li><a href="">Взять кредит онлайн без справки о доходах в Украине</a></li>
                                    <li><a href="">Деньги в долг на карту</a></li>
                                    <li><a href="">Краткосрочный кредит на 1 месяц</a></li>
                                    <li><a href="">Беспроцентный кредит под 0% без переплат</a></li>
                                    <li><a href="">Кредит 365 дней в году</a></li>
                                    <li><a href="">Кредитный калькулятор онлайн в Украине</a></li>
                                    <li><a href="">Пролонгация кредита от Mycredit</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-right text-center">
                        <ul>
                            <li>
                                <a href="tel:0733694141"><span class="icon-lifecell-1"></span><span>073 369 41 41</span></a>
                            </li>
                            <li>
                                <a href="tel:0733694141"><span class="icon-lifecell-12"></span><span>073 369 41 41</span></a>
                            </li>
                            <li>
                                <a href="tel:0733694141"><span class="icon-mts"></span><span>073 369 41 41</span></a>
                            </li>
                            <li>
                                <a href="tel:0733694141"><span class="icon-viber"></span><span>073 369 41 41</span></a>
                            </li>
                        </ul>
                        <div class="main-phone">
                            <a href="tel:0800214111">0 800 214 111</a>
                            <span>Бесплатно по Украине со стационарных телефонов</span>
                            <button class="btn btn-phone js-callback-show" onclick="onClickSendMe();">Написать нам</button>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <a href="#" class="footer-logo">
                        <img src="images/logo_last_white.svg" alt="">
                    </a>
                    <div class="footer-text">
                        <p>Первый в Украине сервис кредитования через интернет. Мы предоставляем быстрые и удобные кредиты для всех граждан Украины.
                            <br>© 2015 - 2018 MyCredit - Кредит онлайн на банковскую карту за 20 минут </p>
                        <p>Разработка и поддержка сайта — <a href="#">Artjoker</a></p>
                    </div>
                    <ul class="footer-social">
                        <li><a href=""><span class="icon-telegram-1"></span></a></li>
                        <li><a href=""><span class="icon-vk-social-network-logo"></span></a></li>
                        <li><a href=""><span class="icon-facebook-logo"></span></a></li>
                        <li><a href=""><span class="icon-instagram-logo"></span></a></li>
                        <li><a href=""><span class="icon-youtube-logo"></span></a></li>
                        <li><a href=""><span class="icon-google-plus-logo"></span></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <span id="span_beforeunload_text" class="hidden">Вы уходите со страницы работы с картами. Это приведет к потере введенных Вами данных.</span>
    </div>
    <script src="js/all-registration.min.js"></script>
</body>

</html>