.footer {
    display: table-footer-group;
    &-top {
        display: flex;
        justify-content: space-between;
        background-color: #0073b1;
        padding: 60px 9999px;
        margin: 0 -9999px;

        @media screen and (max-width: 1199px) {
            padding: 30px 9999px;
            flex-wrap: wrap;
        }

        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    &-left {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 0 0 80%;

        @media screen and (max-width: 1199px) {
            flex: 0 0 100%;
        }

        @media screen and (max-width: 767px) {
            display: block;
            text-align: center;
        }
    }

    &-menu {
        flex: 0 0 33.3%;

        &:not(:last-child) {
            margin-bottom: 40px;

            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }
        }

        ul {
            @media screen and (max-width: 767px) {
                overflow: hidden;
                height: 0;
            }
            
        }


        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            a {
                color: #fff;
                font-size: 14px;
                text-decoration: none;
                transition: color 0.3s;
            }
            &:hover {
                a {
                    color: #c4e5f5;
                }
            }
            .active {
                color: #c4e5f5;
            }
        }
        &__wide {
            flex: 0 0 100%;

            ul {
                width: 50%;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }
        &__wrapper {
            display: flex;

            @media screen and (max-width: 767px) {
                display: block;
            }
        }
    }

    &-heading {
        font: 15px / 25px 'HelveticaNeueCyr Bold', Arial, sans-serif;
        color: #fff;
        margin-bottom: 11px;

        @media screen and (max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.active {
            .footer-plus {
                background-color: transparent;
            }
        }
    }
    &-bottom {
        background-color: #1f9bde;
        padding: 50px 9999px 40px;
        margin: 0 -9999px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    &-text {
        flex: 0 0 50%;
        padding-left: 45px;
        @media screen and (max-width: 1199px) {
            flex: 0 0 70%;
        }

        @media screen and (max-width: 767px) {
            text-align: center;
            padding-left: 0;
            flex: 0 0 100%;
        }

        p {
            margin: 0 0 15px;
        }
        a {
            color: #fff;
        }
    }

    &-logo {
        @media screen and (max-width: 1199px) {
            flex: 0 0 30%;
        }

        @media screen and (max-width: 767px) {
            display: block;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    &-right {
        @media screen and (max-width: 1199px) {
            flex: 0 0 100%;
            padding-top: 30px;
        }
        >ul {
            display: inline-block;
            padding-bottom: 10px;
            border-bottom: 1px solid #338fc1;

            li {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            span {
                display: inline-block;
                vertical-align: middle;
            }

            span[class^="icon"] {
                margin-right: 10px;
                background-color: #fff;
                border-radius: 50%;
                margin-bottom: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
            }
        }
        a[href^=tel] {
            font-size: 18px;
            color: #fff;
            text-decoration: none;
        }
    }

    &-social {
        display: flex;
        justify-content: space-between;
        flex: 0 0 20%;

        @media screen and (max-width: 1199px) {
            flex: 0 0 100%;
            justify-content: center;
            padding-top: 30px;
        }

        @media screen and (max-width: 767px) {
            padding: 30px 30px 0;
        }

        li {
            @media screen and (max-width: 1199px) {
                margin: 0 30px;
            }
            @media screen and (max-width: 767px) {
                margin: 0 15px;
            }
            a {
                color: rgba(255, 255, 255, 0.6);
                text-decoration: none;
                font-size: 20px;
                transition: color 0.3s;
            }
            &:hover {
                a {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    &-plus {
        margin-left: 17px;
        height: 12px;
        position: relative;
        width: 1px;
        background-color: #fff;

        &:after {
            background-color: #fff;
            content: "";
            height: 1px;
            left: -6px;
            position: absolute;
            top: 6px;
            width: 12px;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.main-phone {
    padding-top: 10px;
    span {
        padding-top: 10px;
        display: block;
        font-size: 14px;
        color: #a2c0da;
        padding-bottom: 20px;
    }
}

.btn-phone {
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #6da7c6;
    font-size: 14px;
    transition: background-color .3s;

    &:hover {
        background-color: hsla(0, 0%, 100%, .3);
        color: #fff;
    }
}


.bottom-callback {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 50px 30px;
    background-color: #f6f6f6;
    z-index: 1000;
    transition: transform .5s;
    transform: translateY(100%);

    span[class^="icon"] {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
        color: #ccc;
    }

    &.open {
        transform: translateY(0);
    }
}

.btn-callback {
    background-color: #00b181;
    color: #fff;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.callback-holder {
    flex-wrap: wrap;
}

.callback-left {
    position: relative;
    flex: 0 0 60%;
    max-width: 60%;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.callback-form {
    flex: 0 0 35%;
    max-width: 35%;

    @media screen and (max-width: 767px) {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.call-text {
    float: left;
    width: 50%;
    color: #003764;
    padding: 80px 0 0 90px;

    img {
        display: block;
        margin-bottom: 15px;
    }
}

.call-img {
    float: left;
}

.call-img--name {
    position: absolute;
    bottom: 60px;
    left: 23%;
    font: 15px / 20px 'HelveticaNeueCyr Roman', Arial, sans-serif;
    color: #003764;

    span {
        display: block;
        color: #ababab;
    }
}

.modal-body__video {
    max-width: 400px;

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 30px;
    }

    .icon-programm-arrow-left {
        left: -40px;
    }

    .icon-programm-arrow-right {
        right: -40px;
    }
    .slick-slide {
        position: relative;
        height: 200px;

        video {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            min-width: 400px;
        }
    }
}

.modal-open {
    .wrapper {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}

.promo-modal-calc {
    .modal-dialog {
        max-width: 290px;
        border: none;
        background-color: transparent;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)!important;
        margin: 0;
    }
    .modal-content {
        padding: 35px 30px;
        background-color: #fff;
        font-family: 'HelveticaNeueCyr Roman', Arial, sans-serif;
    }
}


.modal-dialog__video {
    margin: 100px auto;
}

.modal-content__video {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

// Widjet 
.how-widget {
    position: fixed;
    bottom: 140px;
    right: 75px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    font-size: 48px;
    color: #fff;
    text-align: center;
    background-color: #0054b8;
    box-shadow: 3px 4px 65px -8px rgba(0, 84, 184, 1);
    z-index: 25;

    &:hover,
    &:focus {
        color: #fff;
    }
    &:after,
    &:before {
        content: '';
        width: 110px;
        height: 110px;
        position: absolute;
        top: -15px;
        left: -15px;
        border-radius: 50%;
        border: 2px solid #0054b8;
        animation-name: widget;
        animation-duration: 3s;
        animation-timing-function: easy-in-out;
        animation-iteration-count: infinite;
        z-index: -1;
        opacity: 0;
        /* animation-direction: alternate; */
    }
    &:after {
        width: 140px;
        height: 140px;
        top: -30px;
        left: -30px;
    }
    &-t,
    &-q {
        left: 0;
        position: absolute;
        top: 50%;
        transform: scaleX(0) translate(0, -50%);
        padding: 0 5px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }

    &-q {
        right: 0;
        display: inline-block;
        vertical-align: middle;
        height: 48px;
        line-height: 55px;
        &.active {
            opacity: 1;
            visibility: visible;
            transform: scaleX(1) translate(0, -50%);
        }
    }

    &-t {
        font-size: 14px;
        line-height: 15px;
        opacity: 0;
        visibility: hidden;
        &.active {
            opacity: 1;
            visibility: visible;
            transform: scaleX(1) translate(0, -50%);
        }
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.info-user {
    position: fixed;
    width: 280px;
    left: 30px;
    bottom: 170px;
    padding: 20px 22px 20px 45px;
    background-color: #f6f6f6;
    font-size: 15px;
    border: 1px solid #cecece;
    border-radius: 5px;
    z-index: 999;
    transform: translate(-400px, 0);
    opacity: 0;
    visibility: hidden;
    @media screen and (max-width: 1500px) {
        bottom: 70px;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }

    transition: all 0.5s;
    &-header {
        font-size: 14px;
        margin-bottom: 10px;
    }
    &-img {
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translate(0, -50%);
        img {
            display: block;
            height: 27px;
        }
    }
    &.active {
        transform: translate(25px, 0);
        opacity: 1;
        visibility: visible;
    }
}

// personalization popup
.personalization-popup-img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -45px;
}

.personalization-popup-content {
    padding: 5px 0 5px 15px;
    font-size: 14px;
}

.personalization-popup-heading {
    font-family: 'HelveticaNeueCyr Medium', Arial, sans-serif;
    color: #0054bc;
    margin-bottom: 10px;
}

.personalization-popup-link {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;

    a {
        position: relative;
        color: #0054bc;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            &:after {
                transform: rotate(-45deg) scale(1);
            }
        }

        &:after {
            content: '';
            border: solid #0054bc;
            border-width: 0 2px 2px 0;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            padding: 2px;
            transform: rotate(-45deg) scale(0);
            transition: transform 0.3s;
        }
    }
}

@keyframes widget {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes widget-text {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes widget-question {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}