@font-face {
    font-family: 'icomoon-registration';
    src: url('../fonts/registration/icomoon.eot?7irto3');
    src: url('../fonts/registration/icomoon.eot?7irto3#iefix') format('embedded-opentype'),
    url('../fonts/registration/icomoon.ttf?7irto3') format('truetype'),
    url('../fonts/registration/icomoon.woff?7irto3') format('woff'),
    url('../fonts/registration/icomoon.svg?7irto3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon-registration' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-jump .path1:before {
    content: "\e919";
    color: rgb(225, 225, 225);
}

.icon-arrow-jump .path2:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(0, 129, 205);
}

.icon-arrow-jump .path3:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(0, 129, 205);
    opacity: 0.6;
}

.icon-arrow-jump .path4:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(0, 129, 205);
    opacity: 0.6;
}

.icon-card-bank .path1:before {
    content: "\e91d";
    color: rgb(0, 85, 184);
}

.icon-card-bank .path2:before {
    content: "\e91e";
    margin-left: -1.2822265625em;
    color: rgb(0, 177, 129);
}

.icon-card-bank .path3:before {
    content: "\e91f";
    margin-left: -1.2822265625em;
    color: rgb(0, 177, 129);
}

.icon-card-bank .path4:before {
    content: "\e920";
    margin-left: -1.2822265625em;
    color: rgb(0, 177, 129);
}

.icon-card-bank .path5:before {
    content: "\e921";
    margin-left: -1.2822265625em;
    color: rgb(0, 177, 129);
}

.icon-card-bank .path6:before {
    content: "\e922";
    margin-left: -1.2822265625em;
    color: rgb(0, 177, 129);
}

.icon-card-bank .path7:before {
    content: "\e923";
    margin-left: -1.2822265625em;
    color: rgb(0, 85, 184);
}

.icon-card-bank .path8:before {
    content: "\e924";
    margin-left: -1.2822265625em;
    color: rgb(0, 85, 184);
}

.icon-card-bank .path9:before {
    content: "\e925";
    margin-left: -1.2822265625em;
    color: rgb(0, 177, 129);
}

.icon-card-bank .path10:before {
    content: "\e926";
    margin-left: -1.2822265625em;
    color: rgb(0, 177, 129);
}

.icon-card-bank .path11:before {
    content: "\e927";
    margin-left: -1.2822265625em;
    color: rgb(0, 177, 129);
}

.icon-card-bank .path12:before {
    content: "\e928";
    margin-left: -1.2822265625em;
    color: rgb(0, 177, 129);
}

.icon-card-call .path1:before {
    content: "\e929";
    color: rgb(0, 85, 184);
}

.icon-card-call .path2:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(0, 85, 184);
}

.icon-card-call .path3:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(0, 85, 184);
}

.icon-card-call .path4:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(0, 85, 184);
}

.icon-card-call .path5:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(0, 85, 184);
}

.icon-card-call .path6:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(0, 177, 129);
}

.icon-card-call .path7:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(0, 177, 129);
}

.icon-card-call .path8:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(0, 85, 184);
}

.icon-card-call .path9:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(0, 85, 184);
}

.icon-card-call .path10:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(0, 177, 129);
}

.icon-card-call .path11:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(0, 177, 129);
}

.icon-card-call .path12:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(0, 177, 129);
}

.icon-card-call .path13:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(0, 177, 129);
}

.icon-card-call .path14:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(0, 177, 129);
}

.icon-card-call .path15:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path1:before {
    content: "\e938";
    color: rgb(0, 85, 184);
}

.icon-card-phone .path2:before {
    content: "\e939";
    margin-left: -1.021484375em;
    color: rgb(0, 85, 184);
}

.icon-card-phone .path3:before {
    content: "\e93a";
    margin-left: -1.021484375em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path4:before {
    content: "\e93b";
    margin-left: -1.021484375em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path5:before {
    content: "\e93c";
    margin-left: -1.021484375em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path6:before {
    content: "\e93d";
    margin-left: -1.021484375em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path7:before {
    content: "\e93e";
    margin-left: -1.021484375em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path8:before {
    content: "\e93f";
    margin-left: -1.021484375em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path9:before {
    content: "\e940";
    margin-left: -1.021484375em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path10:before {
    content: "\e941";
    margin-left: -1.021484375em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path11:before {
    content: "\e942";
    margin-left: -1.021484375em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path12:before {
    content: "\e945";
    margin-left: -1.021484375em;
    color: rgb(0, 177, 129);
}

.icon-card-phone .path13:before {
    content: "\e946";
    margin-left: -1.021484375em;
    color: rgb(0, 85, 184);
}

.icon-confirm-1:before {
    content: "\e947";
    color: #0055b8;
}

.icon-confirm-2:before {
    content: "\e948";
    color: #0055b8;
}

.icon-confirm-3:before {
    content: "\e949";
    color: #0055b8;
}

.icon-next:before {
    content: "\e900";
}

.icon-politic .path1:before {
    content: "\e901";
    color: rgb(0, 177, 129);
    opacity: 0.2;
}

.icon-politic .path2:before {
    content: "\e902";
    margin-left: -0.8095703125em;
    color: rgb(0, 84, 187);
}

.icon-politic .path3:before {
    content: "\e903";
    margin-left: -0.8095703125em;
    color: rgb(0, 84, 187);
}

.icon-dogovor .path1:before {
    content: "\e904";
    color: rgb(0, 177, 129);
    opacity: 0.2;
}

.icon-dogovor .path2:before {
    content: "\e905";
    margin-left: -0.705078125em;
    color: rgb(0, 84, 187);
}

.icon-dogovor .path3:before {
    content: "\e906";
    margin-left: -0.705078125em;
    color: rgb(0, 84, 187);
}

.icon-dogovor .path4:before {
    content: "\e907";
    margin-left: -0.705078125em;
    color: rgb(0, 84, 187);
}

.icon-dogovor .path5:before {
    content: "\e908";
    margin-left: -0.705078125em;
    color: rgb(0, 84, 187);
}

.icon-dogovor .path6:before {
    content: "\e909";
    margin-left: -0.705078125em;
    color: rgb(0, 84, 187);
}

.icon-dogovor .path7:before {
    content: "\e90a";
    margin-left: -0.705078125em;
    color: rgb(0, 84, 187);
}

.icon-dogovor .path8:before {
    content: "\e90b";
    margin-left: -0.705078125em;
    color: rgb(0, 84, 187);
}

.icon-dogovor .path9:before {
    content: "\e90c";
    margin-left: -0.705078125em;
    color: rgb(0, 84, 187);
}

.icon-credit .path1:before {
    content: "\e90d";
    color: rgb(0, 177, 129);
    opacity: 0.2;
}

.icon-credit .path2:before {
    content: "\e90e";
    margin-left: -0.7451171875em;
    color: rgb(0, 84, 187);
}

.icon-credit .path3:before {
    content: "\e90f";
    margin-left: -0.7451171875em;
    color: rgb(0, 84, 187);
}

.icon-credit .path4:before {
    content: "\e910";
    margin-left: -0.7451171875em;
    color: rgb(0, 84, 187);
}

.icon-credit .path5:before {
    content: "\e911";
    margin-left: -0.7451171875em;
    color: rgb(0, 84, 187);
}

.icon-credit .path6:before {
    content: "\e912";
    margin-left: -0.7451171875em;
    color: rgb(0, 84, 187);
}

.icon-credit .path7:before {
    content: "\e913";
    margin-left: -0.7451171875em;
    color: rgb(0, 84, 187);
}

.icon-ico-question .path1:before {
    content: "\e956";
    color: rgb(220, 223, 235);
}

.icon-ico-question .path2:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(48, 86, 179);
}

.icon-close:before {
    content: "\e951";
}

.icon-mts:before {
    content: "\e950";
    color: #ec1c2e;
}

.icon-viber:before {
    content: "\e94d";
    color: #665cac;
}

.icon-lifecell-1:before {
    content: "\e94e";
    color: #ffcb00;
}

.icon-telegram-1:before {
    content: "\e94c";
}

.icon-lifecell-12:before {
    content: "\e94f";
    color: #08f;
}

.icon-login:before {
    content: "\e94b";
}

.icon-google-plus-logo:before {
    content: "\e914";
}

.icon-youtube-logo:before {
    content: "\e915";
}

.icon-instagram-logo:before {
    content: "\e916";
}

.icon-facebook-logo:before {
    content: "\e917";
}

.icon-vk-social-network-logo:before {
    content: "\e918";
}

.icon-issue-play .path1:before {
    content: "\e943";
    color: rgb(255, 255, 255);
}

.icon-issue-play .path2:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(66, 129, 202);
}





//
// Modals
// --------------------------------------------------
// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit
// Kill the scroll on the body
.modal-open {
    overflow: hidden;
}

// Container that the modal scrolls within
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch; // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0; // When fading in the modal, animate it to slide down
    &.fade .modal-dialog {
        transform: translate(0,
        -25%);
        transition: transform 0.3s ease-out;
    }
    &.in .modal-dialog {
        transform: translate(0, 0)
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}


// Actual modal
.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    background-clip: padding-box; // Remove focus outline from opened modal
    outline: 0;
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7); // Fade for backdrop
    &.fade {
        opacity: 0;
    }
    &.in {
        opacity: 1;
    }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    color: #0056b8;
    font: 28px / 1.2 'HelveticaNeueCyr Roman', Arial, sans-serif;
    margin-bottom: 30px;
    padding-top: 30px;
}

.icon-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
    color: #ccc;
    cursor: pointer;
    z-index: 1;
}

// Close icon
.modal-header .close {
    margin-top: -2px;
}

// Title text within header
.modal-title {
    margin: 0;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    max-width: 375px;
    margin: 0 auto;
    padding: 20px 0;

    @media screen and (max-width: 767px) {
        padding: 20px;
    }
}

// Footer (for actions)
.modal-footer {
    padding: 25px 0;
    background-color: #f0f2f7;
    border-top: 1px solid #dbdeea;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



.modal-dialog {
    width: 645px;
    margin: 30px auto;
    position: relative;

    @media screen and (max-width: 767px) {
        width: 90%;
    }

    .btn-programm {
        font-size: 17px;
        padding: 5px 15px;
        width: 100%;
    }
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}



















/*
 * Slider for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * SCSS File by Detlef Beyer
 */

@mixin slider_background-image ($colorstart:#f5f5f5,
$colorend:#f9f9f9,
$backcolor: #f7f7f7) {
    background-color: $backcolor;
    background-image: -moz-linear-gradient(top, $colorstart, $colorend);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($colorstart), to($colorend));
    background-image: -webkit-linear-gradient(top, $colorstart, $colorend);
    background-image: -o-linear-gradient(top, $colorstart, $colorend);
    background-image: linear-gradient(to bottom, $colorstart, $colorend);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$colorstart}',
    endColorstr='#{$colorend}',
    GradientType=0);
}


















/* Variables should be defined outside of this file     */


/* doing it here just to keep things together in github */

$baseLineHeight: 20px;
$baseBorderRadius: 4px;
.slider {
    position: relative;
    &.slider-horizontal {
        margin-bottom: 5px;
        height: $baseLineHeight;

        .slider-track {
            height: $baseLineHeight/2;
            width: 100%;
            margin-top: -5px;
            top: 50%;
            left: 0;
            z-index: 2;
        }
        .slider-selection,
        .slider-track-low,
        .slider-track-high {
            height: 100%;
            top: 0;
            bottom: 0;
        }
        .slider-tick,
        .slider-handle {
            margin-left: -$baseLineHeight/2;
            margin-top: -10px;
            &.triangle {
                border-width: 0 $baseLineHeight/2 $baseLineHeight/2 $baseLineHeight/2;
                width: 0;
                height: 0;
                border-bottom-color: #0480be;
                margin-top: 0;
            }
        }
        .slider-handle {
            width: 34px;
            height: 34px;
            margin: -13px 0 0 -17px;
            position: absolute;
            z-index: 6;
            border-radius: 50%;
            background-color: #0056b8;
            cursor: pointer;
            background-image: url('../images/test/double-arrows.png');
            background-repeat: no-repeat;
            background-position: 49%;
            box-shadow: 2px 2px 16px -1px rgba(0, 0, 0, .75);
            &.triangle {
                background: transparent none;
            }
            &.custom {
                background: transparent none;
                &::before {
                    line-height: $baseLineHeight;
                    font-size: 20px;
                    content: '\2605'; //unicode star character
                    color: #726204;
                }
            }
        }
        .slider-tick-label-container {
            white-space: nowrap;
            .slider-tick-label {
                margin-top: $baseLineHeight * 1.2;
                display: inline-block;
                text-align: center;
            }
        }
    }
    &.slider-vertical {
        height: 210px;
        width: $baseLineHeight;
        .slider-track {
            width: $baseLineHeight/2;
            height: 100%;
            margin-left: -$baseLineHeight/4;
            left: 50%;
            top: 0;
        }
        .slider-selection {
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
        }
        .slider-track-low,
        .slider-track-high {
            width: 100%;
            left: 0;
            right: 0;
        }
        .slider-tick,
        .slider-handle {
            margin-left: -$baseLineHeight/4;
            margin-top: -14px;
            &.triangle {
                border-width: $baseLineHeight/2 0 $baseLineHeight/2 $baseLineHeight/2;
                width: 1px;
                height: 1px;
                border-left-color: #0480be;
                margin-left: 0;
            }
            .slider-tick-label-container {
                white-space: nowrap;
                .slider-tick-label {
                    padding-left: $baseLineHeight * .2;
                }
            }
        }
    }
    &.slider-disabled {
        .slider-handle {
            @include slider_background-image(#dfdfdf,
            #bebebe,
            #f7f7f7);
        }
        .slider-track {
            @include slider_background-image(#e5e5e5,
            #e9e9e9,
            #f7f7f7);
            cursor: not-allowed;
        }
    }
    input {
        display: none;
    }
    .tooltip-inner {
        white-space: nowrap;
        max-width: none;
    }
    .tooltip {
        &.top {
            margin-top: -36px;
        }
    }
    .hide {
        display: none;
    }
}



.slider-track {
    position: absolute;
    cursor: pointer;
    @include slider_background-image(#f5f5f5,
    #f9f9f9,
    #f7f7f7);
    border-radius: $baseBorderRadius;
}

.slider-horizontal:hover {}

.slider-selection {
    position: absolute;
    background-color: #0056b8;
    border-radius: 4px 0 0 4px;
}

.slider-selection.tick-slider-selection {
    @include slider_background-image(#89cdef,
    #81bfde,
    #f7f7f7);
}

.slider-track-low,
.slider-track-high {
    position: absolute;

    background-color: #cdcdcd;
    border-radius: 0 4px 4px 0;
}



.slider-tick {
    position: absolute;
    width: $baseLineHeight;
    height: $baseLineHeight;
    @include slider_background-image(#f9f9f9,
    #f5f5f5,
    #f7f7f7);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    filter: none;
    opacity: 0.8;
    border: 0px solid transparent;
    &.round {
        border-radius: 50%;
    }
    &.triangle {
        background: transparent none;
    }
    &.custom {
        background: transparent none;
        &::before {
            line-height: $baseLineHeight;
            font-size: 20px;
            content: '\2605'; //unicode star character
            color: #726204;
        }
    }
    &.in-selection {
        @include slider_background-image(#89cdef,
        #81bfde,
        #f7f7f7);
        opacity: 1;
    }
}

.tooltip.tooltip-main.top {
    display: none;
}



















/*======================================
  Selectric v1.13.0
======================================*/

.selectric-wrapper {
    position: relative;
    cursor: pointer;
}

.selectric-responsive {
    width: 100%;
}

.selectric {
    border: 1px solid #DDD;
    border-radius: 0px;
    background: #F8F8F8;
    position: relative;
    overflow: hidden;
}

.selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 38px 0 10px;
    font-size: 12px;
    line-height: 38px;
    color: #444;
    height: 38px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectric .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background-color: #F8f8f8;
    color: #BBB;
    text-align: center;
    font: 0/0 a;
    *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #BBB;
    border-bottom: none;
}

.selectric-focus .selectric {
    border-color: #aaaaaa;
}

.selectric-hover .selectric {
    border-color: #c4c4c4;
}

.selectric-hover .selectric .button {
    color: #a2a2a2;
}

.selectric-hover .selectric .button:after {
    border-top-color: #a2a2a2;
}

.selectric-open {
    z-index: 9999;
}

.selectric-open .selectric {
    border-color: #c4c4c4;
}

.selectric-open .selectric-items {
    display: block;
}

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
}

.selectric-hide-select select {
    position: absolute;
    left: -100%;
}

.selectric-hide-select.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    z-index: 1;
    box-sizing: border-box;
    opacity: 0;
}

.selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
}

.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}


































/* Items box */

.selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #F8F8F8;
    border: 1px solid #c4c4c4;
    z-index: -1;
    box-shadow: 0 0 10px -6px;
}

.selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto;
}

.selectric-above .selectric-items {
    top: auto;
    bottom: 100%;
}

.selectric-items ul,
.selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
}

.selectric-items li {
    display: block;
    padding: 10px;
    color: #666;
    cursor: pointer;
}

.selectric-items li.selected {
    background: #E0E0E0;
    color: #444;
}

.selectric-items li.highlighted {
    background: #D0D0D0;
    color: #444;
}

.selectric-items li:hover {
    background: #D5D5D5;
    color: #444;
}

.selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
    font-weight: bold;
    padding-left: 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    color: #444;
}

.selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1;
}

.selectric-items .selectric-group li {
    padding-left: 25px;
}

.selectric-hidden {
    display: none;
}


.language-wr {
    .bootstrap-select.btn-group {
        .dropdown-menu {
            .selected {
                display: none;
            }
        }
    }
}

.bg-3d_secure {
    width: 124px;
    height: 105px;
    background: url('../images/png-sprite/registration/css_sprites_registration.png') -156px -10px;
}

.bg-ssl_secure {
    width: 126px;
    height: 126px;
    background: url('../images/png-sprite/registration/css_sprites_registration.png') -10px -10px;
}

.registration {
    background-color: #f1f1f1;
    padding: 70px 0;

    @media screen and (max-width: 991px) {
        padding: 30px 0;
    }

    &-heading {
        font: 20px 'HelveticaNeueCyr Bold', Arial, sans-serif;
        color: #003764;
        margin-bottom: 11px;
    }

    &-anchor {
        color: #0055b8;
        cursor: pointer;
        display: inline;
        font: 20px 'HelveticaNeueCyr Medium', Arial, sans-serif;
        border-bottom: 1px dashed;
        text-decoration: none;

        span {
            position: absolute;
            font-size: 30px;
            right: 10px;
            top: 10px;
            animation: bounce 2s infinite;
        }
    }

    &-info {
        position: relative;
        padding: 25px 30px;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        margin-bottom: 30px;

        li {

            &:not(:last-child) {
                margin-bottom: 15px;
            }
            [class^="icon"] {
                margin-right: 10px;
                font-size: 20px;
            }
        }
    }

    &-slider {
        margin-bottom: 30px;
        padding: 23px 32px 28px;
        background-color: #fff;
    }

    &-steps {
        background-color: #f1f1f1;
        padding: 70px 0 0;
    }

    &-wrapper {
        flex-wrap: wrap;
    }

    &-text {
        padding: 20px 30px 16px;
        background-color: #e9f2fc;
        border: 1px solid #6f97d4;
        margin-bottom: 31px;
        color: #393939;
    }

    &-h1 {
        font: 30px 'HelveticaNeueCyr Roman', Arial, sans-serif;
        margin-bottom: 20px;
        color: #0056b8;

        &--inverse {
            color: #00b181;
            font-size: 25px;
            margin-bottom: 15px;
        }
    }

    &-first {
        flex-wrap: wrap;
        color: #393939;
    }

    &-left {
        flex: 0 0 65%;
        padding-right: 40px;

        @media screen and (max-width: 991px) {
            flex: 0 0 100%;
        }
    }

    &-right {
        flex: 0 0 35%;

        @media screen and (max-width: 991px) {
            flex: 0 0 100%;
        }
    }

    &-video {
        position: relative;
        margin-bottom: 30px;

        &:after {
            content: '';
            background-color: rgba(56, 138, 182, .8);
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
            position: absolute;
        }

        video {
            width: 100%;
        }

        &__bg {
            background-image: url('../images/test/registration/kakpoluchitodobrenie.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            position: absolute;
        }

        &__holder {
            position: absolute;
            cursor: pointer;
            left: 20px;
            bottom: 20px;
            padding-right: 30px;
            z-index: 3;
            font: 20px 'HelveticaNeueCyr Roman', Arial, sans-serif;
            color: #fff;

            @media screen and (max-width: 991px) {
                font-size: 14px;
            }


            span[class^="icon"] {
                font-size: 40px;
                margin-right: 10px;
            }
        }

        &.active {
            .registration-video__holder,
            .registration-video__bg,
            &:after {
                display: none;
            }
        }
    }
}

.heading-h2 {
    font: 25px 'HelveticaNeueCyr Roman', Arial, sans-serif;
    color: #0056b8;
    margin: 0 0 17px;
    word-wrap: break-word;
}

.counter {
    padding: 30px 0;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
    color: #565656;

    &-wr {
        margin-bottom: 10px;
    }

    &-item {
        color: #6f97d4;
        font: 70px / 60px 'HelveticaNeueCyr Bold', Arial, sans-serif;
        letter-spacing: -2px;
    }
}

.allready-exist {
    .form-control {
        flex: 0 0 35%;
        margin-right: 10px;
    }
}

.another-number {
    border: none;
    color: #0056b8;
    font-family: 'HelveticaNeueCyr Roman', Arial, sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

// forms
.form {
    &-heading {
        position: relative;
        font: 25px / 1.2 'HelveticaNeueCyr Roman', Arial, sans-serif;
        padding: 0 0 20px 30px;
        color: #0056b8;
        word-wrap: break-word;
    }
    &-label {
        padding-top: 10px;
        word-break: break-word;
        font: 14px / 1.2 'HelveticaNeueCyr Bold', Arial, sans-serif;
        color: #252525;
        flex: 0 0 40%;
    }

    &-control {
        height: 45px;
        width: 100%;
        border-radius: 0;
        border: 1px solid #e2e2e2;
        background-color: #fff;
        color: #393939;
        padding: 0 30px 0 18px;
        font: 17px / 45px 'HelveticaNeueCyr Roman', Arial, sans-serif;
        box-shadow: none;

        &:disabled,
        &[readonly] {
            background-color: #dde1e5;
            cursor: not-allowed;
        }

        &--code {
            width: 120px;
            padding: 0;
            text-align: center;
        }

        &--wr {
            flex: 0 0 60%;
        }

        &:focus {
            outline: none;
        }
    }

    &-group {
        margin-bottom: 20px;
    }
}

textarea.form-control {
    resize: none;
    height: 90px;
}

.form-number-date {
    width: 125px;
}

.form-month-date {
    width: 150px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e2e2e2;
}

.no-code {
    font-size: 14px;
    color: #343434;

    a {
        border: none;
        color: #0056b8;
        text-decoration: underline;
        cursor: pointer;
    }
}

.password-list {
    flex-wrap: wrap;

    li {
        position: relative;
        flex: 0 0 50%;
        max-width: 50%;
        font-size: 15px;
        padding-left: 15px;

        &:before {
            content: "";
            position: absolute;
            top: 9px;
            left: 0;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background-color: #0056b8;
            transition: all .7s;
        }
    }
}

.form-small-heading {
    font-size: 15px;
    margin: 5px 0;
}

.facebook-wrapper {
    margin-bottom: 10px;
}

.btn-facebook {
    position: relative;
    padding-left: 30px;
    line-height: 28px;
    padding: 6px 12px;
    font-size: 15px;
    border: 1px solid #4281ca;
    background-color: #4281ca;
    color: #fff;
}

.facebook-text {
    padding-left: 10px;
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    color: #363636;
}

.error-text,
.error_text {
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 5px;
    color: #721c24;
    background-color: #f8d7da;
    display: none;
    font: 12px / 1.2 'HelveticaNeueCyr Light', Arial, sans-serif;
}

.btn-personal {
    color: #fff;
    background-color: #45bc75;
    border-color: transparent;
    border-radius: 5px;
    border-width: 0;
    transition-property: all;
    transition-duration: .3s;
    padding: 15px 23px;
    min-width: 165px;

    &:hover,
    &:focus {
        background-color: darken(#45bc75, 10%);
        outline: none;
        color: #fff;
    }
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.stepsbar {
    background-color: #f1f1f1;
    ol {
        overflow: hidden;
        margin: 0;
        list-style: none;
        line-height: 1.2;
        font-size: 18px;
        counter-reset: b;
        animation: o 1s 1 forwards;

        li {
            position: relative;
            counter-increment: b;
            transition: all .5s ease;
            &:before {
                content: counter(b);
                position: relative;
                background-color: #dadcdf;
                color: #7b7b7b;
                width: 50px;
                height: 50px;
                margin: 0 auto .5em;
                border-radius: 100%;
                font: 20px / 50px 'HelveticaNeueCyr Bold', Arial, sans-serif;
                text-align: center;
                z-index: 2;
                border: 2px solid #f1f1f1;
                display: block;
            }

            &:after {
                content: "";
                position: absolute;
                width: 9999px;
                height: 6px;
                display: block;
                background-color: #ccc;
                z-index: 1;
                top: 50%;
                left: 50%;
                margin-top: -20px;
            }

            &:first-of-type {
                display: none;
            }

            &:last-of-type:after {
                background-color: #f1f1f1;
            }

            &.success {
                &:before,
                &:after {
                    background-color: #00b181;
                    color: #fff;
                    background-image: none;
                }

                a {
                    color: #00b181;
                }
            }

            &.active {
                font-weight: 700;
                color: #57aed1;
                &:before {
                    background-color: #00b181;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    border: none;
                    color: #fff;
                    box-shadow: -1px 12px 45px -9px rgba(0, 0, 0, .75);
                    background-image: url(../images/test/ellips.png);
                    background-size: 62px 62px;
                    background-repeat: no-repeat;
                    background-position: 4px 4px;
                }

                a {
                    color: #00b181;
                    text-decoration: none;
                    border: none;
                    padding-top: 0;
                }
            }

            a {
                font-family: 'HelveticaNeueCyr Roman', Arial, sans-serif;
                color: #a2a2a2;
                text-decoration: none;
                border: none;
                padding-top: 10px;
            }
        }
    }
}

.form-row {
    margin: 0 -15px;
}

.form-col-6 {
    flex: 0 0 50%;
    padding: 0 15px;
    max-width: 50%;
}

.form-col-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
}




// Калькулятор
.calculator {
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 45%;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    border-radius: 5px 5px 0 0;

    @media screen and (max-width: 1700px) {
        width: 55%;
    }

    @media screen and (max-width: 1024px) {
        position: static;
        width: 100%;
    }

    &-row {
        display: flex;
        flex-wrap: wrap;
    }

    &-labe {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        @media screen and (max-width: 1280px) {
            width: 75px;
            height: 75px;
        }
    }

    &-btn {
        padding-top: 20px;
    }

    &-left {
        flex: 0 0 60%;
        border-right: 1px solid #eaeaea;
        max-width: 60%;

        @media screen and (max-width: 1024px) {
            flex: 0 0 55%;
            max-width: 55%;
        }
    }

    &-right {
        flex: 0 0 40%;
        max-width: 40%;
        padding: 30px 30px 0;
        @media screen and (max-width: 1024px) {
            flex: 0 0 45%;
            max-width: 45%;
        }
    }

    &-holder {
        margin-bottom: 5px;
    }

    &-start {
        padding: 20px 0 20px;
    }

    &-col {
        min-width: 160px;
        font: 18px / 20px 'HelveticaNeueCyr Medium', Arial, sans-serif;

        @media screen and (max-width: 1280px) {
            font-size: 16px;
        }
    }

    &-img {
        padding: 10px 0;
    }

    &-heading {
        position: relative;
        padding: 15px 30px;
        font: 22px / 1.2 'HelveticaNeueCyr Medium', Arial, sans-serif;
        background-color: #f1f1f1;
        border-radius: 5px 5px 0 0;

        strong {
            color: #0056b8;
        }

        &__hb {}
    }
}

.m-b {
    margin-bottom: 20px;
}

.brand-color {
    color: #00b181;
}

.inverse-color {
    color: #4281ca;
}

.slider-wrapper {
    position: relative;
    margin-bottom: 0;
    font-size: 0;
    height: 20px;
    .slider.slider-horizontal {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
    }
}

.slider-money .slider.slider-horizontal {
    width: 65%;
}

.slider-money,
.slider-days {
    padding: 20px 0;
    position: relative;
}


.slider-money {
    border-bottom: 1px solid #eaeaea;
}

.slider-money-share {
    display: none;
}

.slider-holder {
    margin-bottom: 10px;
}

.slider-tooltip {
    display: none;
}

.slider-money--label {
    font: 18px 'HelveticaNeueCyr Medium', Arial, sans-serif;

    @media screen and (max-width: 1280px) {
        font-size: 16px;
    }
}

.slider-control--wr {
    font-family: 'HelveticaNeueCyr Bold', Arial, sans-serif;
    font-size: 25px;
    color: #00b181;

    @media screen and (max-width: 1280px) {
        font-size: 22px;
    }
}

.slider-money--control {
    border: none;
    width: 90px;
    color: #00b181;
    text-align: right;
    &:focus {
        outline: none;
    }
}

.slider-label {
    position: relative;
    color: #7b7b7b;
    font: 16px 'HelveticaNeueCyr Medium', Arial, sans-serif;

    &__inverse {
        color: #0056b8;
        text-decoration: underline;
    }
}

.slider-tooltip {
    position: absolute;
    display: none;
    width: 196px;
    left: calc(100% + 15px);
    top: 0;
    padding: 14px 16px;
    font: 14px / 15px 'HelveticaNeueCyr Roman', Arial, sans-serif;
    border-radius: 5px;
    color: #393939;
    z-index: 20;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .55);
    background-color: #fff;
}



.slider-money-share {
    position: absolute;
    left: 30%;
    bottom: 20px;
    padding: 3px 10px;
    font-size: 18px;
    color: #fff;
    border-radius: 0 15px 15px 15px;
    background-color: #ff7043;
    display: none;

    &.active {
        display: block;
    }
}


.slider-money .slider-wrapper:before {
    content: "";
    position: absolute;
    right: calc(35% - 13px);
    top: 3px;
    z-index: 2;
    width: 14px;
    height: 14px;
    background-image: url(../images/test/calc-ellipse.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-money .slider-wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(../images/test/calc-limit-bg.png);
    background-size: 100% 10px;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 10px;
    width: 100%;
    top: 5px;
    border-radius: 0 4px 4px 0;
}

.promo-linkwrapper {
    padding-top: 10px;

    a {
        color: #0758be;
        font: 16px 'HelveticaNeueCyr Medium', Arial, sans-serif;
        text-decoration: underline;
    }
}

.slick-dots {
    padding-top: 10px;
    display: flex;
    justify-content: center;

    li {
        button {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, .4);
            margin: 0 5px;
            font-size: 0;
            padding: 0;
            border: none;
        }
        &.slick-active {
            button {
                background-color: #fff;
            }
        }
    }
}

.btn-change {
    padding: 7px 23px;
    width: 100%;
    font-size: 17px;
    background-color: #4281ca;
    color: #fff;

    &:hover {
        background-color: darken(#4281ca, 10%);
    }
}

.stages {
    padding-bottom: 20px;
    padding-top: 10px;
    &-item {
        &__line {
            height: 1px;
            background-color: #a8c2e0;
            flex: 0 0 36%;
            max-width: 36%;
        }
    }

    &-heading {
        font: 12px "HelveticaNeueCyr Bold", Arial, sans-serif;
        text-transform: uppercase;
        color: #6e6e6e;
        margin-bottom: 5px;
    }

    .loan-info {
        &__inverse {
            text-align: right;

            .loan-info__sum {
                color: #0056b8;
            }
        }

        &__sum {
            font: 24px / 24px "HelveticaNeueCyr Bold", Arial, sans-serif;
            color: #00b181;
            text-transform: none;
        }
    }

    .loan-days {
        font: 15px "HelveticaNeueCyr Light", Arial, sans-serif;
        color: #003764;
        text-transform: none;
    }
}

// card page
.card {
    padding-top: 40px;

    &-top {
        background-color: #fbfbfb;
        color: #363636;
        padding: 20px;
        border-radius: 5px; 
    }

    &-add {
        width: 210px;
        height: 130px;
        border-radius: 10px;
        background-color: #fff;
        border: 1px dashed #c9d1df;
        font-size: 14px;
        font-family: HelveticaNeueCyr Roman, Arial, sans-serif;
        cursor: pointer;
        color: #003764;
        transition: background-color .3s;

        span {
            text-align: center;
            display: block;
            font-size: 25px;
        }

        &:hover {
          background-color: #e4e1e1;
        }
    }

    &-wrapper {
        margin: 0 -15px;
    }

    &-left {
        max-width: 66.6%;
        flex: 0 0 66.666%;
        padding: 0 15px;
    }

    &-box {
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
    }

    &-right {
        padding: 0 15px;
        flex: 0 0 33.333%;
        max-width: 33.3%;
    }

    &-text {
        li {
            margin-bottom: 20px;
        }

        [class^="icon"] {
            font-size: 30px;
            margin-right: 15px;
        }

        &__inverse {
            li {
                background-color: #fff;
                padding: 15px;
                border-radius: 5px;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.full {
  width: 100%;  
}

.block-sum {
    >ul {
        padding-top: 20px;
        margin: 0 -15px;
        li {
            position: relative;
            width: 33.3%;
            padding: 0 15px;
        }
    }



    [class^="icon"] {
        font-size: 80px;
        display: block;
        margin-bottom: 15px;
    }
}

.block-or {
    position: absolute;
    top: 40px;
    color: #686868;
    font: italic 18px 'HelveticaNeueCyr Medium', Arial, sans-serif;
    left: 90%;
}

.block-info {
    position: relative;
    padding: 20px 30px;
    box-shadow: 10px 4px 138px -20px rgba(0, 0, 0, .25);

    &:after {
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translate(-50%);
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px;
        border-color: transparent transparent #fff;
    }

    a {
        text-decoration: underline;
        font: 16px 'HelveticaNeueCyr Medium', Arial, sans-serif;
        color: #0055b8;
        &:hover {
            text-decoration: none;
        }
    }
}

.block-heading {
    font: 19px 'HelveticaNeueCyr Medium', Arial, sans-serif;
    color: #393939;
    margin-bottom: 25px;
}



@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

// add card tranzo
.tranzo {
    &-wrapper {
        margin: 0 -15px 30px;
    }

    &-top-info {
        flex: 0 0 50%;
        padding: 0 15px;
    }

    &-holder {
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;

        [class^="icon"] {
            margin-right: 10px;
            font-size: 30px;
        }
    }

    &-heading {
        font: 22px 'HelveticaNeueCyr Roman', Arial, sans-serif;
        margin-bottom: 15px;
        color: #0055bc;
    }

    &-sidebar {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
    }
}

.repayment {
    &-card {
        position: relative;
        z-index: 2;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid #acbace;
        width: 435px;
        min-width: 435px;
        height: 270px;
        background: #e8ebf4;
        background: -webkit-gradient(left top, left bottom, color-stop(0, #e8ebf4), color-stop(100%, #d4dae9));
        background: linear-gradient(180deg, #e8ebf4 0, #d4dae9);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8ebf4", endColorstr="#d4dae9", GradientType=0);
        z-index: 1;

        .form-control,
        .selectric {
            position: relative;
            text-align: center;
            width: 85px;
            padding: 0 10px;

            &__full {
                width: 100%;
            }
        }

        .form-label {
            font-size: 12px;
            margin-bottom: 10px;
            padding-top: 0;
            display: block;
        }

        &__inverse {
            margin: 80px 0 0 -13%;
            z-index: 0;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 28px;
                height: 70px;
                background-color: #c8d0de;
            }
        }
    }

    &-time {
        .form-label {
            margin-bottom: 0;
        }

        .selectric {
            margin-right: 10px;
        }
    }

    &-card-info {
        padding: 20px 30px;
        background-color: #eaf2f9;
        position: relative;
        margin-top: 30px;
        color: #003764;
        font-family: 'HelveticaNeueCyr Roman', Arial, sans-serif;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 2px;
            background-color: #0083ca;
            font-style: italic;
        }
    }
}

.cvv-wrapper {
    padding-top: 100px;

    .form-group {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .btn-personal {
        padding: 9px 35px;
    }
}

.cvv-tooltip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 196px;
    left: calc(100% + 15px);
    top: 0;
    padding: 14px 16px;
    font: 14px / 15px 'HelveticaNeueCyr Roman', Arial, sans-serif;
    border-radius: 5px;
    color: #393939;
    transition: opacity .3s, visibility .3s;
    z-index: 20;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .55);
    background-color: #fff;

    &:after {
        content: '';
        position: absolute;
        right: calc(100% - 6px);
        top: 13px;
        border: 1px solid #cdcdcd;
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        border-top: none;
        border-right: none;
        background-color: #fff;
    }
}

.cvv-label {
    text-align: right;
    margin: 0;
    position: relative;
    padding-right: 10px;
    &:hover {
        .cvv-tooltip {
            opacity: 1;
            visibility: visible;
        }
    }

    span {
        border-bottom: 1px dashed #000;
        font-size: 10px;
    }
}